Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci(screenshots): install playwright package before running snapshots
  .github/workflows/screenshots.yml
Due: check-api-keys

ci(screenshots): patch TagLibSharp-Lidarr NuGet mapping before restore
  .github/workflows/screenshots.yml
Due: check-api-keys

ci(screenshots): robust plugin staging (detect Release/net6.0 path)
  .github/workflows/screenshots.yml
Due: check-api-keys

ci(screenshots): add nightly schedule and extend UI wait for reliability
  .github/workflows/screenshots.yml
Due: check-api-keys

docs(README): point screenshots to real PNGs generated by CI
  README.md
Due: docs-markdownlint, docs-consistency

docs(build): update build docs to use automated Lidarr assemblies setup
  BUILD.md
  BUILD_REQUIREMENTS.md
  DEVELOPMENT.md
  README.md
Due: docs-markdownlint, docs-consistency

docs(build): update build docs to use automated Lidarr assemblies setup (#239)
  BUILD.md
  BUILD_REQUIREMENTS.md
  DEVELOPMENT.md
  README.md
Due: docs-markdownlint, docs-consistency

refactor(core): replace .GetAwaiter().GetResult() with SafeAsyncHelper.RunSafeSync
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IBrainarrOrchestrator.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Integration/ArtistOnlyRecommendationTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
  Brainarr.Tests/TestData/TestDataGenerators.cs
Due: check-api-keys, dotnet-format-whitespace

docs+ci: harden reliability docs; set canonical StylesCatalogUrl; enforce bash defaults; fix test determinism; replace sync-over-async callsites with SafeAsyncHelper; fill TBDs
  .github/workflows/ci.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/wiki-update.yml
  AGENTS.md
  README.md
  docs/DOCS_STRATEGY.md
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/configuration.md
  docs/troubleshooting.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, check-api-keys, docs-consistency

style: order using directives in LibraryAwarePromptBuilder to satisfy dotnet-format
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

ci: patch TagLibSharp-Lidarr mapping before restore in test + security scan jobs to fix NU1100 on net6/net8
  .github/workflows/ci.yml
Due: check-api-keys

ci(test): patch TagLibSharp-Lidarr mapping before dotnet restore in 8.0.x formatting gate
  .github/workflows/ci.yml
Due: check-api-keys

ci: make TagLibSharp-Lidarr NuGet mapping patch cross-platform (awk) for macOS
  .github/workflows/ci.yml
Due: check-api-keys

ci: awk expression made POSIX-friendly for macOS sed/awk differences
  .github/workflows/ci.yml
Due: check-api-keys

ci(macos): replace sed -i with awk in NuGet mapping patch for test matrix
  .github/workflows/ci.yml
Due: check-api-keys

tests(concurrency): re-enable concurrency tests with CI-safe iteration counts and parallelism
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: dedupe TagLib mapping into composite action; remove CS0168 suppression from plugin; re-enable concurrency tests safely
  .github/actions/patch-taglib-mapping/action.yml
  .github/workflows/ci.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-api-keys, check-csproj-versions

refactor(core): remove unnecessary async/await to reduce CS1998 surface (ProviderCapabilities.GetCapabilitiesAsync, RecommendationPipeline.ValidateAsync)
  Brainarr.Plugin/Services/Core/IProviderCapabilities.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
Due: check-api-keys, dotnet-format-whitespace

tests: remove CS1998 suppression; fix trivial async local funcs to use Task.FromResult; ci: add verify-assemblies-manifest composite and use it
  .github/actions/verify-assemblies-manifest/action.yml
  .github/workflows/ci.yml
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Services/Core/RecommendationCoordinatorCacheKeyTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

chore(submodule): update lidarr.plugin.common submodule and set branch to main
  .gitmodules
  setup.sh
Due: check-api-keys

ci(nightly): enable heavy concurrency tests via BRAINARR_HEAVY_TESTS env
  .github/workflows/nightly-perf-stress.yml
Due: check-api-keys

ci: patch submodule NuGet mapping in test + security-scan to resolve TagLibSharp-Lidarr restore on Ubuntu .NET 8 format gate
  .github/workflows/ci.yml
Due: check-api-keys

ci(guards): allow SafeAsyncHelper and docs in sync-over-async grep to avoid false positives
  .github/workflows/ci.yml
Due: check-api-keys

Upgrade lidarr.plugin.common to main; fix setup.sh BOM; patch NuGet (#241)
  .github/workflows/ci.yml
  .gitmodules
  setup.sh
Due: check-api-keys

ci(guards): exclude markdown matches correctly (filter .md:) for sync-over-async grep
  .github/workflows/ci.yml
Due: check-api-keys
