Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci: patch submodule NuGet.config to map TagLibSharp-Lidarr to lidarr-taglib feed in CodeQL/test/ci jobs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(nuget): patch submodule mapping for TagLibSharp-Lidarr in sanity, registry, and package workflows; avoid NU1100 on runners
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

ci/build: serialize plugin builds (-m:1) to avoid GenerateDepsFile file locks; tests: reference Lidarr.Common for NzbDrone.Common.Http types in TestKit
  .github/workflows/plugin-package.yml
  .github/workflows/sanity-build.yml
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions

ci: add -m:1 to all dotnet build steps (CI/test/package/codeql) to avoid file locking on deps.json; fix TestKit build by referencing Lidarr.Common (NzbDrone.Common.Http)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

tests: fix OpenAIProviderContractTests FakeHttpClient to fully implement IHttpClient (align with BaseCloudProviderTests)
  Brainarr.Tests/Services/Providers/OpenAIProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

tests(TestKit): implement full IHttpClient surface on FakeHttpClient to satisfy all call sites
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
Due: check-api-keys, dotnet-format-whitespace

ci(package): soften smoke assertion (continue-on-error + non-fatal if plugin not detected within window)
  .github/workflows/plugin-package.yml
Due: check-api-keys

ci(codeql): set up .NET before CodeQL init; keep manual build with LIDARR_PATH and -m:1 for database creation
  .github/workflows/codeql.yml
Due: check-api-keys

ci(windows): robust tar.gz fallback; codeql manual build; tests: IHttpClient fakes updated; testkit logger sink fix; normalize lockfiles EOLs
  .github/workflows/codeql.yml
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
  Brainarr.Tests/Services/Providers/OpenAIProviderContractTests.cs
  Brainarr.Tests/packages.lock.json
  scripts/extract-lidarr-assemblies.sh
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

testkit: make TestKit a pure library (remove xUnit packages) to avoid test discovery/loading and FluentValidation runtime conflicts
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

tests(openai): ensure Lidarr assemblies are copied to test output via local Directory.Build.props to avoid loader crashes during discovery
  tests/Brainarr.Providers.OpenAI.Tests/Directory.Build.props
Due: check-api-keys

tests(openai): restore csproj and add Lidarr assembly references + LidarrPath resolution for discovery/runtime
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

tests(coverage): add WarnOnceWithEvent and CorrelationScope restore tests; mark TestKit as non-test project to avoid discovery and loader crashes
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

tests: mark new logging tests as Unit so they run in CI's filtered suite
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
Due: check-api-keys, dotnet-format-whitespace
