Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(test): relax Wave-24 #25 OnHttp500_DoesNotPoisonCircuit exception type (Wave-25)
  Brainarr.Tests/Services/Providers/Llm/BrainarrDeepSeekAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrGeminiAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrGroqAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenRouterAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrPerplexityAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrZaiCodingAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrZaiGlmAuthCircuitAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): CertificateValidator chain.Build + SubscriptionCredentialLoader path traversal (Wave-25 #29 + #30, TDD)
  Brainarr.Plugin/Services/Security/CertificateValidator.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Security/CertificateValidatorTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(cancellation): HttpProviderClient.ExecuteWithCt + migrate 17 brainarr HTTP call sites (Wave-25 #28, TDD)
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrAnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGeminiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCompatibleProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/HttpProviderClient.cs
  Brainarr.Tests/Services/Providers/Shared/HttpProviderClientCancellationTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(cleanup): delete brainarr SecureProviderBase + cascade test refactor (Wave-25 #31)
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
  Brainarr.Tests/Infrastructure/ThreadSensitiveTestCollection.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/ProviderRegistryAllowlistTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(orchestrator): remove dead #if DEBUG IBreakerRegistry fallback (Wave-25 #34)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common pin 639d573 → 4923ef7 (Wave-26 #44 lockstep)
  ext-common-sha.txt
Due: none

chore(wave-26): bump Common to 865c65f + TestLogger shim (Wave-26 #50 brainarr)
  Brainarr.Tests/Helpers/TestLogger.cs
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 04df53a (Wave-26 chore branch tip, build-fixed)
  ext-common-sha.txt
Due: none

chore(submodule): bump Common to 9186147 (ecosystem lockstep with Scrub.UrlAndStripQuery)
  ext-common-sha.txt
Due: none

refactor(wave-27): adopt Common's Wave-27 lifts (#54 + #55 + #56 + #59 brainarr)
  .github/workflows/verify-pins.yml
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrHttpResponseHelpers.cs
  Brainarr.Tests/Helpers/HttpResponseFactory.cs
  Brainarr.Tests/Packaging/PackagingFactAttribute.cs
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
  ext-common-sha.txt
  tests/Brainarr.TestKit.Providers/Http/HttpResponseFactory.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(wave-28): adopt Common's reusable workflows + scripts + CT follow-ups (brainarr)
  .github/workflows/bump-common.yml
  .github/workflows/release.yml
  Brainarr.Plugin/Services/Core/IModelActionHandler.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Security/SecureHttpClient.cs
  ext-common-sha.txt
  scripts/e2e.ps1
  scripts/extract-lidarr-assemblies.sh
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common 618ef6b → 0548c89 (Sanitize.FileNameSegment fix + HostGateRegistry.Shutdown lift)
  ext-common-sha.txt
Due: none

chore(ci): update Lidarr plugins digest to sha256:ae0b3b14769fdfeb73fe5d9e61ebcda04edf202244bcbd6323d2fe1381154f57 (#572)
  .github/lidarr_digest.note
  .github/lidarr_digest.txt
Due: check-api-keys

chore(submodule+manifest): bump Common 0548c89 → 211bbe8 + commonVersion 1.17.0 → 1.18.0-dev (Wave-26 lockstep)
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: docs-consistency

chore(submodule): bump Common 211bbe8 → 70f9ebc (Wave-22-28 mega-merge landed)
  ext-common-sha.txt
Due: none
