Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

deps: Bump the test-dependencies group with 2 updates (#473)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

docs: mark all known flaky tests as fixed in CLAUDE.md
  CLAUDE.md
Due: none

fix(topup): unify whitespace normalization with DuplicationPreventionService
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

fix(topup): unify whitespace normalization with DuplicationPreventionService (#475)
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

chore(deps): add host-boundary ignore rules to dependabot
  .github/dependabot.yml
Due: check-api-keys

chore(submodule): bump Common to b0843e7
  ext-common-sha.txt
Due: none

ci(deps): bump actions/setup-dotnet from 4 to 5
  .github/workflows/bump-common.yml
Due: check-api-keys

ci(deps): bump RicherTunes/Lidarr.Plugin.Common/.github/workflows/packaging-gates.yml
  .github/workflows/packaging-gates.yml
Due: check-api-keys

ci(deps): bump actions/cache from 4 to 5
  .github/workflows/ci.yml
Due: check-api-keys

chore: fix trailing newline in packages.lock.json
  Brainarr.Plugin/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: none

deps: Bump FluentValidation from 9.5.4 to 11.12.0 (#481)
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

fix(test): deterministic IDs in LibraryAnalyzer test helpers
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

fix(test): deterministic IDs in LibraryAnalyzer test helpers (#482)
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

fix(deps): pin FluentValidation to 9.5.4 (host alignment) + stress test guardrails
  .github/dependabot.yml
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/Services/Security/Phase1/StressTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  scripts/extract-lidarr-assemblies.sh
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

fix: add trailing newlines to lock files (end-of-file-fixer)
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

fix(deps): pin FluentValidation to 9.5.4 (host alignment) (#483)
  .github/dependabot.yml
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/Services/Security/Phase1/StressTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  scripts/extract-lidarr-assemblies.sh
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

feat(scripts): add local CI verification for billing-blocked workflows
  CLAUDE.md
  scripts/verify-local.ps1
  scripts/verify-local.sh
Due: check-api-keys

feat(scripts): add local CI verification for billing-blocked workflows (#486)
  CLAUDE.md
  scripts/verify-local.ps1
  scripts/verify-local.sh
Due: check-api-keys

ci(deps): bump peter-evans/create-pull-request from 6 to 8 (#485)
  .github/workflows/dependency-update.yml
  .github/workflows/digest-drift.yml
Due: check-api-keys

ci(deps): bump actions/setup-node from 4 to 6 (#484)
  .github/workflows/docs-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/screenshots.yml
  .github/workflows/validate-manifests.yml
Due: check-api-keys

chore(submodule): align ext-common-sha with pinned Common gitlink
  ext-common-sha.txt
Due: none

chore(submodule): align ext-common-sha with pinned Common gitlink (#487)
  ext-common-sha.txt
Due: none

chore(submodule): bump Common to e4586e3
  ext-common-sha.txt
Due: none

chore(submodule): bump Common to e4586e3 (#488)
  ext-common-sha.txt
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

