Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat(08-07): add IsConfigured property to ZaiGlmProvider
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

feat(08-07): add IsConfigured property to OpenAIProvider
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
Due: check-api-keys, dotnet-format-whitespace

feat(08-07): add IsConfigured property to GeminiProvider
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
Due: check-api-keys, dotnet-format-whitespace

test(08-07): add empty API key tests for all Brainarr providers
  Brainarr.Tests/Contract/EmptyApiKeyBrainarrTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(08-07): update ZaiGlmProviderTests to match empty API key behavior
  Brainarr.Tests/Services/Providers/ZaiGlmProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

brainarr(09-05): Update IAIProvider TestConnectionAsync signatures for DIAG-02
  Brainarr.Plugin/Services/IAIProvider.cs
  Brainarr.Plugin/Services/Providers/ClaudeCodeCliProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
  Brainarr.Tests/Contract/ProviderLifecycleTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(09-09): Update test mocks to return ProviderHealthResult instead of bool
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/Configuration/ConfigurationValidationServiceTests.cs
  Brainarr.Tests/Services/Core/AIServiceTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigValidationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConnectionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(09-10): replace null logger with real log capture in HealthTrackingTests
  Brainarr.Tests/Contract/HealthTrackingTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(09-10): correct Logger type and fix test assertions in HealthTrackingTests
  Brainarr.Tests/Contract/HealthTrackingTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(tests): Replace legacy contract tests with conformance suite
  Brainarr.Tests/Contract/EmptyApiKeyBrainarrTests.cs
  Brainarr.Tests/Contract/NegativePathTests.cs
  Brainarr.Tests/Contract/ProviderLifecycleTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Services/Providers/OpenRouterProviderTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

chore: repin Common submodule to 8344b04
  ext-common-sha.txt
Due: none

chore: repin Common submodule to 2ab331b (FluentValidation host binding)
  ext-common-sha.txt
Due: none

chore: repin Common submodule to d628179
  ext-common-sha.txt
Due: none

fix: compile against host FluentValidation 9.x, pin FA to MIT 6.12.0
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/nightly.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Configuration/FluentValidationHostVersionGuardTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

chore: adopt reusable packaging-gates from Common
  .github/workflows/packaging-gates.yml
  VERSION
  ext-common-sha.txt
  plugin.json
  schemas/plugin.schema.json
Due: check-api-keys, docs-consistency

chore(submodule): bump Common to b9492e8
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

chore(submodule): bump Common to b9492e8 (#398)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

feat(ci): add verify-pins workflow and bump Common to de1d89c
  .github/sha-pin-allowlist.json
  .github/workflows/verify-pins.yml
  ext-common-sha.txt
Due: check-api-keys

feat(ci): add verify-pins workflow and bump Common to de1d89c (#399)
  .github/sha-pin-allowlist.json
  .github/workflows/verify-pins.yml
  ext-common-sha.txt
Due: check-api-keys

refactor: standardize submodule path to ext/Lidarr.Plugin.Common
  .github/actions/init-common-submodule/action.yml
  .github/actions/patch-taglib-mapping/action.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
  .gitmodules
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  docs/architecture/shared-library-integration.md
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions

fix: update Brainarr.sln to use PascalCase submodule path
  Brainarr.sln
Due: check-api-keys

refactor: standardize submodule path to ext/Lidarr.Plugin.Common (#400)
  .github/actions/init-common-submodule/action.yml
  .github/actions/patch-taglib-mapping/action.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
  .gitmodules
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.sln
  docs/architecture/shared-library-integration.md
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions

fix(ci): resolve Plugin Package, Screenshots, and Pre-Commit failures
  .github/workflows/plugin-package.yml
  .github/workflows/screenshots.yml
  .pre-commit-config.yaml
Due: check-api-keys

fix(ci): narrow detect-secrets exclusion to workflows only
  .pre-commit-config.yaml
Due: check-api-keys
