Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


Add embedded model registry fallback and tests (#188)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Models/ModelRegistryDocument.cs
  Brainarr.Plugin/Services/ModelRegistryLoader.cs
  Brainarr.Tests/Services/ModelRegistryLoaderTests.cs
  docs/models.example.json
  docs/models.schema.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

Add packaged model registry fallback
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Configuration/ModelRegistryLoader.cs
  Brainarr.Tests/Services/Core/ModelRegistryLoaderTests.cs
  docs/models.example.json
  docs/models.schema.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

Ensure registry decorator updates provider availability
  .github/workflows/registry.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  docs/models.example.json
  docs/models.schema.json
Due: check-api-keys, dotnet-format-whitespace

Fix registry workflow compile issues
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Tests/Brainarr.Tests.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test: fix analyzer diagnostics for formatter gate
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidationTests.cs
  Brainarr.Tests/Configuration/Providers/GeminiSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OllamaSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OpenAISettingsTests.cs
  Brainarr.Tests/Models/Responses/Phase2ResponseModelTests.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
  Brainarr.Tests/Services/Security/SecureHttpClientTests.cs
  Brainarr.Tests/Services/Support/MinimalResponseParserTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: harden registry loader and decorator
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  CHANGELOG.md
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency, dotnet-format-whitespace

chore: trim registry PR scope and fix packaging
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Tokens/ApproximateTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/GeminiTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/ITokenCounter.cs
  Brainarr.Plugin/Services/Tokens/TokenBudgeter.cs
  Brainarr.Tests/Services/Tokens/TokenBudgeterTests.cs
  plugin.json
Due: check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Align registry DTO property names with schema
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

feat: add token budgeting utilities
  .github/workflows/registry.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Tokens/ApproximateTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/GeminiTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/ITokenCounter.cs
  Brainarr.Plugin/Services/Tokens/TokenBudgeter.cs
  Brainarr.Tests/Services/Tokens/TokenBudgeterTests.cs
Due: check-api-keys, dotnet-format-whitespace

Chore/ci assemblies gating (#185)
  .github/workflows/ci.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  scripts/extract-lidarr-assemblies.sh
  test-local-ci.sh
Due: check-api-keys

fix: align registry loader references and doc embeds
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrImportList.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix: use forward slashes for registry docs assets
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: align registry loader references and doc embeds (#191)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrImportList.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

Apply registry defaults for local providers and update docs
  .github/workflows/registry.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidationTests.cs
  Brainarr.Tests/Configuration/Providers/GeminiSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OllamaSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OpenAISettingsTests.cs
  Brainarr.Tests/Models/Responses/Phase2ResponseModelTests.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
  Brainarr.Tests/Services/Security/SecureHttpClientTests.cs
  Brainarr.Tests/Services/Support/MinimalResponseParserTests.cs
  CHANGELOG.md
  README.md
  docs/PLUGIN_MANIFEST.md
  docs/models.example.json
  docs/models.schema.json
  manifest.json
  plugin.json
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Implement style-aware prompt builder with model-aware budgeting
  Brainarr.Plugin/Models/LibraryStyleContext.cs
  Brainarr.Plugin/Models/Recommendation.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
Due: check-api-keys, dotnet-format-whitespace

Refine style-aware sampling and prompt planning
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Models/LibraryStyleContext.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  docs/API_REFERENCE.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Use deterministic hash for sampling seed
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Support relaxed style matching
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace
