Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix: keep recs when MBID lookup fails
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Tests/Services/Enrichment/ArtistMbidResolverBestEffortTests.cs
  Brainarr.Tests/Services/Enrichment/MusicBrainzResolverCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: keep recs when MBID lookup fails (#381)
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Tests/Services/Enrichment/ArtistMbidResolverBestEffortTests.cs
  Brainarr.Tests/Services/Enrichment/MusicBrainzResolverCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: add Performance trait to ReDoS protection tests
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: isolate ResiliencePolicy tests from static state pollution
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Tests/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: isolate ResiliencePolicy tests from static state pollution (#382)
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Tests/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(core): stabilize top-up unit test
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(core): stabilize top-up unit test (#387)
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(packaging): require canonical Abstractions
  build.ps1
  ext-common-sha.txt
Due: check-api-keys

chore(submodule): bump Common for canonical packaging fix
  ext-common-sha.txt
Due: none

chore(version): align VERSION with plugin.json
  VERSION
Due: check-api-keys

chore(manifest): add modern plugin.json fields
  plugin.json
Due: docs-consistency

fix(manifest): correct rootNamespace for entrypoint validation
  plugin.json
Due: docs-consistency

feat(build): enable entrypoint validation, normalize manifest
  build.ps1
  plugin.json
Due: check-api-keys, docs-consistency

chore(ci): align packaging closure with PluginPack pipeline
  .github/workflows/packaging-closure.yml
Due: check-api-keys

chore(ci): adopt reusable packaging gates (Common cfb131f)
  .github/workflows/packaging-gates-caller.yml
  ext-common-sha.txt
Due: check-api-keys

docs: remove stale .worktrees guidance
  AGENTS.md
Due: none

fix: update plugin schema to canonical format
  schemas/plugin.schema.json
Due: none

fix: repair build.ps1 parsing
  .github/workflows/sanity-build.yml
  build.ps1
Due: check-api-keys

chore(ci): add single-plugin E2E schema gate
  .github/workflows/single-plugin-e2e.yml
Due: check-api-keys

chore(ci): bump Lidarr tag for smoke test
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

chore(ci): bump Common to a7050c6
  .github/workflows/packaging-gates-caller.yml
  ext-common-sha.txt
Due: check-api-keys

refactor(core): extract managers from BrainarrOrchestrator god-class
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/BrainarrUIActionHandler.cs
  Brainarr.Plugin/Services/Core/IBrainarrUIActionHandler.cs
  Brainarr.Plugin/Services/Core/IModelOptionsProvider.cs
  Brainarr.Plugin/Services/Core/IProviderLifecycleManager.cs
  Brainarr.Plugin/Services/Core/IReviewQueueManager.cs
  Brainarr.Plugin/Services/Core/ModelOptionsProvider.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleManager.cs
  Brainarr.Plugin/Services/Core/ReviewQueueManager.cs
Due: check-api-keys, dotnet-format-whitespace

chore(ci): update workflows with test category enforcement
  .github/test-runner-allowlist.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/plugin-package.yml
  .github/workflows/quarantine-review.yml
  .github/workflows/release.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

test: clean up unused imports and update test categories
  Brainarr.Tests/AsyncHelperTests.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/BrainarrDependencyInjectionTests.cs
  Brainarr.Tests/BrainarrImportListIntegrationTests.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsProviderSwitchingTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorTests.cs
  Brainarr.Tests/Configuration/ModelIdMapperTests.cs
  Brainarr.Tests/Configuration/SamplingShapeTests.cs
  Brainarr.Tests/Configuration/UrlValidatorTests.cs
  Brainarr.Tests/Documentation/MetadataConsistencyTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
  Brainarr.Tests/ProviderSwitchingTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Security/JsonDeserializationSecurityTests.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/CorrelationAsyncFlowTests.cs
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
  Brainarr.Tests/Services/ProviderRegistryTests.cs
  Brainarr.Tests/Services/RecommendationCacheSpecificTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  Brainarr.Tests/Utils/ModelNameFormatterTests.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
  Brainarr.Tests/Validation/HallucinationDetectionTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

docs: update documentation and bump Common submodule
  CONTRIBUTING.md
  Directory.Packages.props
  README.md
  docs/DOCUMENTATION-STRUCTURE.md
  docs/LEARNING-PATHS.md
  docs/NAVIGATION.md
  docs/README.md
  ext-common-sha.txt
  scripts/test-packaging.ps1
  scripts/test.ps1
Due: docs-markdownlint, check-api-keys, docs-consistency

chore(04-01): add Z.AI GLM API endpoint and default model constants
  Brainarr.Plugin/Configuration/Constants.cs
Due: check-api-keys, dotnet-format-whitespace

feat(04-01): implement ZaiGlmProvider for Z.AI GLM models
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Services/Providers/Capabilities/ProviderCapabilities.cs
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

feat(04-02): add ZaiGlm model normalization to ProviderModelNormalizer
  Brainarr.Plugin/Configuration/ProviderModelNormalizer.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

