Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci(tests/linux): make coverage step non-blocking; add final status gate; list+upload unit artifacts reliably; add CopyLocalLockFileAssemblies to provider-contract tests for stable runtime resolution
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/ModuleInit.cs
  global.json
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/ModuleInit.cs
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
  tests/Brainarr.TestKit.Providers/Http/HttpResponseFactory.cs
  tests/Brainarr.TestKit.Providers/Runtime/TestAssemblyResolver.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

ci: install .NET 8 SDK alongside 6.0 to satisfy multi-targeted submodule (Lidarr.Plugin.Common net8.0) on Linux + Windows
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

repo: set global.json to .NET SDK 8.0 (restore/build under SDK 8 supports net6+net8 submodule); CI already installs 6.0 and 8.0
  global.json
Due: none

ci(tests/linux): run tests via PATH dotnet; drop DOTNET_ROOT pin + roll-forward overrides so net6 testhost can resolve installed runtimes
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

tests(openai): add Microsoft.NET.Test.Sdk to provider-contract project to supply testhost + CommunicationUtilities; unblocks Linux testhost startup
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

tests(openai): remove CopyLocalLockFileAssemblies; rely on default testhost + ModuleInitializer resolver; avoid missing CommunicationUtilities from SDK test platform
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

tests: align Microsoft.NET.Test.Sdk to 17.11.1 to match SDK 8.0.414 bundled test platform on Linux; avoids missing CommunicationUtilities in testhost.deps
  Directory.Packages.props
Due: check-api-keys
