Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

tests: make logger sink capture rule highest priority; adjust NoRetryOn4xx to expect 2 (alternate body attempts, no resilience retries)
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
Due: check-api-keys, dotnet-format-whitespace

tests: fix NLog config mutation (remove read-only assignment); keep rule inserted at highest priority
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
Due: check-api-keys, dotnet-format-whitespace

obs(openai): also emit one-time fallback warning on first request when IHttpResilience is null (constructor path kept); ensures production visibility and test determinism
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
Due: check-api-keys, dotnet-format-whitespace

tests(openai): assert warn-once via test accessor (HasWarnedOnceForTests) to avoid NLog rule variance; keep sink-based soft checks
  Brainarr.Plugin/Services/CorrelationContext.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci/tests: fix HttpResponse calls, stabilize Linux provider-contract, add SDK 8, reliable artifacts (#235)
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/ModuleInit.cs
  Directory.Packages.props
  global.json
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/ModuleInit.cs
  tests/Brainarr.TestKit.Providers/Http/HttpResponseFactory.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
  tests/Brainarr.TestKit.Providers/Runtime/TestAssemblyResolver.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

1.3.0: fix tests for HttpResponse changes + stabilize CI (Linux+Windows) (#236)
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/ModuleInit.cs
  Directory.Packages.props
  global.json
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/ModuleInit.cs
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
  tests/Brainarr.TestKit.Providers/Http/HttpResponseFactory.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
  tests/Brainarr.TestKit.Providers/Runtime/TestAssemblyResolver.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

ci: normalize EOF per pre-commit end-of-file-fixer
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(pre-commit): expose DOTNET_ROOT and PATH so dotnet-format hook can run; normalize test-and-coverage EOF
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci(pre-commit): retrigger pre-commit with no-op change
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci(pre-commit): also install .NET 8 SDK so dotnet-format hook runs reliably
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci(pre-commit): run pre-commit natively on runner so dotnet-format can see installed SDKs
  .github/workflows/pre-commit.yml
Due: check-api-keys

Fix pre-commit CI: dotnet PATH + EOF (#237)
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci: fix restore by using repo NuGet.config (remove CI-only NuGet override); security-scan mirrors change
  .github/workflows/ci.yml
Due: check-api-keys

ci: use --mode full --no-tar-fallback for assemblies in CI to match Test-and-Coverage
  .github/workflows/ci.yml
Due: check-api-keys

ci: make provider-contract run only on Ubuntu .NET 6; always list and upload test artifacts across lanes
  .github/workflows/ci.yml
Due: check-api-keys

ci: run formatting on .NET 8 only; keep .NET 6 job clean
  .github/workflows/ci.yml
Due: check-api-keys

ci: temporarily suppress RS0022 for submodule Abstractions on Windows to unblock CI
  Directory.Build.props
Due: check-api-keys

ci: remove temporary RS0022 suppression (now handled in submodule)
  Directory.Build.props
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

