Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


refactor(ci): use Common's reusable CodeQL workflow (#580)
  .github/workflows/codeql.yml
Due: check-api-keys

refactor(ci): use Common's reusable notify-failure workflow
  .github/workflows/notify-failure.yml
Due: check-api-keys

refactor(ci): use Common's reusable notify-failure workflow (#581)
  .github/workflows/notify-failure.yml
Due: check-api-keys

chore: align Common pin + reusable-workflow refs to 533c143
  .github/workflows/codeql.yml
  .github/workflows/docker-e2e.yml
  ext-common-sha.txt
Due: check-api-keys

chore: align Common pin + reusable-workflow refs to 533c143 (#582)
  .github/workflows/codeql.yml
  .github/workflows/docker-e2e.yml
  ext-common-sha.txt
Due: check-api-keys

chore: re-pin Common to rewritten main (76bb178) after author-history cleanup
  .github/workflows/codeql.yml
  .github/workflows/docker-e2e.yml
  .github/workflows/notify-failure.yml
  ext-common-sha.txt
Due: check-api-keys

fix(ci): repoint Common reusable refs to @workflows/v1 after history rewrite
  .github/workflows/bump-common.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-e2e.yml
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/notify-failure.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/release.yml
  .github/workflows/verify-pins.yml
Due: check-api-keys

docs: add disclaimer (educational/research use, provider ToS, no warranty)
  README.md
Due: docs-markdownlint, docs-consistency

fix(http): use Common LlmErrorMapper.ParseRetryAfterHeader for Retry-After
  Brainarr.Plugin/Services/Providers/Llm/StreamingHttpExecutor.cs
Due: check-api-keys, dotnet-format-whitespace

fix: harden recommendation pipeline against untrusted LLM data (defect hunt)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Plugin/Services/Providers/Parsing/RecommendationJsonParser.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Providers/Parsing/RecommendationJsonParserInvariantTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: harden recommendation pipeline against untrusted LLM data (defect hunt) (#583)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Plugin/Services/Providers/Parsing/RecommendationJsonParser.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Providers/Parsing/RecommendationJsonParserInvariantTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 8dedf00
  ext-common-sha.txt
Due: none

perf(memory): bound ArtistMbidResolver MBID cache with BoundedConcurrentDictionary
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
Due: check-api-keys, dotnet-format-whitespace

fix(memory): cap ValidationMetrics history on the batch path
  Brainarr.Plugin/Services/Validation/ValidationMetrics.cs
Due: check-api-keys, dotnet-format-whitespace

perf(review): single thread-pool hop for ReviewQueueService.Enqueue batch
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
Due: check-api-keys, dotnet-format-whitespace

fix: invariant casing in genre-overview matching (Turkish-I locale bug)
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: remove dead DateUtil utility class
  Brainarr.Plugin/Services/Utils/DateUtil.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to merged main c2aca69 for ecosystem lockstep
  ext-common-sha.txt
Due: none

chore: remove orphaned dead code (ServiceResult<T>, NLogWrapper)
  Brainarr.Plugin/Services/NLogWrapper.cs
  Brainarr.Plugin/Services/ServiceResult.cs
Due: check-api-keys, dotnet-format-whitespace

chore: add .mailmap to consolidate contributor identities
  .mailmap
Due: check-api-keys

release: Brainarr v1.6.1 + re-pin Common to 594a73b
  VERSION
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency
