Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(pre-commit): apply auto-fixes
  _plugins/Brainarr.Plugin/Lidarr.Plugin.Common.xml
  _plugins/Brainarr.Plugin/Localization/Core/en.json
  pr103.diff
  scripts/branch-audit.sh
  setup-lidarr.sh
Due: check-api-keys

feat(styles): add comprehensive music style filtering with dynamic catalog
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/PluginConstants.cs
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TokenBudgetService.cs
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Styles/Style.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Services/Core/OrchestratorStylesOptionsTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineStyleGuardTests.cs
  Brainarr.Tests/Services/Core/TokenBudgetServiceTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderStyleTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogDataTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogServiceTests.cs
  catalog/music_styles.json
  docs/COMPREHENSIVE_SAMPLING_AND_STYLES_PLAN.md
  docs/UI_UX_IMPROVEMENTS.md
  wiki-content/Music-Styles.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore(pre-commit): apply auto-fixes
  Brainarr.Plugin/Services/Core/TokenBudgetService.cs
  Brainarr.Plugin/Services/Styles/Style.cs
  Brainarr.Tests/Services/Core/TokenBudgetServiceTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderStyleTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogDataTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: remove duplicate style settings and add StyleEntry class
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Services/Styles/Style.cs
Due: check-api-keys, dotnet-format-whitespace

revert: temporarily revert PR #131 (comprehensive styles) due to interface incompatibilities
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Resources/music_styles.json
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TokenBudgetService.cs
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Styles/Style.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Services/Core/OrchestratorStylesOptionsTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineStyleGuardTests.cs
  Brainarr.Tests/Services/Core/TokenBudgetServiceTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderStyleTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogDataTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogServiceTests.cs
  catalog/music_styles.json
  docs/COMPREHENSIVE_SAMPLING_AND_STYLES_PLAN.md
  docs/UI_UX_IMPROVEMENTS.md
  wiki-content/Music-Styles.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: add integration plan for PR #131 comprehensive styles feature
  docs/PR131_INTEGRATION_PLAN.md
Due: docs-markdownlint, docs-consistency

feat: Add comprehensive music styles integration (PR #131 proper integration)
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  global.json
Due: check-api-keys, dotnet-format-whitespace

fix: Update test stubs to implement new IStyleCatalogService interface methods
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/StyleSelectionServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: Add comprehensive unit test coverage for core services
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/CanonicalModelMapperTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
  Brainarr.Tests/Services/Core/TopUpPlannerTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Use correct RecommendationMode enum values in tests
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Remove problematic tests and fix FluentAssertions API usage
  Brainarr.Tests/Services/Core/CanonicalModelMapperTests.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
  Brainarr.Tests/Services/Core/TopUpPlannerTests.cs
  Brainarr.Tests/Services/Styles/StyleCatalogServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Use correct FluentAssertions API - BeLessThanOrEqualTo
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Replace empty catch blocks with proper debug logging
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
Due: check-api-keys, dotnet-format-whitespace

feat: Add timeout bounds validation and centralize timeout constants
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

feat: Centralize additional constants for circuit breaker and token limits
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreaker.cs
Due: check-api-keys, dotnet-format-whitespace

feat: Music styles integration with stabilization improvements (#282)
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/StyleSelectionServiceTests.cs
  global.json
Due: check-api-keys, dotnet-format-whitespace

docs: Update documentation for stabilization improvements
  CLAUDE.md
  README.md
  docs/configuration.md
  docs/release-notes/v1.3.2-stabilization.md
Due: docs-markdownlint, docs-consistency

fix: Align timeout validation with centralized constants
  Brainarr.Plugin/Configuration/AdvancedProviderSettings.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: Replace empty catch blocks with proper debug logging
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: Complete empty catch block remediation across codebase
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Core/RecommendationCoordinator.cs
  Brainarr.Plugin/Services/Core/RecommendationSanitizer.cs
  Brainarr.Plugin/Services/Core/RecommendationSchemaValidator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/Http/SecureHttpClientFactory.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Services/Telemetry/Events.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Suppress NU1605 package downgrade warnings in test projects
  Brainarr.Tests/Brainarr.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

fix(build): add NU1605 suppression to main plugin project
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/packages.lock.json
Due: check-csproj-versions

fix(deps): upgrade Microsoft.Extensions packages to 8.0.x
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys
