Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat(brainarr): extend LlmAuthCircuit coverage to all 11 cloud / subscription providers
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGeminiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

docs(brainarr): record LlmAuthCircuit 11-provider coverage in CLAUDE + CHANGELOG
  CHANGELOG.md
  CLAUDE.md
Due: none

chore(parity): Sprint A — Wave-22 ext-common-sha + README + MakeKey fix
  Brainarr.Plugin/Services/Resilience/LlmAuthCircuit.cs
  README.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

refactor(cache): bound LibraryProfileService via BoundedConcurrentDictionary (Wave 18D-T3)
  Brainarr.Plugin/Services/Core/LibraryProfileOptions.cs
  Brainarr.Plugin/Services/Core/LibraryProfileService.cs
Due: check-api-keys, dotnet-format-whitespace

test(circuit): regression tests for MakeKey null/empty guard (Wave-22)
  Brainarr.Tests/Services/Resilience/LlmAuthCircuitTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(cleanup): Sprint D — delete Brainarr.Plugin/TechDebt/ scaffolding
  Brainarr.Plugin/TechDebt/ComprehensiveTechDebtReport.md
  Brainarr.Plugin/TechDebt/Path-To-10-Assessment.md
  Brainarr.Plugin/TechDebt/TechDebtRemediation.cs
  Brainarr.Plugin/TechDebt/TestFailureRootCauseAnalysis.md
  Brainarr.Tests/TechDebt/TechDebtRemediationServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs(claude): link ECOSYSTEM_PARITY_MATRIX.md from Common helpers section (#30)
  CLAUDE.md
Due: none

feat(circuit): wire LlmAuthCircuit into OpenAiCompatibleProvider (#34)
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCompatibleProvider.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common pin v1.16.0 → v1.17.0 (Wave-23 ecosystem catch-up)
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: docs-consistency

fix(security): tighten apiKey/cache-key whitespace guards (Wave-23 collision-class)
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/Resilience/LlmAuthCircuit.cs
  Brainarr.Tests/Services/Resilience/LlmAuthCircuitTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(parity): add PluginName/ServiceName/PluginVendor triple to BrainarrConstants (Wave-23)
  Brainarr.Plugin/Configuration/Constants.cs
Due: check-api-keys, dotnet-format-whitespace

chore(cleanup): purge stale TechDebt refs + relocate DIWiringAndParityTests (Wave-23)
  Brainarr.Tests/DependencyInjection/DIWiringAndParityTests.cs
  DELEGATION_PLAN.md
  docs/TECHDEBT_TEARDOWN_PLAN.md
  prod_files.txt
  tasks/brainarr-tech-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs(changelog): Wave-23 entries — v1.17.0 bump + security + cleanup
  Brainarr.Plugin/Services/Security/SecureUrlValidator.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

test(circuit): 8 missing per-provider OpenCircuit adoption tests (Wave-24 #25)
  Brainarr.Tests/Services/Providers/Llm/BrainarrDeepSeekAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrGeminiAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrGroqAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenRouterAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrPerplexityAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrZaiCodingAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/BrainarrZaiGlmAuthCircuitAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace
