Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(packaging): include manifest.json in build output for packaging-gates (#437)
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

docs(csproj): add comment explaining manifest.json packaging-gates dependency
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

chore: bump Common to 1fe2da1 + add update-expected-contents wrapper
  ext-common-sha.txt
  scripts/update-expected-contents.ps1
Due: check-api-keys

fix(ci): update packaging-gates workflow SHA to match ext-common-sha.txt
  .github/workflows/packaging-gates.yml
Due: check-api-keys

chore: bump Common + add expected-contents generator wrapper (#438)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
  scripts/update-expected-contents.ps1
Due: check-api-keys

fix(tests): resolve 3 flaky tests and document flakiness policy
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

style: fix markdownlint errors in CLAUDE.md
  CLAUDE.md
Due: none

fix: flaky test triage — NLog race + WarnOnce state + markdownlint
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

refactor(prompting): extract metadata helper, section builders, and decompose pipeline
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/ProfileMetadataHelper.cs
  Brainarr.Plugin/Services/Prompting/Sections/CollectionContextSection.cs
  Brainarr.Plugin/Services/Prompting/Sections/CollectionPatternsSection.cs
  Brainarr.Plugin/Services/Prompting/Sections/IPromptSection.cs
  Brainarr.Plugin/Services/Prompting/Sections/MusicalDnaSection.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/ProfileMetadataHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): make Pre-Commit workflow read-only + add golden snapshot and perf tests
  .github/workflows/pre-commit.yml
  Brainarr.Tests/Services/Core/LibraryAnalyzerPerfTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererGoldenTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: fix trailing newlines to satisfy pre-commit end-of-file-fixer
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Helpers/PassThroughBreakerRegistryTests.cs
  Brainarr.Tests/Packaging/PackagingFactAttribute.cs
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
  Brainarr.Tests/Services/Core/OrchestratorConstructionTripwireTests.cs
  Brainarr.Tests/Services/Enrichment/ArtistMbidResolverBestEffortTests.cs
  Brainarr.Tests/packages.lock.json
  manifest.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore: remove trailing whitespace in plugin-package.yml
  .github/workflows/plugin-package.yml
Due: check-api-keys

chore: allowlist detect-secrets false positives
  .gitleaks.toml
  Brainarr.Plugin/Diagnostics/BrainarrHealthDiagnostics.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): remove 3 forbidden host assemblies from plugin package
  .github/workflows/plugin-package.yml
  manifest.json
Due: check-api-keys

fix(ci): wait for config.xml before smoke test API assertions
  .github/workflows/plugin-package.yml
Due: check-api-keys

fix(ci): bump Lidarr Docker image to net8 (pr-plugins-3.1.2.4913)
  .claude/skills/container-deployment/SKILL.md
  .github/lidarr_digest.txt
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/test-and-coverage.yml
  AGENTS.md
  README.md
  docs/ci-stability-guide.md
  scripts/extract-lidarr-assemblies.sh
  scripts/snapshots/run-local.ps1
  scripts/snapshots/run-local.sh
  test-local-ci.sh
Due: docs-markdownlint, check-api-keys, docs-consistency

docs(CLAUDE.md): add Runtime & Docker Image Requirements section
  CLAUDE.md
Due: none
