Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

test(brainarr): de-flake MetricsCollector* tests by sharing xUnit Collection
  Brainarr.Tests/Telemetry/MetricsCollectorExporterTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(release): bump to v1.5.4 — LlmAuthCircuit, PluginLifecycle adoption, bounded dicts
  CHANGELOG.md
  VERSION
  manifest.json
Due: check-api-keys

docs: add Common helpers in use section to CLAUDE.md
  CLAUDE.md
Due: none

docs(brainarr): correct quarantined-tests list (3 actual, not 5) + revival notes
  CLAUDE.md
Due: none

feat(brainarr): adopt Common observability — PluginLogContext + Scrub at 5 entry points
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrAnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Tests/Observability/ObservabilityAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(release): bump to v1.5.5 — observability Wave 13B + module dispose
  CHANGELOG.md
  VERSION
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

feat(brainarr): extend observability wrapping to remaining 9 cloud providers
  Brainarr.Plugin/Services/Providers/Llm/BrainarrClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGeminiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

chore(release): bump to v1.5.6
  CHANGELOG.md
  VERSION
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

ci(lint): migrate sync-over-async guard to Common canonical script
  .github/workflows/ci.yml
  scripts/lint-sync-over-async.ps1
Due: check-api-keys

refactor(brainarr): consume Common.RetryPolicyFactory.CreateForLocalProviders; fix ReviewQueueService sync-over-async (Wave 16C)
  .github/sync-over-async-allowlist.json
  Brainarr.Plugin/ILRepack.targets
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/ProviderInvoker.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
  Brainarr.Tests/Services/Logging/NLogToILoggerAdapterTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(stress): add CI guard to StressTest_MemoryPressure_HandlesGracefully
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(safety-gate): cover Wave 11C audit gaps — flags, downstream errors, payload edges
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(orchestrator): cover cache hit and miss workflow paths
  Brainarr.Tests/Services/Core/BrainarrOrchestratorCoverageGapsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(pipeline): cover filter rejection paths (Wave 11C audit gap)
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

