Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci(deps): disable NuGet package source mapping for entire job
  .github/workflows/dependency-update.yml
Due: check-api-keys

ci(deps): use local nuget config for restore/outdated to bypass repo source mapping
  .github/workflows/dependency-update.yml
Due: check-api-keys

tests: reuse shared Docker-only assemblies with manifest checks in test-and-coverage; align paths
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

Refresh provider defaults and normalize model handling
  .github/workflows/digest-drift.yml
  .pre-commit-config.yaml
  .worktrees/main/.github/workflows/test-and-coverage.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Configuration/ProviderModelNormalizer.cs
  Brainarr.Plugin/Configuration/Providers/GeminiSettings.cs
  Brainarr.Plugin/Configuration/Providers/GroqSettings.cs
  Brainarr.Plugin/Configuration/Providers/PerplexitySettings.cs
  Brainarr.Plugin/Configuration/UrlValidator.cs
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Plugin/Utils/ModelNameFormatter.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsProviderSwitchingTests.cs
  Brainarr.Tests/Configuration/LegacyProviderSettingsValidatorTests.cs
  Brainarr.Tests/Configuration/ModelIdMapperTests.cs
  Brainarr.Tests/Configuration/Providers/GeminiSettingsTests.cs
  Brainarr.Tests/Configuration/UrlValidatorTests.cs
  Brainarr.Tests/ImportList/BrainarrImportListTests.cs
  Brainarr.Tests/ProviderSwitchingTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
  Brainarr.Tests/Services/Core/ModelKeysTests.cs
  Brainarr.Tests/Services/Core/RecommendationSchemaValidatorTests.cs
  Brainarr.Tests/Services/Core/TimeoutContextTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Utils/ModelNameFormatterTests.cs
  tasks/provider-testing.md
Due: check-api-keys, dotnet-format-whitespace

chore: disable project auto-add workflows
  .github/workflows/add-to-project.yml.disabled
  .github/workflows/project-auto-add.yml.disabled
  tasks/issue-project-auto-add.md
Due: check-api-keys

fix: stabilize concurrency helpers
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
Due: check-api-keys, dotnet-format-whitespace

chore: adding music styles
  Brainarr.Plugin/Resources/music_styles.json
Due: none

fix: Plug Gemini guardrails, fix model UI labels, stabilize tests
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Configuration/ProviderModelNormalizer.cs
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Configuration/ModelIdMapperTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/RateLimiterTests.cs
  Brainarr.Tests/Services/Providers/Parsing/RecommendationJsonParserGoldenTests.cs
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

chore: updated codex agent file to reflect better the project
  AGENTS.md
Due: none

Ensure registry decorator updates provider availability
  .github/workflows/registry.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  docs/models.example.json
  docs/models.schema.json
Due: check-api-keys, dotnet-format-whitespace

Fix registry workflow compile issues
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Tests/Brainarr.Tests.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test: fix analyzer diagnostics for formatter gate
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidationTests.cs
  Brainarr.Tests/Configuration/Providers/GeminiSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OllamaSettingsTests.cs
  Brainarr.Tests/Configuration/Providers/OpenAISettingsTests.cs
  Brainarr.Tests/Models/Responses/Phase2ResponseModelTests.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
  Brainarr.Tests/Services/Security/SecureHttpClientTests.cs
  Brainarr.Tests/Services/Support/MinimalResponseParserTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: harden registry loader and decorator
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  CHANGELOG.md
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency, dotnet-format-whitespace

docs/tooling: harden agent onboarding scripts
  AGENTS.md
  setup-lidarr.ps1
  setup.ps1
  setup.sh
Due: check-api-keys

Ensure registry workflow sets Lidarr path
  .github/workflows/registry.yml
Due: check-api-keys

Ensure registry workflow sets Lidarr path (#187)
  .github/workflows/registry.yml
Due: check-api-keys

feat: add token budgeting utilities
  .github/workflows/registry.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Tokens/ApproximateTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/GeminiTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/ITokenCounter.cs
  Brainarr.Plugin/Services/Tokens/TokenBudgeter.cs
  Brainarr.Tests/Services/Tokens/TokenBudgeterTests.cs
Due: check-api-keys, dotnet-format-whitespace

Add embedded model registry fallback and tests
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Models/ModelRegistryDocument.cs
  Brainarr.Plugin/Services/ModelRegistryLoader.cs
  Brainarr.Tests/Services/ModelRegistryLoaderTests.cs
  docs/models.example.json
  docs/models.schema.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

Align registry DTO property names with schema
  Brainarr.Plugin/Services/Registry/ModelRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

chore: trim registry PR scope and fix packaging
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Tokens/ApproximateTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/GeminiTokenCounter.cs
  Brainarr.Plugin/Services/Tokens/ITokenCounter.cs
  Brainarr.Plugin/Services/Tokens/TokenBudgeter.cs
  Brainarr.Tests/Services/Tokens/TokenBudgeterTests.cs
  plugin.json
Due: check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace
