Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(topup): MBID-enrich + gate album-mode top-up recs (RequireMbids parity) (#625)
  Brainarr.Plugin/Services/Core/ITopUpPlanner.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/TopUpDeliveredExclusionEnrichmentTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(plugin-package): serialize validation test build to fix MSB3030 race
  .github/workflows/plugin-package.yml
Due: check-api-keys

ci(plugin-package): serialize validation test build to fix MSB3030 race (#626)
  .github/workflows/plugin-package.yml
Due: check-api-keys

docs(pipeline): document that the post-validation style filter is inert in production
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
Due: check-api-keys, dotnet-format-whitespace

docs(pipeline): document that the post-validation style filter is inert in production (#627)
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
Due: check-api-keys, dotnet-format-whitespace

feat(style-filter): make the post-validation style filter a live, over-drop-safe enforcement (#627 follow-up)
  Brainarr.Plugin/Resources/music_styles.json
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/LibraryContextBuilder.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/StyleEnforcementFilterTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(style-filter): make the post-validation style filter a live, over-drop-safe enforcement (#627 follow-up) (#628)
  Brainarr.Plugin/Resources/music_styles.json
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/LibraryContextBuilder.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/StyleEnforcementFilterTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(prompt): add off-style negative constraint to library-aligned style block
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(prompt): add off-style negative constraint to library-aligned style block (#629)
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(enrichment): rate-limit ArtistMbidResolver MusicBrainz queries to 1 req/s (parity with album resolver)
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Tests/Services/Enrichment/ArtistMbidResolverBestEffortTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(enrichment): rate-limit ArtistMbidResolver MusicBrainz queries to 1 req/s (parity with album resolver) (#630)
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Tests/Services/Enrichment/ArtistMbidResolverBestEffortTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(metrics): raise slow-provider-response WARN threshold 10s→90s (was firing on 100% of reasoning-model calls)
  Brainarr.Plugin/Performance/PerformanceMetrics.cs
  Brainarr.Tests/Performance/PerformanceMetricsTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(metrics): raise slow-provider-response WARN threshold 10s→90s (was firing on 100% of reasoning-model calls) (#631)
  Brainarr.Plugin/Performance/PerformanceMetrics.cs
  Brainarr.Tests/Performance/PerformanceMetricsTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to cb27f54
  ext-common-sha.txt
Due: none

fix(security): wire SecureUrlValidator SSRF guard into provider URL validation (F-06)
  Brainarr.Plugin/Configuration/ProviderConfiguration.cs
  Brainarr.Plugin/Configuration/Providers/LocalProviderSettings.cs
  Brainarr.Plugin/Services/Core/ConfigurationValidator.cs
  Brainarr.Plugin/Services/Security/SecureUrlValidator.cs
  Brainarr.Tests/Services/Security/Phase1/SecureUrlValidatorProviderGuardTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): stop retaining plaintext API keys in settings idempotency cache (F-03)
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Tests/Security/BrainarrApiKeyPlaintextResidueTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs(lint): make sync-over-async allowlist semantic, drop stale line numbers (F-12)
  .github/sync-over-async-allowlist.json
Due: none

chore(common): converge Common pin to merged #618 SHA 961dfae (F-05)
  ext-common-sha.txt
Due: none

chore(common): re-pin to a398fc4 (date-parse, OAuth-replay, DASH-guard, Retry-After-clamp)
  ext-common-sha.txt
Due: none

chore(common): re-pin to a398fc4 (date-parse, OAuth-replay, DASH-guard, Retry-After-clamp) (#633)
  ext-common-sha.txt
Due: none

fix(security): run SecureUrlValidator in the top-level settings validator (R2-04)
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorSsrfTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): run SecureUrlValidator in the top-level settings validator (R2-04) (#634)
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorSsrfTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): zero the UTF-8 buffer in HashApiKey (R2-10)
  Brainarr.Plugin/BrainarrSettings.Providers.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): zero the UTF-8 buffer in HashApiKey (R2-10) (#635)
  Brainarr.Plugin/BrainarrSettings.Providers.cs
Due: check-api-keys, dotnet-format-whitespace

fix: guard untrusted expiry-epoch parsing in credential loaders (R2-08)
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/EpochExpiry.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Services/Support/EpochExpiryTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: guard untrusted expiry-epoch parsing in credential loaders (R2-08) (#636)
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/EpochExpiry.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Services/Support/EpochExpiryTests.cs
Due: check-api-keys, dotnet-format-whitespace
