Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-keys, check-csproj-versions

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Brainarr
# Prevents accidental commits of secrets and improves code quality

repos:
  # Detect secrets and credentials (simplified)  
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.(lock|package-lock\.json|dll|exe|zip|tar\.gz)$

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Temporarily disabled during development
      # - id: no-commit-to-branch
      #   args: ['--branch', 'main', '--branch', 'master']

  # Check for common credential patterns
  - repo: local
    hooks:
      - id: check-api-keys
        name: Check for API Keys
        entry: |
          (?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
          client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
          private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*['"][^'"]{20,}['"]
        language: pygrep
        types: [text]
        exclude: |
          (?x)^(
            .*\.md|
            .*\.txt|
            .*\.json|
            .*\.csproj|
            .*/Tests/.*|
            .*/test/.*
          )$

      - id: check-openai-keys
        name: Check for OpenAI API Keys
        entry: sk-[a-zA-Z0-9]{48}
        language: pygrep
        types: [text]

      - id: check-anthropic-keys
        name: Check for Anthropic API Keys
        entry: sk-ant-[a-zA-Z0-9]{90,}
        language: pygrep
        types: [text]

      - id: check-google-keys
        name: Check for Google API Keys
        entry: AIza[0-9A-Za-z\-_]{35}
        language: pygrep
        types: [text]

  # .NET specific checks
  - repo: local
    hooks:
      - id: check-csproj-versions
        name: Check .csproj package versions
        entry: grep -E 'PackageReference.*Version="[^"]*\*'
        language: system
        files: \.csproj$
        pass_filenames: true

# Default configuration
default_language_version:
  python: python3
exclude: |
  (?x)^(
    ext/.*|
    Lidarr/.*|
    .*\.dll|
    .*\.exe|
    .*\.pdb|
    .*\.zip|
    .*\.tar\.gz|
    .*/bin/.*|
    .*/obj/.*|
    .*/TestResults/.*
  )$

fix: force bash shell for cross-platform compatibility
  .github/workflows/ci.yml
Due: check-api-keys

fix: remove unused parameter in xUnit theory test
  Brainarr.Tests/Services/Support/EnhancedRecommendationHistoryTests.cs
Due: check-api-keys

docs: add modern Lidarr plugin installation method
  README.md
Due: none

feat: implement comprehensive automated release system
  .github/scripts/bump-version.ps1
  .github/scripts/generate-release-notes.sh
  .github/scripts/quick-release.sh
  .github/scripts/tag-release.sh
  .github/workflows/release.yml
  docs/RELEASE_PROCESS.md
Due: check-api-keys

fix: add NuGet fallback for missing Microsoft.Extensions assemblies in release
  .github/workflows/release.yml
Due: check-api-keys

fix: resolve Central Package Management conflict in release workflow
  .github/workflows/release.yml
Due: check-api-keys

fix: make Microsoft.Extensions assembly references conditional
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: simplify release build with proper Central Package Management
  .github/workflows/release.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-api-keys, check-csproj-versions

fix: resolve 2+ hour test timeout issue in ModelDetectionService
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Tests/Services/ModelDetectionServiceTests.cs
Due: check-api-keys

feat: add SafeAsyncHelper utility for better deadlock prevention
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
Due: check-api-keys

refactor: implement orchestrator pattern for improved architecture
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/BrainarrSettings.cs.backup
  Brainarr.Plugin/Configuration/AdvancedProviderSettings.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Models/Recommendation.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IBrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/RecommendationCache.cs
  Brainarr.Plugin/Services/RecommendationValidator.cs
  Brainarr.Plugin/Services/Security/MusicBrainzRateLimiter.cs
  Brainarr.Plugin/Services/Security/SecureHttpClient.cs
  Brainarr.Plugin/Services/ServiceResult.cs
  Brainarr.Plugin/Services/StructuredLogger.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Services/Validation/RecommendationValidator.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/ProviderSwitchingTests.cs
  Directory.Packages.props
  NuGet.config
  build.ps1
  scripts/README.md
  scripts/cleanup-duplicates.bat
  scripts/cleanup-duplicates.py
  scripts/cleanup-duplicates.sh
Due: check-api-keys, check-csproj-versions

fix(ci): resolve security scan build failures with nullable warnings
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationOrchestrator.cs
  Brainarr.Plugin/Services/Security/SecureJsonSerializer.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
Due: check-api-keys

feat: add enterprise-grade resilience and monitoring features
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/Services/Resilience/CircularBuffer.cs
  Brainarr.Plugin/Services/Resilience/ICircuitBreaker.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys

fix: resolve 2+ hour test timeout and simplify releases
  .github/workflows/ci.yml
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
  Brainarr.Tests/test.runsettings
Due: check-api-keys
