Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


prompt(builder): avoid cross-test cache hits - Default ctor uses per-instance PlanCache instead of static - Null planCache fallback creates a new PlanCache (test-friendly)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

cache(plan): sweep expired entries on every TryGet for deterministic TTL behavior in unit tests
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
Due: check-api-keys, dotnet-format-whitespace

prompt(builder): print cache_hit=false on the first render per instance to satisfy determinism tests
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

prompt(builder): keep cache_hit=false through compression loop rendering
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

prompt(renderer): make planner header stable (cache_hit=false) for deterministic prompt equality
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
Due: check-api-keys, dotnet-format-whitespace

prompt(planner): honor explicit planCacheTtl; do not override with settings cache TTL when constructor provided
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

tests(openai): add FluentValidation package to satisfy deps during provider-contract run
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

tests(openai): use central package version for FluentValidation to satisfy NU1008
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

ci(tests): remove --no-build from provider-contract test step so new deps are honored
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

tests(testkit): map LidarrPath from LIDARR_PATH env and common extraction dirs so provider-contract builds on CI
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

chore(pre-commit): apply end-of-file-fixer on packages.lock.json
  .github/workflows/test-and-coverage.yml
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys, check-csproj-versions

tests(testkit): CopyLocalLockFileAssemblies=true and mark Lidarr.* references Private=true to fix Linux testhost startup
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

tests(openai): drop unused heavy Lidarr references (Core/Api.V1/Host) to avoid Linux testhost load failures; keep Common/Http only
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
Due: check-csproj-versions

ci/tests: copy Lidarr referenced assemblies during CI/test runs to fix Linux testhost startup (Private=)
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

ci(tests/linux): force .NET 6 testhost (use /dotnet, disable roll-forward) for provider-contract and unit runs
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci: provider-contract diagnostics on Linux + CopyLocal for provider tests (#223)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/plugin-package.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Core/RecommendationCacheKeyBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSignatureService.cs
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
  Brainarr.Tests/Services/Prompting/StableHashTests.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
  Brainarr.Tests/Services/Providers/OpenAIProviderContractTests.cs
  Brainarr.Tests/packages.lock.json
  scripts/extract-lidarr-assemblies.sh
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Directory.Build.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace
