Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-keys, check-csproj-versions

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

check-csproj-versions:
  name: Check .csproj package versions
  entry: grep -E 'PackageReference.*Version="[^"]*\*'
  language: system
  pass_filenames: true

test: improve test reliability and model detection robustness
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Tests/EdgeCases/CriticalEdgeCaseTests.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/Core/AIServiceTests.cs
  Brainarr.Tests/Services/RecommendationParsingTests.cs
Due: check-api-keys

docs: add development and verification documentation
  TEST_FIX_SUMMARY.md
  docs/GAP_RESOLUTION_REPORT.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
Due: none

gitignore: exclude development/debugging scripts
  .gitignore
Due: check-api-keys

fix: use URL properties instead of raw fields in validation
  Brainarr.Plugin/BrainarrSettings.cs
Due: check-api-keys

fix: resolve cross-platform and async test issues
  Brainarr.Tests/AsyncHelperTests.cs
Due: check-api-keys

fix: use Assert.Fail instead of Assert.True(false) in tests
  Brainarr.Tests/AsyncHelperTests.cs
Due: check-api-keys

docs: update CLAUDE.md with artist-only recommendation features
  CLAUDE.md
Due: none

fix: resolve comprehensive test suite failures and improve test stability
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Tests/Configuration/BrainarrSettingsTests.cs
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/EdgeCases/ResourceAndTimeTests.cs
  Brainarr.Tests/Helpers/TestDataGenerator.cs
  Brainarr.Tests/Integration/ArtistOnlyRecommendationTests.cs
  Brainarr.Tests/Integration/EndToEndTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/ConfigurationValidationTests.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
  Brainarr.Tests/Services/Core/ProviderManagerTests.cs
  Brainarr.Tests/Services/Core/RecommendationSanitizerTests.cs
  Brainarr.Tests/Services/ModelDetectionServiceTests.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
  Brainarr.Tests/Services/RecommendationCacheTests.cs
  Brainarr.Tests/Services/RetryPolicyTests.cs
  Brainarr.Tests/Services/Validation/RecommendationValidatorTests.cs
  REFACTORING_RESULTS_SUMMARY.md
  REFACTOR_ASYNC_SAFE.md
  SAFE_REFACTORING_PLAN.md
  TECHNICAL_DEBT_ANALYSIS_2025.md
  build.ps1
  build_and_deploy.ps1
  setup-lidarr.ps1
  test-local-ci.ps1
Due: check-api-keys

Update README.md
  README.md
Due: none

fix: improve timing tolerance in rate limiter and performance tests
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
Due: check-api-keys

fix: improve cancellation test reliability for Windows CI environments
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys

feat: restore build scripts and enable nullable reference types
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrSettings.cs.backup
  Brainarr.Plugin/Configuration/Providers/DeepSeekSettings.cs
  Brainarr.Plugin/Configuration/Providers/GeminiSettings.cs
  Brainarr.Plugin/Configuration/Providers/GroqSettings.cs
  Brainarr.Plugin/Configuration/Providers/LMStudioSettings.cs
  Brainarr.Plugin/Configuration/Providers/OpenRouterSettings.cs
  Brainarr.Plugin/Configuration/Providers/PerplexitySettings.cs
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/IAIProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/EdgeCases/CriticalEdgeCaseTests.cs
  Brainarr.Tests/EdgeCases/ResourceAndTimeTests.cs
  Brainarr.Tests/Integration/EndToEndTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
  Brainarr.Tests/Services/LocalAIProviderTests.cs
  Brainarr.Tests/Services/RecommendationParsingTests.cs
  build.ps1
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/VERIFICATION-RESULTS.md
  setup-lidarr.ps1
  test-local-ci.ps1
Due: check-api-keys, check-csproj-versions

fix: improve test suite stability for CI environments (#91)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrSettings.cs.backup
  Brainarr.Plugin/Configuration/Providers/DeepSeekSettings.cs
  Brainarr.Plugin/Configuration/Providers/GeminiSettings.cs
  Brainarr.Plugin/Configuration/Providers/GroqSettings.cs
  Brainarr.Plugin/Configuration/Providers/LMStudioSettings.cs
  Brainarr.Plugin/Configuration/Providers/OpenRouterSettings.cs
  Brainarr.Plugin/Configuration/Providers/PerplexitySettings.cs
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/IAIProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/EdgeCases/CriticalEdgeCaseTests.cs
  Brainarr.Tests/EdgeCases/ResourceAndTimeTests.cs
  Brainarr.Tests/Integration/EndToEndTests.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
  Brainarr.Tests/Services/LocalAIProviderTests.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
  Brainarr.Tests/Services/RecommendationParsingTests.cs
  build.ps1
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/VERIFICATION-RESULTS.md
  setup-lidarr.ps1
  test-local-ci.ps1
Due: check-api-keys, check-csproj-versions

deps: Bump the test-dependencies group with 2 updates (#90)
  Directory.Packages.props
Due: check-api-keys

Revert "deps: Bump the test-dependencies group with 2 updates (#90)"
  Directory.Packages.props
Due: check-api-keys

feat: implement tech lead review recommendations
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Support/EnhancedRecommendationHistoryTests.cs
  CLAUDE.md
Due: check-api-keys

Path conditions:
  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$
  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$
