Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(ci): use manual Common-only submodule init (#360)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
  ext-common-sha.txt
Due: check-api-keys

fix(tests): deflake resilience and perf tests
  .github/workflows/dependency-update.yml
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): init submodules after PAT rewrite
  .github/workflows/registry.yml
Due: check-api-keys

fix(ci): use default github.token for checkout, not SUBMODULES_TOKEN
  .github/workflows/registry.yml
Due: check-api-keys

fix(tests): deflake limiter test; classify perf tests (#362)
  .github/workflows/dependency-update.yml
  .github/workflows/registry.yml
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): repair broken YAML in workflows
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): repair broken YAML in workflows (#363)
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): eliminate submodules: recursive and fix SHA parsing
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): add token masking for SUBMODULES_TOKEN security
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(ci): add Force PAT step before all submodule init
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

refactor(ci): replace global git config with scoped composite action
  .github/actions/init-common-submodule/action.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): eliminate submodules: recursive and fix SHA parsing (#364)
  .github/actions/init-common-submodule/action.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci: add workflow-auth-lint to prevent auth pattern regression
  .github/workflows/workflow-auth-lint.yml
Due: check-api-keys

fix(tests): deflake top-up provider call verification
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): deflake top-up provider call verification (#366)
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add workflow-auth-lint to prevent auth pattern regression (#365)
  .github/workflows/workflow-auth-lint.yml
Due: check-api-keys

feat(tests): use FakeTimeProvider for deterministic CircuitBreaker tests
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test: stabilize CircuitBreaker tests (no delay, align properties)
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix(nuget): add NSubstitute to package source mapping
  NuGet.config
Due: check-api-keys

chore: update ext-common-sha.txt for ab9c045
  ext-common-sha.txt
Due: none

fix(ci): update multi-plugin-smoke-test to use reusable workflow correctly
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

chore: update ext-common-sha.txt to match submodule
  ext-common-sha.txt
Due: none

fix(ci): use GITHUB_TOKEN for repo checkout
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
Due: check-api-keys

feat(tests): use FakeTimeProvider for deterministic CircuitBreaker tests (#367)
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/packages.lock.json
  NuGet.config
  ext-common-sha.txt
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

