Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


test(ci): require full shared lint gate set
  README.md
  scripts/tests/ci-has-parity-lint.Tests.ps1
Due: docs-markdownlint, check-api-keys, docs-consistency

feat: detect library healer tag metadata issues
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerClassifier.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerEvidence.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerLabels.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerReasonCodes.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerSensitiveText.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  Brainarr.Plugin/Services/Healing/TagMetadataFields.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerClassifierTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  Brainarr.Tests/Services/Healing/LidarrAudioTagSymptomReaderTests.cs
  docs/README.md
  docs/library-healer.md
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: design library doctor a2 triage roadmap
  docs/library-healer.md
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
  docs/superpowers/specs/2026-07-01-library-doctor-a2-triage-evidence-design.md
Due: docs-markdownlint, docs-consistency

docs: add library doctor future tools roadmap
  docs/library-healer.md
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, docs-consistency

chore(common): repin and wire cover-art guard
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: plan library doctor a2 triage implementation
  docs/superpowers/plans/2026-07-01-library-doctor-a2-triage-evidence.md
Due: docs-markdownlint, docs-consistency

docs: expand library doctor future tools roadmap
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, docs-consistency

feat: add healer triage advisor contract
  Brainarr.Plugin/Services/Healing/HealerTreatmentPlan.cs
  Brainarr.Plugin/Services/Healing/HealerTriageAdvisor.cs
  Brainarr.Tests/Services/Healing/HealerTriageAdvisorTests.cs
  docs/superpowers/plans/2026-07-01-library-doctor-a2-triage-evidence.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test: harden healer triage safety gates
  Brainarr.Plugin/Services/Healing/HealerTreatmentPlan.cs
  Brainarr.Plugin/Services/Healing/HealerTriageAdvisor.cs
  Brainarr.Tests/Services/Healing/HealerTriageAdvisorAuthorizationTests.cs
  Brainarr.Tests/Services/Healing/HealerTriageFreshnessTests.cs
  Brainarr.Tests/Services/Healing/HealerTriageVocabularyTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: add healer triage summary
  Brainarr.Plugin/Services/Healing/HealerTriageSummary.cs
  Brainarr.Tests/Services/Healing/HealerTriageSummaryTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): repin to cover-art guard hardening
  ext-common-sha.txt
Due: none

docs: expand healer roadmap with ranked tools
  docs/library-healer.md
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, docs-consistency

test(async): harden UI context deadlock guard
  Brainarr.Tests/AsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add GitHub Actions mirror (dual-platform CI parity)
  .github/workflows/ci.yml
Due: check-api-keys

feat: expose healer triage treatment plans
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerSensitiveText.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  docs/library-healer.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

ci: guard GitHub mirror workflow
  .gitea/workflows/ci.yml
  .github/workflows/ci.yml
  scripts/tests/packaging-gates-workflow.Tests.ps1
  scripts/tests/release-docs-ci-surface.Tests.ps1
Due: check-api-keys

docs: expand library doctor track-management roadmap
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, docs-consistency

docs: align release script CI guidance
  scripts/new-release.ps1
  scripts/new-release.sh
Due: check-api-keys

feat: add healer finding triage filters
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  docs/library-healer.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: expand healer operational qol roadmap
  docs/library-healer.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, docs-consistency
