Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


Materialize styles sequentially before parallel aggregation
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
Due: check-api-keys, dotnet-format-whitespace

Refine parallel style context aggregation
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
Due: check-api-keys, dotnet-format-whitespace

Fix style context concurrency and tighten deterministic sampling tests
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: refresh provider docs and release notes for 1.2.4
  docs/DOCUMENTATION_STATUS.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  docs/ci-stability-guide.md
  docs/release-notes/v1.2.4.md
  wiki-content/Cloud-Providers.md
  wiki-content/Local-Providers.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

docs: sync wiki and guides with 1.2.4 features
  README.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  tasks/provider-testing.md
  wiki-content/Cloud-Providers.md
  wiki-content/Local-Providers.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

docs: refresh provider guidance for 1.2.4 release
  docs/API_REFERENCE.md
  docs/DOCUMENTATION_STATUS.md
  docs/PERFORMANCE_TUNING.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  docs/ci-stability-guide.md
  docs/release-notes/v1.2.4.md
  examples/ui/testconnection_details.html
  scripts/test_connection_details.sh
  tasks/provider-testing.md
  wiki-content/Cloud-Providers.md
  wiki-content/Local-Providers.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, check-api-keys, docs-consistency

docs: document registry feature and refresh provider status
  README.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_STATUS.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  docs/release-notes/v1.2.4.md
  tasks/provider-testing.md
  wiki-content/Cloud-Providers.md
  wiki-content/Local-Providers.md
  wiki-content/Provider-Basics.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

docs: refresh provider guidance for 1.2.4 release (#202)
  docs/API_REFERENCE.md
  docs/DOCUMENTATION_STATUS.md
  docs/PERFORMANCE_TUNING.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  docs/ci-stability-guide.md
  docs/release-notes/v1.2.4.md
  examples/ui/testconnection_details.html
  scripts/test_connection_details.sh
  tasks/provider-testing.md
  wiki-content/Cloud-Providers.md
  wiki-content/Local-Providers.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, check-api-keys, docs-consistency

Split prompt planning and rendering
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/IPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/ModelPromptTemplate.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Plugin/Services/Prompting/RecommendationRequest.cs
Due: check-api-keys, dotnet-format-whitespace

Add prompt plan caching, budgeting, and planner tests
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPlanCache.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Plugin/Services/Prompting/RecommendationRequest.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
Due: check-api-keys, dotnet-format-whitespace

Add determinism and renderer coverage for prompt pipeline
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

Use stable planner seed and update builder tests
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/ShuffleUtil.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Restore stable hash helper for prompt builder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

Refine planner cache TTL, injectable metrics, and coverage
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Telemetry/IMetrics.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
Due: check-api-keys, dotnet-format-whitespace

Use injected metrics for cache hits and clean renderer context
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
Due: check-api-keys, dotnet-format-whitespace

Fix prompt planner determinism and metrics gaps
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

Stabilize token drift telemetry
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

Fix DryIoc recursion by internalizing orchestrator wiring
  Brainarr.Plugin/BrainarrImportList.cs
Due: check-api-keys, dotnet-format-whitespace

Fix telemetry metrics adapter namespace
  Brainarr.Plugin/Services/Telemetry/IMetrics.cs
Due: check-api-keys, dotnet-format-whitespace

Fix CI fallback project and planner test imports
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Fix missing plugin type imports in planner/renderer tests
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure random album fill preserves deterministic order
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Align prompt tests with new planner output
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderSimpleTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
Due: check-api-keys, dotnet-format-whitespace

Split prompt planning and rendering (#204)
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPlanCache.cs
  Brainarr.Plugin/Services/Prompting/IPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/IPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/ModelPromptTemplate.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Plugin/Services/Prompting/RecommendationRequest.cs
  Brainarr.Plugin/Services/Prompting/ShuffleUtil.cs
  Brainarr.Plugin/Services/Telemetry/IMetrics.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderSimpleTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
Due: check-api-keys, dotnet-format-whitespace

Fix EOF newline in registry workflow
  .github/workflows/registry.yml
Due: check-api-keys

Normalize line endings after pre-commit
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
Due: check-api-keys, dotnet-format-whitespace
