Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat(04-02): integrate ZaiGlm provider into Brainarr settings system
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

test(04-03): add ZaiGlmProviderTests with comprehensive coverage
  Brainarr.Tests/Services/Providers/ZaiGlmProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(04-03): add ZaiGlm registry slug mapping
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(04-03): add edge case tests for ZaiGlm provider
  Brainarr.Tests/Services/Providers/ZaiGlmProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(quarantine): skip timing-sensitive concurrency test
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): include manifest.json in plugin package
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(tests): swap _reviewQueueManager and _uiActionHandler in orchestrator tests
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(quarantine): skip TopUp test with shared state issue
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(providers): 8-week development plan implementation
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Logging/BrainarrLoggerExtensions.cs
  Brainarr.Plugin/Services/Providers/Core/HttpChatProviderBase.cs
  Brainarr.Plugin/Services/Providers/Core/ProviderError.cs
  Brainarr.Plugin/Services/Providers/ZaiGlm/ZaiGlmClient.cs
  Brainarr.Plugin/Services/Providers/ZaiGlm/ZaiGlmErrorMapper.cs
  Brainarr.Plugin/Services/Providers/ZaiGlm/ZaiGlmMapper.cs
  Brainarr.Plugin/Services/Providers/ZaiGlm/ZaiGlmModels.cs
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
  Brainarr.Plugin/Services/Registry/IModelRegistryCache.cs
  Brainarr.Plugin/Services/Registry/InMemoryModelRegistryCache.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/SharedModelRegistryCache.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Providers/Contracts/GeminiProviderContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/OpenAIProviderContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/ProviderContractTestHelpers.cs
  Brainarr.Tests/Services/Providers/Contracts/ZaiGlmProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump lidarr.plugin.common for streaming decoders
  ext-common-sha.txt
Due: none

chore(gitignore): add agent scratch and IDE artifact patterns
  .gitignore
Due: check-api-keys

chore(submodule): bump lidarr.plugin.common for ADR and doc fix
  ext-common-sha.txt
Due: none

chore(deps): refresh lockfiles after common bump
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

docs(dev): add Brainarr development and wiki sync guides
  docs/development/DEVELOPMENT.md
  docs/development/WIKI-SYNC.md
Due: docs-markdownlint, docs-consistency

fix(test): harden test runner against Windows build file locks
  scripts/test.ps1
Due: check-api-keys

chore(deps): refresh OpenAI test lockfile after common bump
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: none

docs: add Provider Contract Checklist for ship-quality gates
  docs/PROVIDER_CONTRACT_CHECKLIST.md
Due: docs-markdownlint, docs-consistency

feat(settings): add Claude Code CLI path and model selection UX
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
Due: check-api-keys, dotnet-format-whitespace

feat(claude-code): add NDJSON streaming support via CLI adapter
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/ClaudeCode/ClaudeCodeCliAdapter.cs
  Brainarr.Tests/Configuration/ClaudeCodeSettingsTests.cs
  Brainarr.Tests/Services/Providers/ClaudeCode/ClaudeCodeNdjsonStreamingTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(claude-code): complete redaction security + hermetic test suite
  Brainarr.Plugin/Services/Providers/ClaudeCode/ClaudeCodeCliAdapter.cs
  Brainarr.Tests/Services/Providers/ClaudeCode/ClaudeCodeCliAdapterTests.cs
  Brainarr.Tests/Services/Providers/ClaudeCode/ClaudeCodeE2EStubTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/ClaudeCodeSecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(zaiglm): add redaction security + negative-path contract tests
  Brainarr.Plugin/Services/Providers/ZaiGlm/ZaiGlmErrorMapper.cs
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/ZaiGlmSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/ZaiGlmProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(openai): add redaction security + negative-path contract tests
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/OpenAISecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(gemini): add redaction security + negative-path contract tests
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/GeminiSecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(providers): add redaction security to remaining cloud providers
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/AnthropicSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/DeepSeekSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/GroqSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/OpenRouterSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/PerplexitySecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): add CliWrap to NuGet PackageSourceMapping
  NuGet.config
Due: check-api-keys

fix(tests): add FormatPreferenceCache.Clear() for test isolation
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  ext-common-sha.txt
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): prevent FormatPreferenceCache from reloading after Clear()
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): improve coverage file selection in Final status gate
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): remove redundant Final status gate causing failures
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

test(security): add inner exception redaction tests
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/OpenAISecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): use runsettings for coverage collection on Linux
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): update packaging-gates-caller to current Common SHA
  .github/workflows/packaging-gates-caller.yml
Due: check-api-keys

test(security): add inner exception redaction tests for Z.AI GLM
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/ZaiGlmSecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(security): add inner exception redaction tests for Gemini
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/GeminiSecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(security): add inner exception redaction tests for all providers
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/AnthropicSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/DeepSeekSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/GroqSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/OpenRouterSecurityContractTests.cs
  Brainarr.Tests/Services/Providers/Contracts/SecurityContractTests/PerplexitySecurityContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(ci): disable packaging-gates-caller until Common updated
  .github/workflows/packaging-gates-caller.yml
Due: check-api-keys

fix(ci): add Brainarr-specific test categories to linter allowlist
  .github/workflows/ci.yml
Due: check-api-keys

fix(ci): resolve layering guard and formatting violations
  .github/test-runner-allowlist.json
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/ClaudeCodeProviderFactory.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
  Brainarr.Tests/Services/Validation/HallucinationDetectorTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): fix test-runner-allowlist format and auto-format fixes
  .github/test-runner-allowlist.json
  Brainarr.Tests/Services/Providers/Contracts/OpenAIProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace
