Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(model-detection): reword comment so Static Guards regex doesn't match '.Result\b'
  Brainarr.Plugin/Services/ModelDetectionService.cs
  plugin.json
Due: check-api-keys, docs-consistency, dotnet-format-whitespace

chore(submodule): sync ext-common-sha.txt to v1.15.0 SHA
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

polish(metrics): replace dead EnforceMetricsCap() calls with explanatory comments
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys, dotnet-format-whitespace

fix(docker-e2e): remove -p:PluginPackagingDisable=true so ILRepack runs
  .github/workflows/docker-e2e.yml
Due: check-api-keys

ci(provider-allowlist): match ILlmProvider, case-insensitive, whitelist OpenAiCompatible
  .github/workflows/ci.yml
Due: check-api-keys

fix(docker-e2e): build full solution (not just Plugin csproj) so Brainarr.Tests.dll exists
  .github/workflows/docker-e2e.yml
Due: check-api-keys

docs: surface BoundedConcurrentDictionary adoption in Common helpers list
  CLAUDE.md
Due: none

chore: sync _plugins/Brainarr.Plugin/plugin.json to current 1.5.7
  _plugins/Brainarr.Plugin/plugin.json
Due: docs-consistency

fix(workflow): secrets context not allowed in step if expressions
  .github/workflows/notify-failure.yml
Due: check-api-keys

docs(brainarr): document LlmAuthCircuit vs Common.AuthFailureGate divergence
  Brainarr.Plugin/Services/Resilience/LlmAuthCircuit.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

feat(brainarr): adopt TestValidationBuilder for upfront credential validation
  Brainarr.Plugin/Services/Core/ConfigurationValidator.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

fix(brainarr): manifest.json gains commonVersion field + contract test guard
  Brainarr.Tests/Contracts/VersionContractTests.cs
  CHANGELOG.md
  manifest.json
Due: check-api-keys, dotnet-format-whitespace

refactor(brainarr): LlmAuthCircuit → facade over Common AuthFailureGate + SlidingWindowAuthFailureHandler (closes wave-21 divergence)
  Brainarr.Plugin/Services/Resilience/LlmAuthCircuit.cs
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency, dotnet-format-whitespace

feat(brainarr): extend LlmAuthCircuit coverage to all 11 cloud / subscription providers
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGeminiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace
