Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat(sampling): capacity-aware prompt budget + style-discovery dedup audit (#599)
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultContextPolicy.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Plugin/Services/TokenBudgetResolver.cs
  Brainarr.Tests/Services/Core/StyleSeededDiscoveryTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderSimpleTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/DefaultContextPolicyTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/TokenBudgetResolverTests.cs
  docs/models.example.json
Due: check-api-keys, dotnet-format-whitespace

docs: validate against codebase (wave 0) — surgical fixes + markers
  AUTH_SCOPE_AUDIT.md
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  dashboards/README.md
  docs/API_KEY_STORAGE.md
  docs/API_REFERENCE.md
  docs/architecture/brainarr-orchestrator-blueprint.md
  docs/architecture/configuration-validation-tests.md
  docs/architecture/source-set-hygiene.md
  docs/archive/COMPREHENSIVE_DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/DOCUMENTATION_AUDIT_COMPLETE.md
  docs/archive/DOCUMENTATION_AUDIT_FINAL_REPORT.md
  docs/archive/DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/DOCUMENTATION_AUDIT_SUMMARY.md
  docs/archive/DOCUMENTATION_ENHANCEMENT_REPORT.md
  docs/archive/GITHUB_READY_SUMMARY.md
  docs/archive/README.md
  docs/archive/REFACTORING_MIGRATION_GUIDE.md
  docs/archive/SECURITY_IMPROVEMENTS.md
  docs/archive/TECH_DEBT_ANALYSIS_REPORT.md
  docs/archive/TECH_DEBT_REMEDIATION_REPORT.md
Due: docs-markdownlint, docs-consistency

docs: validate against codebase (wave 1) — surgical fixes + markers
  docs/CI_CD_IMPROVEMENTS.md
  docs/DEPLOYMENT.md
  docs/DEV_UI_EXAMPLE.md
  docs/MIGRATION_GUIDE.md
  docs/PACKAGING_POLICY_BASELINE.md
  docs/PERFORMANCE_TUNING.md
  docs/PLUGIN_LIFECYCLE.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/RECOMMENDATION_MODES.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
  docs/SECURITY_HARDENING_BACKLOG.md
  docs/ci-stability-guide.md
Due: docs-markdownlint, docs-consistency

chore(parity): remove dead/speculative security sanitizers; keep the Common PromptSanitizer seam (#2)
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Security/InputSanitizer.cs
  Brainarr.Plugin/Services/Security/SecureHttpClient.cs
  Brainarr.Tests/Services/CorrelationAndUrlSanitizerTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
  CHANGELOG.md
Due: check-api-keys, dotnet-format-whitespace

chore(parity): remove dead/speculative security sanitizers; keep the Common PromptSanitizer seam (#2) (#602)
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Security/InputSanitizer.cs
  Brainarr.Plugin/Services/Security/SecureHttpClient.cs
  Brainarr.Tests/Services/CorrelationAndUrlSanitizerTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/Security/InputSanitizerTests.cs
  CHANGELOG.md
Due: check-api-keys, dotnet-format-whitespace

docs: validate against codebase (wave 2) — surgical fixes + markers
  POST_REFACTOR_HEALTH_CHECK.md
  PR_ANALYSIS_REPORT.md
  README.md
  SECURITY.md
  docs/TECHDEBT_TEARDOWN_PLAN.md
  docs/TESTING_GUIDE.md
  docs/UI_UX_IMPROVEMENTS.md
  docs/USER_SETUP_GUIDE.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  tasks/brainarr-tech-roadmap.md
  tasks/issue-project-auto-add.md
  tasks/provider-testing.md
  wiki-content/Advanced-Settings.md
  wiki-content/Home.md
  wiki-content/Installation.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Operations.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Settings-Best-Practices.md
  wiki-content/Timeouts-and-Retries.md
Due: docs-markdownlint, docs-consistency

chore(submodule): re-pin Common to 10245bc (ecosystem lockstep re-align)
  ext-common-sha.txt
Due: none

chore(submodule): re-pin Common to 10245bc (ecosystem lockstep re-align) (#603)
  ext-common-sha.txt
Due: none

docs: re-sync README provider matrix to code (fix drift)
  README.md
Due: docs-markdownlint, docs-consistency

docs(wiki): refresh Home + cross-link Common wiki (no duplication)
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

docs(wiki): re-sync provider matrix region in Home to code
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

docs(wiki): refresh Home + cross-link the Common wiki (#605)
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

docs(readme): enrich entry point via wiki/doc cross-links (no duplication)
  README.md
Due: docs-markdownlint, docs-consistency

docs(readme): enrich entry point via wiki/doc cross-links (no duplication) (#606)
  README.md
Due: docs-markdownlint, docs-consistency

docs: close verified doc-coverage gaps (gap-tour fixes)
  docs/configuration.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, docs-consistency

docs: close verified doc-coverage gaps (gap-tour fixes) (#607)
  docs/configuration.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, docs-consistency

chore(submodule): bump Common to 79d2140
  ext-common-sha.txt
Due: none

fix(ci): packaging tests skip (not throw) without a package + block host-coupled major bumps
  .github/dependabot.yml
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): packaging tests skip (not throw) without a package + block host-coupled major bumps (#609)
  .github/dependabot.yml
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(deps): bump gitleaks/gitleaks-action from 2 to 3
  .github/workflows/gitleaks.yml
Due: check-api-keys

ci(deps): bump actions/dependency-review-action from 4 to 5
  .github/workflows/dependency-review.yml
Due: check-api-keys

ci(deps): bump softprops/action-gh-release from 2 to 3
  .github/workflows/plugin-package.yml
Due: check-api-keys

docs: polish to ~99 — fix stale versions/metrics, dedupe, complete settings, clean markers
  CHANGELOG.md
  README.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/USER_SETUP_GUIDE.md
  docs/configuration.md
  wiki-content/Installation.md
Due: docs-markdownlint, docs-consistency
