Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

test(unit): cover ModelKey/ProviderKey formatting and normalization
  Brainarr.Tests/Services/Core/ModelKeysTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(unit): cover RecommendationSchemaValidator edge cases
  Brainarr.Tests/Services/Core/RecommendationSchemaValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(schema): add validator test covering nulls, missing artist, clamps and trims
  Brainarr.Tests/Services/Core/RecommendationSchemaValidatorAdditionalTests.cs
Due: check-api-keys, dotnet-format-whitespace

style: normalize whitespace and EOFs in new tests; minor style fixes from formatter
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Tests/Services/Core/LibraryContextBuilderTests.cs
  Brainarr.Tests/Services/Core/RecommendationSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(url): relax SanitizeApiUrl assertion to robust contains/startWith checks
  Brainarr.Tests/Services/UrlSanitizerAdditionalTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(url): relax SanitizeApiUrl assertion on #182
  Brainarr.Tests/Services/UrlSanitizerAdditionalTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(unit): add UrlValidator tests (local provider + normalize + generic valid/invalid)
  Brainarr.Tests/Configuration/UrlValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(unit): extend RecommendationSanitizer string sanitization and metadata preservation tests
  Brainarr.Tests/Services/Core/RecommendationSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

merge: resolve conflicts with main (sync UrlValidatorTests merged; keep main docs)
  Brainarr.Tests/Configuration/UrlValidatorTests.cs
  docs/PLAN_Prompt_Comprehensive_Styles.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

ci: gate on ubuntu+net6, enforce Docker-only assemblies, add manifest sanity checks; reuse artifact for security scan; add docker pull retries
  .github/workflows/ci.yml
  .github/workflows/sanity-build.yml
  scripts/extract-lidarr-assemblies.sh
  test-local-ci.sh
Due: check-api-keys

release: reuse shared Docker-only assemblies with manifest sanity checks; read pinned digest; fix LidarrPath path
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

fix(tests/main): sanitize-string assertion and FA method; fix(cache): use _cache.Count for capacity + stats to stabilize concurrency test
  .worktrees/main/.github/workflows/release-simple.yml
  .worktrees/main/.github/workflows/release.yml
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Tests/Services/Core/RecommendationSanitizerTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: cleanly skip meta workflows on push; only run real jobs on intended triggers
  .github/workflows/add-to-project.yml
  .github/workflows/digest-drift.yml
  .github/workflows/project-auto-add.yml
Due: check-api-keys

package: reuse shared Docker-only Lidarr assemblies with manifest checks; fix LidarrPath
  .github/workflows/plugin-package.yml
Due: check-api-keys

test(coverage): add LoggerExtensions+UrlSanitizer tests to raise line rate ≥31%
  .worktrees/main/.github/workflows/plugin-package.yml
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(coverage): add SecureJsonSerializer tests to boost coverage
  Brainarr.Tests/Services/Security/SecureJsonSerializerTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(coverage): add SecureApiKeyStorage + extension tests
  Brainarr.Tests/Services/Security/SecureApiKeyStorageTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

