Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


test(orchestrator): cover cancellation token propagation and timeout budget
  Brainarr.Tests/Services/Core/BrainarrOrchestratorCoverageGapsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(orchestrator): cover provider rate-limit, auth, and network fault classification
  Brainarr.Tests/Services/Core/BrainarrOrchestratorCoverageGapsTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(pipeline): cover composition order, partial-results, empty input
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(pipeline): cover error classification and null-fallback contracts
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common v1.9.5 → v1.13.1 (4-release jump)
  plugin.json
Due: docs-consistency

chore(release): bump to v1.5.7 — Common v1.14.0 + Wave 11C test uplift merge
  VERSION
  plugin.json
Due: check-api-keys, docs-consistency

fix(safety-gate): coerce non-finite confidence to 0.0 before downstream use
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(safety-gate): ReviewApproveKeys splits on last '|' to support artists with pipe
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(safety-gate): use record-with expression instead of mutating init-only Confidence
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
Due: check-api-keys, dotnet-format-whitespace

chore(allowlist): drop expired sha-pin entry for multi-plugin-smoke-test.yml
  .github/sha-pin-allowlist.json
Due: none

fix(ci): digest-drift tag extraction stops truncating at first 'n'
  .github/workflows/digest-drift.yml
Due: check-api-keys

chore(ci): update Lidarr plugins digest to sha256:ae0b3b14769fdfeb73fe5d9e61ebcda04edf202244bcbd6323d2fe1381154f57
  .github/lidarr_digest.note
  .github/lidarr_digest.txt
Due: check-api-keys

chore(release): bump manifest.json to 1.5.7 (companion to plugin.json + VERSION already at 1.5.7)
  manifest.json
Due: none

ci(nightly): exclude DockerE2E tests from nightly run
  .github/workflows/nightly.yml
Due: check-api-keys
