Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore: update Common submodule to include multi-plugin compatibility fix
  ext-common-sha.txt
Due: none

fix(tests): remove obsolete reflection access to _cachedAt in CacheKey test (#328)
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(screenshots): enable ILRepack for plugin loading
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(screenshots): use flat plugin mount path matching Tidalarr/Qobuzarr
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(screenshots): correct plugin mount path for Lidarr plugins branch
  .github/workflows/screenshots.yml
Due: check-api-keys

Update Lidarr.Plugin.Common to dc3ddcf (adds System.Text.Json to ILRepack merge)
  Brainarr.Plugin/packages.lock.json
Due: none

refactor(services): delegate RetryPolicy to Lidarr.Plugin.Common
  Brainarr.Plugin/Services/Logging/NLogToILoggerAdapter.cs
  Brainarr.Plugin/Services/RetryPolicy.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(services): delegate RetryPolicy to Lidarr.Plugin.Common (#330)
  Brainarr.Plugin/Services/Logging/NLogToILoggerAdapter.cs
  Brainarr.Plugin/Services/RetryPolicy.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: migrate RateLimiter to use Lidarr.Plugin.Common
  Brainarr.Plugin/Services/RateLimiter.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(resilience): migrate CircuitBreaker to wrap Lidarr.Plugin.Common
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  global.json
Due: check-api-keys, dotnet-format-whitespace

fix(tests): update CircuitBreaker tests for Common library compatibility
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

fix(tests): wait for half-open transition in CircuitBreaker test
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Replace CancellationToken.None with optional parameter
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  plugin-dist-test/Lidarr.Plugin.Brainarr.dll
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore: update ext-common-sha.txt for submodule SHA check
  ext-common-sha.txt
Due: none

refactor(resilience): migrate CircuitBreaker to use Lidarr.Plugin.Common (#332)
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
  global.json
  plugin-dist-test/Lidarr.Plugin.Brainarr.dll
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

refactor: migrate RateLimiter to use Lidarr.Plugin.Common (#331)
  Brainarr.Plugin/Services/RateLimiter.cs
Due: check-api-keys, dotnet-format-whitespace

fix: make BrainarrOrchestratorTopUpTests thread-safe for Windows
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: make BrainarrOrchestratorTopUpTests thread-safe for Windows (#334)
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: improve test isolation and add defensive null checks
  Brainarr.Plugin/Services/Core/LibraryProfileService.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: correct MetricsCollectorTests assertion expecting wrong count
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(ci): drop .NET 6 support, target .NET 8 only
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-api-keys, check-csproj-versions
