Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

feat(triage): add per-provider confidence calibration (Phase 14) (#499)
  Brainarr.Plugin/Services/Core/ProviderCalibrationProfile.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Tests/Services/Core/CalibrationAccuracyTests.cs
  Brainarr.Tests/Services/Core/ProviderCalibrationTests.cs
  Brainarr.Tests/Services/Core/ProviderGoldenFixtureTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(gap-planner): add budget constraints, simulate/apply/rollback, and golden fixtures (Phase 15)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Tests/Services/Core/GapPlannerV2Tests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(gap-planner): add budget constraints, simulate/apply/rollback, and golden fixtures (Phase 15) (#500)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Tests/Services/Core/GapPlannerV2Tests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(triage): add explainer endpoint, cooldowns, and batch cap update (Phase 16)
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/QueueTriageUxTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(triage): add explainer endpoint, cooldowns, and batch cap update (Phase 16) (#501)
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/QueueTriageUxTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(di): wire EnhancedRecommendationCache and SecureStructuredLogger into DI (Phase 17 Gate A)
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Tests/Caching/EnhancedRecommendationCacheTests.cs
  Brainarr.Tests/TechDebt/DIWiringAndParityTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(di): wire EnhancedRecommendationCache and SecureStructuredLogger into DI (Phase 17 Gate A) (#502)
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Tests/Caching/EnhancedRecommendationCacheTests.cs
  Brainarr.Tests/TechDebt/DIWiringAndParityTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(triage): import Common's TriageReasonCodes and ConfidenceBand
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(triage): add EnableProviderCalibration feature flag
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

feat(phase-14): DoD closure — Common contracts, calibration flag (#503)
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 808788c (#504)
  ext-common-sha.txt
Due: none

chore: fix pre-commit formatting issues
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Services/Core/GapPlannerV2Tests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore: fix trailing newline in packages.lock.json
  Brainarr.Tests/packages.lock.json
Due: none

chore: fix whitespace formatting in EnhancedRecommendationCache
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
Due: check-api-keys, dotnet-format-whitespace

deps: Bump coverlet.collector from 6.0.4 to 8.0.0 (#493)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

fix(tests): de-flake RateLimiter_WithThreadPoolExhaustion test
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: remove deprecated CorrelationScope class
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Tests/Services/CorrelationAndUrlSanitizerTests.cs
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: remove deprecated CorrelationScope class (#505)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Tests/Services/CorrelationAndUrlSanitizerTests.cs
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to dc9f18c
  ext-common-sha.txt
Due: none

chore(submodule): bump Common to dc9f18c (#506)
  ext-common-sha.txt
Due: none

chore: bump Common submodule to 8f0faa1
  ext-common-sha.txt
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

