Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci: restore fluentvalidation package version
  Directory.Packages.props
Due: check-api-keys

Align docs and planner utilities for 1.2.7
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Plugin/Services/Support/MetricsNames.cs
  Brainarr.Plugin/Services/Utils/CollectionsUtil.cs
  Brainarr.Plugin/Services/Utils/DateUtil.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
  README.md
  docs/PROVIDER_MATRIX.md
  scripts/check-docs-consistency.sh
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Bundle shared runtime deps after lidarr.plugin.common downgrade
  .gitmodules
  build.ps1
  manifest.json
Due: check-api-keys

Add tests for telemetry metrics and sampling utilities
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Utils/CollectionsUtilTests.cs
Due: check-api-keys, dotnet-format-whitespace

Remove redundant registry alias in prompt builder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure prompt builder defaults metrics sink
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

Handle provider matrix diff exit codes
  scripts/check-docs-consistency.sh
Due: check-api-keys

Fix docs consistency diff guard
  scripts/check-docs-consistency.sh
Due: check-api-keys

Fix null Added assignment in planner tests
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
Due: check-api-keys, dotnet-format-whitespace

Align docs and planner utilities for 1.2.7 (#209)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Plugin/Services/Support/MetricsNames.cs
  Brainarr.Plugin/Services/Utils/CollectionsUtil.cs
  Brainarr.Plugin/Services/Utils/DateUtil.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
  Brainarr.Tests/Services/Utils/CollectionsUtilTests.cs
  README.md
  docs/PROVIDER_MATRIX.md
  scripts/check-docs-consistency.sh
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Update Lidarr plugins image for smoke test
  .github/workflows/plugin-package.yml
Due: check-api-keys

docs: promote provider status to heading
  README.md
Due: docs-markdownlint, docs-consistency

Update Lidarr plugins image for smoke test (#210)
  .github/workflows/plugin-package.yml
Due: check-api-keys

docs: promote provider status to heading (#211)
  README.md
Due: docs-markdownlint, docs-consistency

feat: harden validation packaging and docs
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/ConfigurationValidation/ConfigurationValidationService.cs
  Brainarr.Plugin/Services/ConfigurationValidation/ConfigurationValidationSummary.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorTests.v2.cs
  Brainarr.Tests/Configuration/ConfigurationValidationServiceTests.cs
  Brainarr.Tests/Configuration/ProviderConfigurationValidatorTests.cs
  Brainarr.Tests/Services/Core/ConfigurationValidationTests.cs
  Brainarr.sln
  build.ps1
  docs/architecture/brainarr-orchestrator-blueprint.md
  docs/architecture/configuration-validation-tests.md
  docs/architecture/shared-library-integration.md
  docs/architecture/source-set-hygiene.md
  manifest.json
  tasks/brainarr-tech-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

chore: align newtonsoft version with submodule
  Directory.Packages.props
Due: check-api-keys

Ensure recent artist sampling is deterministic
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure recent album sampling order is deterministic
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure library sample fingerprint ordering is stable
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Delete CLAUDE.md
  CLAUDE.md
Due: none

Delete .claude/agents directory
  .claude/agents/lidarr-plugin-architect.md
Due: none

Delete prod_files.txt
  prod_files.txt
Due: none
