Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci+chore(brainarr): re-pin Common b78cac59, NLog 5.5.1 lockstep, add verify job (#6)
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

docs(brainarr): provider count 11 -> 14 (verified vs enum) (#7)
  CLAUDE.md
  README.md
  docs/PLUGIN_MANIFEST.md
  manifest.json
  plugin.json
Due: docs-markdownlint, docs-consistency

build(common): re-pin Lidarr.Plugin.Common to 4c30cd7 (Wave 1 foundation)
  ext-common-sha.txt
Due: none

build(analyzers): wire scoped LPC0003 search-term HtmlEncode analyzer
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Core/ObservabilityService.cs
  Brainarr.Tests/BuildConfig/AnalyzerWiringTests.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

chore(common): re-pin to c8e5a5a (round-3 convergence)
  ext-common-sha.txt
Due: none

docs: reflect Gitea-primary CI reality (audit doc drift)
  BUILD.md
  CLAUDE.md
Due: none

ci(verify-local): drop PluginPackagingDisable from package BuildFlags (audit #16 layer 1) [WIP]
  scripts/verify-local.ps1
Due: check-api-keys

ci: complete brainarr packaging closure + add full build/test verify job (audit #16)
  .gitea/workflows/ci.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  CLAUDE.md
  packaging/expected-contents.txt
Due: check-api-keys, check-csproj-versions

chore: sync stale lockfiles to props + gitignore local artifacts
  .gitignore
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

test(tokenizer): serialize ModelTokenizerRegistry warn-gate tests (fix flake)
  Brainarr.Tests/Services/Tokenization/ModelTokenizerRegistryTests.cs
  Brainarr.Tests/Services/Tokenization/TokenizerFallbackGateCollection.cs
Due: check-api-keys, dotnet-format-whitespace

docs: correct CI/CD section to Gitea-primary + manual Common re-pin
  BUILD_REQUIREMENTS.md
Due: none

test(concurrency): widen deadlock-guard timeout to survive CI thread-pool starvation
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): re-pin to a7bef70 (ecosystem convergence)
  ext-common-sha.txt
Due: none

docs(ci): update stale ACTIVATION comment — Gitea Actions are enabled
  .gitea/workflows/ci.yml
Due: check-api-keys

test(async): widen RunSyncWithTimeout happy-path budget vs CI thread-pool starvation
  Brainarr.Tests/AsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): re-pin to 1fcb3d0 (convergence)
  ext-common-sha.txt
Due: none

chore(common): re-pin to abd95d4 + fix(test): deterministic ThunderingHerd + docs(F8): fix stale .github/workflows refs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  CLAUDE.md
  DEVELOPMENT.md
  docs/DOCS_STRATEGY.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs(flaky): add RateLimiter_ThunderingHerd_HandlesGracefully to fixed-flaky table
  CLAUDE.md
Due: none

chore(common): re-pin to 49250a5 + feat(ci): wire doc-refs lint gate + fix(docs): resolve flagged refs
  .claude/skills/container-deployment/SKILL.md
  .claude/skills/release-automation/SKILL.md
  .gitea/workflows/ci.yml
  CLAUDE.md
  docs/GAP_RESOLUTION_REPORT.md
  docs/archive/COMPREHENSIVE_DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/DOCUMENTATION_AUDIT_COMPLETE.md
  docs/archive/DOCUMENTATION_AUDIT_SUMMARY.md
  ext-common-sha.txt
  tasks/issue-project-auto-add.md
  wiki-content/Documentation-Workflow.md
Due: docs-markdownlint, check-api-keys, docs-consistency

chore(common): re-pin to bde5397 + wire test-project dropout guard
  ext-common-sha.txt
  scripts/verify-local.ps1
Due: check-api-keys
