Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(deps): override transitive Crypto.Xml to 8.0.4 (2026-07 advisory wave)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, check-csproj-versions

feat(codex): support OpenAI Codex ChatGPT subscription + token rotation
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/BrainarrConstants.cs
  Brainarr.Plugin/Services/Core/ModelOptionsProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/CodexSseParser.cs
  Brainarr.Plugin/Services/Support/CodexJwt.cs
  Brainarr.Plugin/Services/Support/CodexTokenRefresher.cs
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Configuration/BrainarrSettingsProviderSwitchingTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Providers/Shared/CodexSseParserTests.cs
  Brainarr.Tests/Services/Support/CodexTokenRefresherTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(codex): address review findings + document the live-probed contract
  Brainarr.Plugin/Configuration/BrainarrConstants.cs
  Brainarr.Plugin/Services/Core/ModelOptionsProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/PROVIDER_MATRIX.md
  docs/configuration.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs(ui): make the two Codex-subscription footguns visible in the settings form
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/BrainarrSettings.Providers.cs
Due: check-api-keys, dotnet-format-whitespace

docs(wiki): make every "More info" link in the settings UI resolve
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  README.md
  docs/PROVIDER_MATRIX.md
  docs/providers.yaml
  scripts/check-docs-consistency.ps1
  wiki-content/Advanced-Settings.md
  wiki-content/Cloud-Providers.md
  wiki-content/Confidence-Calibration.md
  wiki-content/Documentation-Workflow.md
  wiki-content/Home.md
  wiki-content/Installation.md
  wiki-content/Local-Providers.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Operations.md
  wiki-content/Provider-Basics.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup.md
  wiki-content/Start-Here.md
  wiki-content/Styles.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: GitHub display polish — community files
  CODE_OF_CONDUCT.md
Due: none

docs: add Contributing quick-start
  README.md
Due: docs-markdownlint, docs-consistency

chore(common): adopt audited gates and enforce warning budget
  ext-common-sha.txt
  scripts/verify-local.ps1
Due: check-api-keys

test(cost): isolate assertions over shared usage history
  Brainarr.Tests/Services/Cost/TokenCostEstimatorPricingHonestyTests.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorUsageHistoryCapTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): align manifests and locked restore graphs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  CHANGELOG.md
  manifest.json
  plugin.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: docs-consistency

docs: align supported host requirements with compiled floor
  README.md
Due: docs-markdownlint, docs-consistency

fix(pack): declare compiled host floor and adopt validation
  CHANGELOG.md
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: docs-consistency

chore(common): converge on the reviewed Gitea landing commit
  CHANGELOG.md
Due: none

docs: synchronize current host requirements across setup guides
  docs/DEPLOYMENT.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_GUIDE.md
  docs/USER_SETUP_GUIDE.md
  wiki-content/Home.md
  wiki-content/Installation.md
Due: docs-markdownlint, docs-consistency

chore(common): adopt monotonic retry and backoff hardening
  CHANGELOG.md
  ext-common-sha.txt
Due: none

chore(common): adopt cancellation and concurrency ownership hardening
  CHANGELOG.md
  ext-common-sha.txt
Due: none

test(bridge): remove pool-dependent cancellation startup barrier
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): adopt shared elapsed retry budgets
  CHANGELOG.md
  ext-common-sha.txt
Due: none

style(test): align dedicated caller initializer with formatter
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(workflow): isolate deduplication from live catalog and global state
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): adopt exact jitter bounds and delay overflow guards
  CHANGELOG.md
  ext-common-sha.txt
Due: none

chore(common): adopt bounded waits and retry deadline checks
  CHANGELOG.md
  ext-common-sha.txt
Due: none

fix(codex): refresh tokens without blocking the credential timer (sync-over-async gate)
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
Due: check-api-keys, dotnet-format-whitespace

fix(codex): address adversarial review - mode-aware model resolution, transactional token rotation, SSE hardening
  Brainarr.Plugin/Configuration/BrainarrConstants.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/CodexSseParser.cs
  Brainarr.Plugin/Services/Support/CodexTokenRefresher.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(codex): close registry model seam, hard-fail incomplete streams, guided test timeout
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/CodexSseParser.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(codex): fold review nits - live-update seam, dead helpers, single test deadline
  Brainarr.Plugin/BrainarrSettings.Helpers.cs
  Brainarr.Plugin/Services/Providers/Llm/LlmProviderAdapter.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): pin shared OpenAI Common contract
  CHANGELOG.md
  ext-common-sha.txt
Due: none

chore(common): adopt invocation timeout owner hook
  CHANGELOG.md
  ext-common-sha.txt
Due: none

test(llm): require shared OpenAI chat adoption
  Brainarr.Tests/Providers/Llm/SharedOpenAiChatAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(llm): pin streaming request deadline
  Brainarr.Tests/Providers/Llm/SharedOpenAiChatAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(llm): assert recoverable stream timeout
  Brainarr.Tests/Providers/Llm/SharedOpenAiChatAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(llm): adopt shared OpenAI chat provider
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatAuthCircuit.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatPolicy.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatProviderBase.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatTransport.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
  Brainarr.Tests/Providers/Llm/OpenAiChatProviderBaseContractTests.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

test(llm): preserve invocation timeout ownership
  Brainarr.Tests/Providers/Llm/SharedOpenAiChatAdoptionTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(llm): honor invocation timeout ownership
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatPolicy.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

test: characterize OpenAI-compatible released behavior
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCompatibleReleasedBehaviorTests.cs
Due: check-api-keys, dotnet-format-whitespace
