Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(release): bump version to 1.4.1
  VERSION
  plugin.json
Due: check-api-keys, docs-consistency

docs(security): brainarr hardening backlog (10 findings, 2 High)
  docs/SECURITY_HARDENING_BACKLOG.md
Due: docs-markdownlint, docs-consistency

docs(brainarr): Shared Infrastructure README section + 1.4.0 CHANGELOG entry
  CHANGELOG.md
  README.md
Due: docs-markdownlint, docs-consistency

fix(release): ship only the merged plugin DLL (no host contract DLLs)
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
Due: check-api-keys

ci(brainarr): add parity-lint VersionContract step + workflow Pester tests
  .github/workflows/ci.yml
  scripts/tests/ci-has-parity-lint.Tests.ps1
  scripts/tests/packaging-gates-workflow.Tests.ps1
Due: check-api-keys

feat(plugin): register Brainarr with Lidarr's System→Plugins UI (TDD)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Hosting/BrainarrInstalledPlugin.cs
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  Brainarr.Tests/Runtime/DockerE2ETests.cs
  CLAUDE.md
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix(security): encrypt all 8 LLM provider API keys via TokenProtectorFactory (BRN-001)
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/Services/Security/BrainarrApiKeyProtection.cs
  Brainarr.Tests/Security/BrainarrApiKeyProtectionTests.cs
  docs/SECURITY/BRN-001-REMEDIATION.md
  scripts/Migrate-BrainarrSettings.ps1
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

build(submodule): bump ext/Lidarr.Plugin.Common to v1.8.0 (55edd5d)
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

test(contract): version-sync contract for Brainarr (3 assertions, TDD)
  Brainarr.Tests/Contracts/VersionContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(packaging): align policy tests with merged-DLL architecture + add size sanity check
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(zai): add Z.AI Coding Plan subscription provider + fix 1113 quota mapping
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Configuration/ModelIdMappingValidator.cs
  Brainarr.Plugin/Configuration/Providers/CloudProviderSettings.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/AIServiceResourceKeys.cs
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Core/CanonicalModelMapper.cs
  Brainarr.Plugin/Services/Core/ImportListActionHandler.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/Core/ProviderCalibrationProfile.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrZaiCodingProviderTests.cs
  Brainarr.Tests/Services/Core/ProviderGoldenFixtureTests.cs
  Brainarr.Tests/Services/RateLimitKeyResolutionTests.cs
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: handoff prompt for paused auth-failure-gate work
  docs/HANDOFF_AUTH_GATE.md
Due: docs-markdownlint, docs-consistency

chore(pr-template): adopt cross-plugin Pre-Merge Verification convention
  .github/pull_request_template.md
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

