Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix: Use net6.0 ILRepack task DLL for cross-platform compatibility
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Use NuGetPackageRoot for ILRepack task path
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Use lib/netstandard2.0 ILRepack task DLL path
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Remove ExcludeAssets=build to allow ILRepack task loading
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Import ILRepack .props only to get UsingTask without automatic target
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Remove ExcludeAssets=build, rely on ILRepackEnabled=false
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Override ILRepack target with empty target to disable package's automatic run
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: Use Directory.Build.targets to override ILRepack package target
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Build.targets
Due: check-api-keys, check-csproj-versions

fix: Improve coverage parsing robustness in test workflow
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: add explicit Include pattern for coverage instrumentation
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

fix: use comma-separated patterns in coverlet runsettings
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

fix: add IncludeDirectory and Format to coverlet config
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

fix: add IncludeTestAssembly and test assembly to diagnose coverage
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

fix: Improve coverage parsing robustness in test workflow (#308)
  .github/workflows/test-and-coverage.yml
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

fix(ci): resolve nightly workflow failures
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/screenshots.yml
Due: check-api-keys

chore: remove leftover pr103.diff containing secrets
  pr103.diff
Due: check-api-keys

feat: Add Claude Code and OpenAI Codex subscription providers
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/ClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Use correct namespace for ResiliencePolicy
  Brainarr.Plugin/Services/Providers/ClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICodexSubscriptionProvider.cs
Due: check-api-keys, dotnet-format-whitespace

feat: Add credential refresh service and fix provider slug mappings
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Resolve duplicate expiresAtDate variable declaration (CS0136)
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Plugin/packages.lock.json
  PLAN-subscription-providers.md
Due: check-api-keys, dotnet-format-whitespace

chore: Remove accidentally committed plan file
  PLAN-subscription-providers.md
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

