Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

refactor: reduce tech debt in cache and orchestrator (#518)
  Brainarr.Plugin/Services/Caching/CacheConfiguration.cs
  Brainarr.Plugin/Services/Caching/CacheMetrics.cs
  Brainarr.Plugin/Services/Caching/CacheOptions.cs
  Brainarr.Plugin/Services/Caching/CacheResult.cs
  Brainarr.Plugin/Services/Caching/CacheStatistics.cs
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Caching/IDistributedCache.cs
  Brainarr.Plugin/Services/Caching/LRUCache.cs
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Tests/ChaosMonkey/RateLimiterChaosMonkeyTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(deps): bump RicherTunes/Lidarr.Plugin.Common/.github/workflows/packaging-gates.yml (#514)
  .github/workflows/packaging-gates.yml
Due: check-api-keys

deps: Bump the test-dependencies group with 1 update (#515)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

ci(deps): bump actions/upload-artifact from 6 to 7 (#516)
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/governance.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-live.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(deps): bump lycheeverse/lychee-action from 2.2.0 to 2.8.0 (#517)
  .github/workflows/docs-truth-check.yml
  .github/workflows/link-check.yml
Due: check-api-keys

deps: Bump System.Configuration.ConfigurationManager from 10.0.3 to 10.0.4 (#519)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

fix: bump ProtectedData 8.0.0→9.0.14 to match Common transitive
  Directory.Packages.props
Due: check-api-keys

fix: bump ProtectedData 8.0.0→9.0.14 to match Common transitive (#523)
  Directory.Packages.props
Due: check-api-keys

fix(ci): update SHA tracking and add missing trailing newlines
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: none

deps: Bump System.Configuration.ConfigurationManager from 10.0.4 to 10.0.5
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

ci(deps): bump RicherTunes/Lidarr.Plugin.Common/.github/workflows/packaging-gates.yml
  .github/workflows/packaging-gates.yml
Due: check-api-keys

ci(deps): bump actions/download-artifact from 7 to 8
  .github/workflows/ci.yml
  .github/workflows/plugin-package.yml
Due: check-api-keys

deps: Bump coverlet.collector from 8.0.0 to 8.0.1
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

chore(submodule): bump Common to b178142
  ext-common-sha.txt
Due: none

fix: add trailing newline to packages.lock.json
  Brainarr.Tests/packages.lock.json
Due: none

deps: Bump ILRepack.Lib.MSBuild.Task from 2.0.44.1 to 2.0.44.2
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

chore(submodule): bump Common to bcf8496
  ext-common-sha.txt
Due: none

fix: add trailing newline to packages.lock.json
  Brainarr.Plugin/packages.lock.json
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

