Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(review-queue): GetCounts skips null entries to survive corrupted on-disk store
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
Due: check-api-keys, dotnet-format-whitespace

chore(lockfiles): append trailing newlines (pre-commit end-of-file-fixer)
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

chore(format): apply pre-commit dotnet-format-whitespace + end-of-file fixes
  .github/pull_request_template.md
  AUTH_SCOPE_AUDIT.md
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Tests/Security/BrainarrApiKeyProtectionTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): sync ext-common-sha.txt to current pin (v1.14.0 / 15fa92d)
  ext-common-sha.txt
Due: none

chore(template): normalize pull_request_template.md to single trailing newline
  .github/pull_request_template.md
Due: none

docs(template): blank line after '## Description' heading (markdownlint MD022)
  .github/pull_request_template.md
Due: none

ci(test-windows): skip build+tests when Linux Docker image unavailable
  .github/workflows/test-and-coverage.yml
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys

test(sandbox): quarantine 8 PluginSandboxRuntimeTests — design mismatch with Brainarr
  Brainarr.Tests/Runtime/PluginSandboxRuntimeTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(pre-commit): dotnet-format-whitespace excludes ext/ submodule
  .pre-commit-config.yaml
Due: check-api-keys

chore(submodule): bump Common to 7e5596c (ecosystem-parity-lint fallback)
  ext-common-sha.txt
Due: none

test(xunit1031): convert 5 blocking .GetAwaiter().GetResult()/Task.WaitAll tests to async
  Brainarr.Tests/MusicBrainzRateLimiterExtendedTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrZaiCodingProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrZaiGlmProviderTests.cs
  Brainarr.Tests/Services/Health/BackendHealthCacheTests.cs
  Brainarr.Tests/Services/Resilience/LlmAuthCircuitTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: bump plugin.json commonVersion to 1.14.2 to match canonical
  plugin.json
Due: docs-consistency

fix(model-detection): remove .Result inside ContinueWith — refactor to await
  Brainarr.Plugin/Services/ModelDetectionService.cs
Due: check-api-keys, dotnet-format-whitespace

fix(model-detection): reword comment so Static Guards regex doesn't match '.Result\b'
  Brainarr.Plugin/Services/ModelDetectionService.cs
  plugin.json
Due: check-api-keys, docs-consistency, dotnet-format-whitespace
