Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix: update Lidarr submodule to track plugins branch
  .gitmodules
Due: check-api-keys

fix: add missing Azure DevOps NuGet feeds for Lidarr dependencies
  NuGet.config
Due: check-api-keys

fix: add Private=false and ExcludeAssets=runtime to Lidarr ProjectReferences
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: add comprehensive NuGet.config patch for Azure DevOps feeds
  .github/scripts/patch-nuget-config.sh
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

feat: add expert agent skills for CI/CD automation
  .claude/skills/code-quality/SKILL.md
  .claude/skills/container-deployment/SKILL.md
  .claude/skills/release-automation/SKILL.md
  .claude/skills/security-compliance/SKILL.md
Due: none

fix: patch both Lidarr and plugin.common NuGet.configs
  .github/scripts/patch-nuget-config.sh
Due: check-api-keys

fix: add package source mapping and resolve version conflicts
  .github/scripts/patch-nuget-config.sh
  Directory.Packages.props
Due: check-api-keys

fix: disable CPM for Lidarr submodule projects
  Directory.Packages.props
Due: check-api-keys

fix: remove incorrect package source mappings causing NU1101 errors
  .github/scripts/patch-nuget-config.sh
Due: check-api-keys

fix: disable analyzers for Lidarr submodule projects
  Directory.Packages.props
Due: check-api-keys

fix: move analyzer disable to Directory.Build.props for earlier evaluation
  Directory.Build.props
Due: check-api-keys

fix: correct typeof(Brainarr) references to typeof(BrainarrImportList)
  Brainarr.Tests/PluginLoadingTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: use fully qualified name to resolve Brainarr namespace ambiguity
  Brainarr.Tests/PluginLoadingTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: remove conflicting Docker extraction from CodeQL workflow
  .github/workflows/codeql.yml
Due: check-api-keys

fix: align Test and Coverage workflow with CI approach
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: add --no-build flag to Test and Coverage workflow tests
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: extract Lidarr assemblies with dependencies in test workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: remove duplicate Lidarr assembly extraction steps
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: add NuGet config patching for Azure DevOps feeds
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: add explicit submodule initialization before patching NuGet configs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: remove ExcludeAssets=runtime and Docker extraction to resolve Equ.dll dependency
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-api-keys, check-csproj-versions

fix: add missing package source mappings for SQLite and FluentMigrator
  .github/scripts/patch-nuget-config.sh
Due: check-api-keys

refactor: simplify build setup to match Tubifarry's approach
  .github/actions/patch-taglib-mapping/action.yml
  .github/scripts/patch-nuget-config.sh
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  global.json
Due: check-api-keys, check-csproj-versions

fix: exclude Lidarr assemblies from code coverage calculation
  Brainarr.Tests/test.fast.runsettings
Due: check-api-keys

deps: Bump test-dependencies group
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

ci(deps): bump actions/setup-dotnet from 4 to 5
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-update.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/plugin-package.yml
  .github/workflows/pre-commit.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(deps): bump actions/github-script from 7 to 8
  .github/workflows/close-superseded-pr-155.yml
  .github/workflows/digest-drift.yml
Due: check-api-keys

chore(pre-commit): apply auto-fixes
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: none

feat(prompting): ensure library sample fingerprint ordering is stable
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

feat(logging): add secure structured logger with masking
  Brainarr.Plugin/Services/Logging/SecureStructuredLogger.cs
  Brainarr.Tests/Logging/SecureStructuredLoggerTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(pre-commit): apply auto-fixes
  Brainarr.Plugin/Services/Logging/SecureStructuredLogger.cs
  Brainarr.Tests/Logging/SecureStructuredLoggerTests.cs
Due: check-api-keys, dotnet-format-whitespace
