Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


refactor(m6-2): extract TokenBudgetResolver from LibraryAwarePromptBuilder (#420)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/TokenBudgetResolver.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract PromptCompressionOrchestrator from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/PromptCompressionOrchestrator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract PromptCompressionOrchestrator from LibraryAwarePromptBuilder (#421)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/PromptCompressionOrchestrator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ProviderLifecycleService from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleService.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ProviderLifecycleService from BrainarrOrchestrator (#422)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleService.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ReviewQueueActionHandler from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ReviewQueueActionHandler from BrainarrOrchestrator (#423)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ConfigurationValidator from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ConfigurationValidator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ConfigurationValidator from BrainarrOrchestrator (#424)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ConfigurationValidator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract RecommendationGenerator from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract RecommendationGenerator from BrainarrOrchestrator (#425)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-5): extract SYSTEM_AVOID parsing to shared PromptShapeHelper
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Parsing/PromptShapeHelper.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-5): extract SYSTEM_AVOID parsing to shared PromptShapeHelper (#426)
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Parsing/PromptShapeHelper.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-5): replace duplicated response models with shared OpenAICompatibleResponse
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-5): replace duplicated response models with shared OpenAICompatibleResponse (#427)
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

ci(m5-6): add nightly live-service E2E tests and workflow
  .github/workflows/nightly-live.yml
  Brainarr.Tests/Integration/E2ELiveServiceTests.cs
  tests/Brainarr.TestKit.Providers/Http/LiveHttpClient.cs
Due: check-api-keys, dotnet-format-whitespace

ci(m5-6): harden nightly-live with zero-test guard and 3-fail issue creation
  .github/workflows/nightly-live.yml
  Brainarr.Tests/Integration/E2ELiveServiceTests.cs
  tests/Brainarr.TestKit.Providers/Http/LiveHttpClient.cs
Due: check-api-keys, dotnet-format-whitespace

ci(m5-6): scope failure tracking to default branch + placeholder detection
  .github/workflows/nightly-live.yml
Due: check-api-keys

feat(n1): add Retry-After retry to LiveHttpClient + inconclusive classification
  .github/workflows/nightly-live.yml
  Brainarr.Tests/Integration/E2ELiveServiceTests.cs
  tests/Brainarr.TestKit.Providers/Http/LiveHttpClient.cs
Due: check-api-keys, dotnet-format-whitespace

ci(n3): add nightly packaging verification + expected-contents manifest
  .github/workflows/packaging-gates.yml
  packaging/expected-contents.txt
Due: check-api-keys

ci: enforce SHA-match lint + bump pins to ebb8c68 + stagger schedule
  .github/workflows/packaging-gates.yml
  .github/workflows/verify-pins.yml
Due: check-api-keys

chore: add missing packaging artifact patterns to .gitignore
  .gitignore
Due: check-api-keys

fix: convert expected-contents.txt to pure ASCII
  packaging/expected-contents.txt
Due: none

ci: stagger nightly-live schedule + fix concurrency group
  .github/workflows/nightly-live.yml
Due: check-api-keys

ci: repin Common workflow to 1f9d9f7 (contents manifest gate)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

ci(n3): nightly packaging verification + contents manifest (#429)
  .github/workflows/packaging-gates.yml
  .github/workflows/verify-pins.yml
  .gitignore
  ext-common-sha.txt
  packaging/expected-contents.txt
Due: check-api-keys
