Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore: update ext-common-sha.txt for v1.5.0 submodule
  ext-common-sha.txt
Due: none

chore: update Common submodule to merged v1.5.0
  ext-common-sha.txt
Due: none

fix(ci): update to net8.0 only for Lidarr 3.x compatibility
  .github/workflows/nightly.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/packages.lock.json
Due: check-api-keys, check-csproj-versions

fix: remove analyzer-disabling AdditionalProperties that caused duplicate builds
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: remove quarantine from flaky timing tests
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: bump common submodule and net8-only
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/packages.lock.json
  ext-common-sha.txt
  tests/Brainarr.TestKit.Providers/Runtime/TestAssemblyResolver.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix: stabilize tests and runtime
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/LibraryProfileService.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
  Directory.Build.props
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test(packaging): enforce ecosystem packaging policy
  .github/workflows/plugin-package.yml
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
  Brainarr.Tests/Packaging/PackagingFactAttribute.cs
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
  build.ps1
  docs/PACKAGING_POLICY_BASELINE.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore: bump Common to 1af35fd
  ext-common-sha.txt
Due: none

chore: bump Common to 1af35fd (#344)
  ext-common-sha.txt
Due: none

docs: align packaging policy with ecosystem canonical policy
  docs/PACKAGING_POLICY_BASELINE.md
Due: docs-markdownlint, docs-consistency

docs: add plugin packaging policy to CLAUDE.md
  CLAUDE.md
Due: none

fix(packaging): stop shipping FluentValidation for plugin hosts
  build.ps1
  manifest.json
Due: check-api-keys

chore: bump AssemblyInfo to 1.3.2.0
  Brainarr.Plugin/Properties/AssemblyInfo.cs
Due: check-api-keys, dotnet-format-whitespace

test(packaging): add guard test for FluentValidation exclusion
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): don't ship FluentValidation to avoid ImportList Test() type-identity mismatch (#346)
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
  build.ps1
  manifest.json
Due: check-api-keys, dotnet-format-whitespace

fix(versioning): derive assembly versions from plugin.json
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  Directory.Build.props
  Directory.Build.targets
  VERSION
  manifest.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

build: add FluentValidation host guard to prevent type-identity issues
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

test(versioning): fail build if version missing
  Brainarr.Tests/Documentation/AssemblyVersionConsistencyTests.cs
  Directory.Build.targets
Due: check-api-keys, dotnet-format-whitespace

test(versioning): assert file version matches plugin.json
  Brainarr.Tests/Documentation/AssemblyVersionConsistencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: bump Common to 22ba645 (metadata+m4a + E2E gates)
  CLAUDE.md
  ext-common-sha.txt
  scripts/sync-ext-common-sha.ps1
Due: check-api-keys

chore: bump Lidarr.Plugin.Common to e79f81c6
  ext-common-sha.txt
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

