Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


refactor: remove ServiceLocator usage for IHttpResilience and library profile fallback; always use ResiliencePolicy; fix orchestrator fallback to avoid ServiceLocator; update HttpProviderClient
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/HttpProviderClient.cs
Due: check-api-keys, dotnet-format-whitespace

ci(submodules): force PAT for private submodules; add job/step timeouts + concurrency cancellation to CodeQL/Registry/Sanity/Package/CI; timebox extraction/restore/build
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

ci/style: normalize EOF/line-endings after DI + options change
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/LibraryProfileOptions.cs
  Brainarr.Plugin/Services/Core/LibraryProfileService.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

ci(workflows): avoid secrets in if-expressions; use env-guarded PAT step for submodules across ci/codeql/registry/sanity/plugin-package; simplify checkout token expression in test-and-coverage
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/plugin-package.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

test(core): add TTL expiry and deterministic fingerprint tests for LibraryProfileService
  .github/workflows/ci.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Tests/Services/Core/LibraryProfileServiceOptionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(providers): add parameterless ProviderRegistry for tests/legacy; inject IHttpResilience when available; pass httpExec only to providers that support it
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

test(providers): add OpenAI DI contract test and fix EOF
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Tests/Services/Providers/OpenAIProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

tests(testkit): add ProviderContract TestKit and OpenAI suite; ci: run provider-contract with timeouts; prevent hung runs
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.sln
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/TestAssets/openai.chat.min.json
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
  tests/Brainarr.TestKit.Providers/Fakes/TestResilience.cs
  tests/Brainarr.TestKit.Providers/Logging/TestLoggerSink.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

ci: normalize lockfiles after filter fix
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, check-csproj-versions

logging: add WarnOnceWithEvent(EventId=12001) and wire to DI-fallback warnings; ci: ensure security-scan checkout uses PAT for submodules
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

tests(testkit): reference Lidarr.Http from so TestKit compiles in CodeQL/CI builds
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

nuget: add lidarr-taglib feed alias and mapping for TagLibSharp-Lidarr; fix PR restore failures
  NuGet.config
Due: check-api-keys

ci: patch submodule NuGet.config to map TagLibSharp-Lidarr to lidarr-taglib feed in CodeQL/test/ci jobs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys
