Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(ci): narrow detect-secrets exclusion to workflows only
  .pre-commit-config.yaml
Due: check-api-keys

chore(ci): complete packaging-gates staged rollout
  .github/workflows/packaging-closure.yml
Due: check-api-keys

docs(screenshots): refresh auto-generated UI screenshots
  docs/assets/screenshots/import-list-add-modal.png
  docs/assets/screenshots/import-list-config.png
  docs/assets/screenshots/import-lists.png
  docs/assets/screenshots/landing.png
  docs/assets/screenshots/settings.png
Due: check-api-keys

chore: add sync-over-async allowlist (18A + 7C instances)
  .github/sync-over-async-allowlist.json
Due: none

chore: update ext-common-sha.txt to match bumped submodule
  ext-common-sha.txt
Due: none

chore(deps): bump Common submodule (DIAG-317) (#405)
  .github/sync-over-async-allowlist.json
  ext-common-sha.txt
Due: none

feat(m4): add health headroom, redaction contracts, provider allowlist, negative-path tests
  Brainarr.Plugin/Services/ProviderHealth.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
  Brainarr.Tests/Services/ProviderNegativePathContractTests.cs
  Brainarr.Tests/Services/ProviderRegistryAllowlistTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(m5): add hermetic E2E gate tests for Brainarr
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(m6-1): add characterization tests at public seams for god-classes
  Brainarr.Tests/Characterization/OrchestratorCharacterizationTests.cs
  Brainarr.Tests/Characterization/PromptBuilderCharacterizationTests.cs
  Brainarr.Tests/Characterization/SettingsCharacterizationTests.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): remove 424 lines of dead code from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): remove 59 lines of dead code from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract ModelContextResolver from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/ModelContextResolver.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract SamplingSeedComputer from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/SamplingSeedComputer.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract SessionDeduplication from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/SessionDeduplication.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-3): extract ModelOptionsProvider from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ModelOptionsProvider.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): use Area trait instead of Category for characterization tests
  Brainarr.Tests/Characterization/OrchestratorCharacterizationTests.cs
  Brainarr.Tests/Characterization/PromptBuilderCharacterizationTests.cs
  Brainarr.Tests/Characterization/SettingsCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): resolve xUnit1012 nullable parameter warning
  Brainarr.Tests/Characterization/PromptBuilderCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(tests): add E2E hermetic gate job to test-and-coverage workflow
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

feat(m4): health headroom, redaction contracts, provider allowlist, negative-path tests (#406)
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ModelOptionsProvider.cs
  Brainarr.Plugin/Services/Core/SessionDeduplication.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/ModelContextResolver.cs
  Brainarr.Plugin/Services/ProviderHealth.cs
  Brainarr.Plugin/Services/SamplingSeedComputer.cs
  Brainarr.Tests/Characterization/OrchestratorCharacterizationTests.cs
  Brainarr.Tests/Characterization/PromptBuilderCharacterizationTests.cs
  Brainarr.Tests/Characterization/SettingsCharacterizationTests.cs
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
  Brainarr.Tests/Services/ProviderNegativePathContractTests.cs
  Brainarr.Tests/Services/ProviderRegistryAllowlistTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(governance): add weekly allowlist expiration and quarantine visibility
  .github/workflows/governance.yml
Due: check-api-keys

ci(governance): weekly allowlist expiration + quarantine visibility
  .github/workflows/governance.yml
Due: check-api-keys

refactor(m6): extract DuplicateFilterService from LibraryAnalyzer
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/DuplicateFilterService.cs
  Brainarr.Plugin/Services/Core/IDuplicateFilterService.cs
  Brainarr.Plugin/Services/Core/ILibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/Characterization/OrchestratorCharacterizationTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigValidationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConnectionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealthTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorMoreTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6): extract ObservabilityService from BrainarrOrchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IObservabilityService.cs
  Brainarr.Plugin/Services/Core/ObservabilityService.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): eliminate 3 flaky/failing tests for rock-solid CI
  Brainarr.Tests/Documentation/MetadataConsistencyTests.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace
