Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


test(resilience): assert blocked operation name in circuit open message
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(resilience): assert blocked operation name in circuit open message (#489)
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(ci): add verify-local warning budget config
  scripts/verify-local.ps1
Due: check-api-keys

chore(ci): set local verify warning budget (#490)
  scripts/verify-local.ps1
Due: check-api-keys

feat(ai): add queue triage and library gap planner actions
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/LibraryGapPlannerServiceTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 486de31
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

chore(submodule): bump Common to 486de31 (#492)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

feat(ai): add queue triage + library gap planner actions (#491)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/LibraryGapPlannerServiceTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 316812f
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

docs: add post-roadmap AI feature backlog
  AI_IDEAS.md
Due: none

chore(submodule): bump Common to 316812f (#496)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

docs: add post-roadmap AI feature backlog (#497)
  AI_IDEAS.md
Due: none

feat(review): add structured triage reasons and explanations
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs(ai): expand post-roadmap feature backlog
  AI_IDEAS.md
Due: none

feat(review): add triage simulation and gap-plan evidence contracts
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/LibraryGapPlannerServiceTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorGoldenTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): surface triage and gap labels in action payloads
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): add gated auto-triage apply with audit persistence
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): add idempotency and retention hardening
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): add read-only triage audit retrieval action
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): add rollback action for triage batches
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): add getrollbackoptions endpoint, 90-day retention, and redaction tests
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceRedactionTests.cs
Due: check-api-keys, dotnet-format-whitespace

style: fix nullable annotations in redaction tests for dotnet format
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceRedactionTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(review): Phase 12 - Review Action Lifecycle (#498)
  AI_IDEAS.md
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/LibraryGapPlannerService.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Plugin/Services/Core/ReviewQueueActionHandler.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/LibraryGapPlannerServiceTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorGoldenTests.cs
  Brainarr.Tests/Services/Core/RecommendationTriageAdvisorTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceRedactionTests.cs
  Brainarr.Tests/Services/Support/ReviewActionAuditServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(triage): add per-provider confidence calibration (Phase 14)
  Brainarr.Plugin/Services/Core/ProviderCalibrationProfile.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Tests/Services/Core/CalibrationAccuracyTests.cs
  Brainarr.Tests/Services/Core/ProviderCalibrationTests.cs
  Brainarr.Tests/Services/Core/ProviderGoldenFixtureTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(triage): add per-provider confidence calibration (Phase 14) (#499)
  Brainarr.Plugin/Services/Core/ProviderCalibrationProfile.cs
  Brainarr.Plugin/Services/Core/RecommendationTriageAdvisor.cs
  Brainarr.Tests/Services/Core/CalibrationAccuracyTests.cs
  Brainarr.Tests/Services/Core/ProviderCalibrationTests.cs
  Brainarr.Tests/Services/Core/ProviderGoldenFixtureTests.cs
Due: check-api-keys, dotnet-format-whitespace
