Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(global.json): prevent rollforward to .NET 10 preview SDK
  global.json
Due: none

fix: remove ExcludeAssets=build from ILRepack package reference
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: add PluginPackagingDisable to CodeQL workflow
  .github/workflows/codeql.yml
Due: check-api-keys

docs: comprehensive documentation overhaul
  docs/DOCUMENTATION_ENHANCEMENT_REPORT.md
  docs/DOCUMENTATION_STATUS.md
  docs/ENHANCED_LIBRARY_ANALYSIS.md
  docs/FAQ.md
  docs/IS_IT_WORKING.md
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/PR131_INTEGRATION_PLAN.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/README.md
  docs/RECOMMENDATIONS.md
  docs/ROADMAP.md
  docs/archive/README.md
  docs/assets/diagrams/provider-decision-flowchart.svg
  docs/configuration.md
  docs/troubleshooting.md
  scripts/snapshots/snap.mjs
Due: docs-markdownlint, check-api-keys, docs-consistency

fix: use UsingTask to import ILRepack task with ExcludeAssets="build"
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(docs): correct relative links in archived troubleshooting guide
  docs/archive/TROUBLESHOOTING_ENHANCED.md
Due: docs-markdownlint, docs-consistency

fix: remove ExcludeAssets=build from ILRepack package reference (#307)
  .github/workflows/codeql.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  docs/DOCUMENTATION_ENHANCEMENT_REPORT.md
  docs/DOCUMENTATION_STATUS.md
  docs/ENHANCED_LIBRARY_ANALYSIS.md
  docs/FAQ.md
  docs/IS_IT_WORKING.md
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/PR131_INTEGRATION_PLAN.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/README.md
  docs/RECOMMENDATIONS.md
  docs/ROADMAP.md
  docs/archive/README.md
  docs/archive/TROUBLESHOOTING_ENHANCED.md
  docs/assets/diagrams/provider-decision-flowchart.svg
  docs/configuration.md
  docs/troubleshooting.md
  scripts/snapshots/snap.mjs
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions

fix(docs): correct interface header in API reference
  docs/API_REFERENCE.md
Due: docs-markdownlint, docs-consistency

fix: disable MD012 and MD032 markdownlint rules
  .markdownlint.yml
Due: check-api-keys

chore: update ext-common-sha.txt to match submodule
  ext-common-sha.txt
Due: none

fix(ci): disable ILRepack in Sanity Build workflow
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix(ci): exclude build outputs and localization from detect-secrets
  .pre-commit-config.yaml
Due: check-api-keys

fix(screenshots): use centralized utility and bypass auth modal
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(screenshots): add PluginPackagingDisable and continue-on-error
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(screenshots): handle missing config.xml gracefully
  .github/workflows/screenshots.yml
Due: check-api-keys

build: Standardize build configuration with centralized settings
  Directory.Build.props
  Directory.Packages.props
  VERSION
Due: check-api-keys

fix: Address code warnings from CI
  .markdownlint.yaml
  Brainarr.Plugin/Services/RateLimiting/EnhancedRateLimiter.cs
  Brainarr.Tests/Helpers/HttpResponseFactory.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Use net6.0 ILRepack task DLL for cross-platform compatibility
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

