Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(common): repin to 7960f39
  ext-common-sha.txt
Due: none

chore(common): repin to 8988807 and route sync bridges
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

test(openai): keep provider contract project in deterministic CI
  tests/Brainarr.Providers.OpenAI.Tests/Contract/OpenAiChatFixtureContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: adopt aggregate parity guard
  Brainarr.Plugin/Brainarr.cs
  Brainarr.Plugin/Configuration/BrainarrConstants.cs
  Brainarr.Plugin/Diagnostics/BrainarrHealthDiagnostics.cs
  Brainarr.Tests/BrainarrSettings.DiscoveryCovTests.cs
  Brainarr.Tests/Diagnostics/BrainarrHealthDiagnosticsAllowedValuesTests.cs
  Brainarr.Tests/test.fast.runsettings
  CLAUDE.md
  docs/HANDOFF_AUTH_GATE.md
  docs/TDD.md
  docs/superpowers/plans/2026-06-30-library-healer-a1-read-only-detection.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test(compliance): satisfy aggregate parity guard
  Brainarr.Plugin/Brainarr.cs
  Brainarr.Plugin/Configuration/BrainarrConstants.cs
  Brainarr.Plugin/Diagnostics/BrainarrHealthDiagnostics.cs
  Brainarr.Plugin/Services/TokenBudgetResolver.cs
  Brainarr.Tests/BrainarrSettings.DiscoveryCovTests.cs
  Brainarr.Tests/Diagnostics/BrainarrHealthDiagnosticsAllowedValuesTests.cs
  Brainarr.Tests/test.fast.runsettings
  CLAUDE.md
  docs/HANDOFF_AUTH_GATE.md
  docs/TDD.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore(common): repin to 96918d2
  ext-common-sha.txt
Due: none

chore(common): repin to Common main af22a918
  ext-common-sha.txt
Due: none

chore(common): repin to merged parity guard commit
  ext-common-sha.txt
Due: none

docs: correct Brainarr entrypoint references
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/Observability/ObservabilityAdoptionTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerReadOnlyArchitectureTests.cs
  Brainarr.Tests/Services/Tokenization/ModelTokenizerRegistryTests.cs
  CLAUDE.md
  docs/CORRELATION_TRACKING.md
  docs/PLUGIN_LIFECYCLE.md
  docs/superpowers/plans/2026-06-30-library-healer-a1-read-only-detection.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test: stabilize Brainarr cancellation bridge coverage
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: harden Brainarr cancellation bridge coverage
  Brainarr.Tests/Services/ConcurrencyTests.cs
  DEVELOPMENT.md
Due: check-api-keys, dotnet-format-whitespace

chore: repin Common after conduct guard fix
  ext-common-sha.txt
Due: none

fix(healer): stop lying about persisted findings + bound the exists-probe gate
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerEvidenceContractGoldenTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFieldSensitivityCatalogTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: enforce LF for Common pin sentinel
  .gitattributes
Due: check-api-keys

feat(healer): real freshness, storage-root outage coalescing, unified redaction predicate
  Brainarr.Plugin/Services/Healing/HealerFreshnessEvaluator.cs
  Brainarr.Plugin/Services/Healing/HealerStorageRoot.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerEvidence.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFieldSensitivityCatalog.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerReasonCodes.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerTokenRedaction.cs
  Brainarr.Tests/Services/Healing/LibraryHealerActionHandlerFreshnessTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerRedactionParityTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerCoalescingTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  Brainarr.Tests/TestData/LibraryHealer/library_healer_field_catalog_contract.json
  Brainarr.Tests/TestData/LibraryHealer/library_healer_getfindings_contract.json
Due: check-api-keys, dotnet-format-whitespace

fix(healer): fail closed on persisted freshness
  Brainarr.Plugin/Services/Healing/HealerFreshnessNormalizer.cs
  Brainarr.Plugin/Services/Healing/HealerTriageAdvisor.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerEvidence.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Documentation/LibraryHealerDocumentationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/HealerTriageFreshnessTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerActionHandlerFreshnessTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerEvidenceContractGoldenTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(healer): harden storage-root coalescing
  Brainarr.Plugin/Services/Healing/HealerStorageRoot.cs
  Brainarr.Plugin/Services/Healing/HealerTriageAdvisor.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Plugin/Services/Healing/StorageRootAvailabilityProbe.cs
  Brainarr.Tests/Documentation/LibraryHealerDocumentationTests.cs
  Brainarr.Tests/Services/Healing/HealerTriageAdvisorTests.cs
  Brainarr.Tests/Services/Healing/HealerTriageFreshnessTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerRedactionParityTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerCoalescingTests.cs
  Brainarr.Tests/Services/Healing/StorageRootAvailabilityProbeTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(healer): avoid sync-over-async in root probe
  Brainarr.Plugin/Services/Healing/StorageRootAvailabilityProbe.cs
Due: check-api-keys, dotnet-format-whitespace

feat(cost): wire TokenCostEstimator into a real cost-visibility panel
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Tests/Configuration/ModelIdMapperTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorCostTrackingTests.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorPricingHonestyTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

docs(brainarr): describe cost visibility action
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorPricingHonestyTests.cs
  CLAUDE.md
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(cost): fail closed on model pricing prefixes
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorPricingHonestyTests.cs
Due: check-api-keys, dotnet-format-whitespace
