Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(pr-template): adopt cross-plugin Pre-Merge Verification convention
  .github/pull_request_template.md
Due: none

test(release-e2e): regression backstop for the May 2026 install failures
  Brainarr.Tests/ReleaseE2E/PublishedReleaseInstallabilityTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(release-e2e): tighten Fact to SkippableFact
  Brainarr.Tests/ReleaseE2E/PublishedReleaseInstallabilityTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(release): bump version to 1.4.2
  VERSION
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

fix(submodule): pin Common to v1.8.0 main-branch commit (1c66163)
  ext-common-sha.txt
Due: none

refactor(tests): adopt Common.TestKit Plugin*Contract helpers (-337 LOC net)
  Brainarr.Tests/Contracts/VersionContractTests.cs
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
  Brainarr.Tests/ReleaseE2E/PublishedReleaseInstallabilityTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(zai-coding): hardening — temperature parity, drop unused ToolCalling, UA env override
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiCodingProvider.cs
  Brainarr.Tests/Providers/Llm/BrainarrZaiCodingProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): BRN-001 actually encrypt API keys at rest (getter exposes ciphertext)
  Brainarr.Plugin/BrainarrSettings.Helpers.cs
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Tests/Configuration/BrainarrAdvancedConfigurationTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsProviderSwitchingTests.cs
  Brainarr.Tests/ProviderSwitchingTests.cs
  Brainarr.Tests/Security/BrainarrApiKeyProtectionTests.cs
  Brainarr.Tests/Services/Registry/AIProviderFactoryRegistryTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  docs/SECURITY/BRN-001-REMEDIATION.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs(claude): document Lidarr.Plugin.*.dll naming contract
  CLAUDE.md
Due: none

release: v1.5.0 (BRN-001 actually encrypts + bump Common to v1.9.0)
  CHANGELOG.md
  VERSION
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

release: v1.5.1 (Lidarr-Docker token-protection hotfix via Common v1.9.2)
  CHANGELOG.md
  VERSION
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

docs(ux): document Lidarr UI's model-dropdown refresh behavior in HelpText
  Brainarr.Plugin/BrainarrSettings.cs
Due: check-api-keys, dotnet-format-whitespace

release: v1.5.2 (Common v1.9.3 — adversarial-review hardening + model-refresh UX doc)
  CHANGELOG.md
  VERSION
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

fix(brainarr): replace SpecialFolder.ApplicationData chains with PluginConfigRoots + tokenizer Debug branch
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Services/Support/ReviewActionAuditService.cs
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

feat(brainarr): BackendHealthCache + WarnOnce adoption
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Health/BackendHealthCache.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/Services/Health/BackendHealthCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(brainarr): extend BackendHealthCache to completion path + adopt JsonFileStore for ReviewQueueService
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
  Brainarr.Tests/Providers/Llm/BackendHealthCacheCompletionTests.cs
Due: check-api-keys, dotnet-format-whitespace
