Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


refactor(prompt): modularize planner and enforce token policies
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultCompressionPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultContextPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultTokenBudgetPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/ICompressionPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/IContextPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/ITokenBudgetPolicy.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSignatureService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultStyleSelectionService.cs
  Brainarr.Plugin/Services/Prompting/Services/ISamplingService.cs
  Brainarr.Plugin/Services/Prompting/Services/ISignatureService.cs
  Brainarr.Plugin/Services/Prompting/Services/IStyleSelectionService.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/StyleSelectionServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: describe planner refactor and tests
  docs/ARCHITECTURE.md
  docs/TESTING_GUIDE.md
Due: docs-markdownlint, docs-consistency

Tighten prompt plan cache signatures
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSignatureService.cs
  Brainarr.Plugin/Services/Prompting/Services/ISignatureService.cs
Due: check-api-keys, dotnet-format-whitespace

Improve tokenizer logging and plan cache coverage
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/StableHash.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  Brainarr.Tests/Services/Prompting/StableHashTests.cs
  Brainarr.Tests/Services/Tokenization/ModelTokenizerRegistryTests.cs
  CONTRIBUTING.md
Due: check-api-keys, dotnet-format-whitespace

Harden planner caching and duplication guard
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSignatureService.cs
  Brainarr.Plugin/Services/Support/MetricsNames.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  Brainarr.Tests/Services/Tokenization/ModelTokenizerRegistryTests.cs
  README.md
  docs/METRICS_REFERENCE.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: finalize 1.3.0 documentation rollout
  .gitignore
  Brainarr.Plugin/Configuration/Constants.cs
  CONTRIBUTING.md
  DELEGATION_PLAN.md
  README.md
  docs/ARCHITECTURE.md
  docs/CORRELATION_TRACKING.md
  docs/DEV_UI_EXAMPLE.md
  docs/DOCUMENTATION_STATUS.md
  docs/FAQ.md
  docs/MIGRATION_GUIDE.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/TROUBLESHOOTING.md
  docs/USER_SETUP_GUIDE.md
  docs/archive/DOCUMENTATION_AUDIT_FINAL_REPORT.md
  docs/archive/DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/DOCUMENTATION_ENHANCEMENT_REPORT.md
  docs/archive/TROUBLESHOOTING_ENHANCED.md
  docs/configuration.md
  docs/planner-and-cache.md
  docs/release-notes/v1.2.4.md
  docs/release-notes/v1.2.5.md
  docs/release-notes/v1.2.6.md
  docs/release-notes/v1.2.7.md
  docs/release-notes/v1.3.0.md
  docs/tokenization-and-estimates.md
  docs/troubleshooting.md
  docs/upgrade-notes-1.3.0.md
  wiki-content/Advanced-Settings.md
  wiki-content/Cloud-Providers.md
  wiki-content/Home.md
  wiki-content/Installation.md
  wiki-content/Local-Providers.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Operations.md
  wiki-content/Provider-Basics.md
  wiki-content/Review-Queue.md
  wiki-content/Start-Here.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Add PowerShell docs guard and expand planner tests
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  CONTRIBUTING.md
  README.md
  docs/METRICS_REFERENCE.md
  docs/assets/grafana-brainarr-observability.json
  docs/assets/grafana-brainarr-srebar.json
  docs/troubleshooting.md
  docs/upgrade-notes-1.3.0.md
  scripts/check-docs-consistency.ps1
  scripts/check-docs-consistency.sh
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Tighten docs ahead of 1.3.0 RC
  dashboards/README.md
Due: docs-markdownlint, docs-consistency

Adopt common resilience executor and adaptive limiter
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Prompting/PlanCacheStatistics.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Tests/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: update to reflect latest plugin state
  README.md
  docs/DOCUMENTATION_STATUS.md
Due: docs-markdownlint, docs-consistency

Run pre-commit auto-fixes (EOL, whitespace); finalize DI + test fixes for pr220.
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Hosting/BrainarrModule.cs
  Brainarr.Plugin/Hosting/BrainarrPluginHost.cs
  Brainarr.Plugin/Hosting/BrainarrSettingDefinitions.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Prompting/IPlanCache.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Tests/Services/Core/BrainarrModuleBootstrapTests.cs
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test(harness): add pre-test cleanup + 60s hang guard; ensure consistent EOL
  build.ps1
  build.sh
Due: check-api-keys

ci(tests): add pre-test cleanup and hang guard to Linux job; normalize EOL
  .github/workflows/test-and-coverage.yml
Due: check-api-keys
