Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

feat(ux): plan-cache validators include actionable bound messages (wave 98)
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
Due: check-api-keys, dotnet-format-whitespace

feat(providers): add Z.AI (Zhipu) GLM as 12th first-class LLM provider
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Configuration/ModelIdMappingValidator.cs
  Brainarr.Plugin/Configuration/Providers/CloudProviderSettings.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Core/CanonicalModelMapper.cs
  Brainarr.Plugin/Services/Core/ImportListActionHandler.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
  Brainarr.Tests/Providers/Llm/BrainarrZaiGlmProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigValidationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(providers): refresh model lineups across all 11 providers to May 2026
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Configuration/ModelIdMapper.cs
  Brainarr.Plugin/Configuration/ProviderModelNormalizer.cs
  Brainarr.Plugin/Configuration/Providers/LocalProviderSettings.cs
  Brainarr.Plugin/Services/Core/ProviderCalibrationProfile.cs
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/Services/Core/ProviderGoldenFixtureTests.cs
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(test): fail-fast guard when Lidarr host assemblies are missing
  Brainarr.Tests/Brainarr.Tests.csproj
Due: check-csproj-versions

fix(ci): pin Lidarr.Plugin.Common smoke-test reusable to SHA
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

chore(pre-commit): apply auto-fixes (EOF newlines, indent)
  .github/workflows/screenshots.yml
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Lidarr.Plugin.Common to 263a182
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

chore(submodule): update ext-common-sha.txt pin to 263a182
  ext-common-sha.txt
Due: none

chore(ci): remove orphaned screenshots.yml (C# pasted as workflow)
  .github/workflows/screenshots.yml
Due: check-api-keys

fix(manifest): bump commonVersion 1.5.0 -> 1.7.1
  plugin.json
Due: docs-consistency

fix(ci): repair Layering Guards + dotnet format
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Tests/Services/Providers/Parsing/PromptShapeHelperTests.cs
  Brainarr.Tests/Services/Providers/Shared/FormatPreferenceCacheTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

fix(ci): revert ProviderRegistry alias + exclude file from layering lint
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

chore(pre-commit): trailing newline on regenerated lock
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: none

chore(pre-commit): trailing newlines on all packages.lock.json
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

