Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore: bump Lidarr.Plugin.Common to e79f81c6
  ext-common-sha.txt
Due: none

chore: bump Lidarr.Plugin.Common to 4250c5a (e2e persist rerun)
  ext-common-sha.txt
Due: none

chore(submodule): bump Common to a6df938 (packaging preflight)
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 5610751
  ext-common-sha.txt
Due: none

chore(packaging): align with host contract policy
  Brainarr.Tests/Packaging/BrainarrPackagingPolicyTests.cs
  CLAUDE.md
  build.ps1
  docs/PACKAGING_POLICY_BASELINE.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore: bump lidarr.plugin.common to ca102f8
  ext-common-sha.txt
Due: none

fix(tests): use dynamic dates to avoid date-dependent test failures
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): use dynamic dates to avoid date-dependent test failures (#354)
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(deps): bump Lidarr.Plugin.Common to 7a0d97a
  ext-common-sha.txt
Due: none

chore(deps): bump Lidarr.Plugin.Common to 7a0d97a (#353)
  ext-common-sha.txt
Due: none

fix(build): output package to artifacts/packages/ for E2E consistency
  build.ps1
Due: check-api-keys

chore: bump lidarr.plugin.common to 2db9720
  ext-common-sha.txt
Due: none

chore: bump lidarr.plugin.common to a1d1797
  ext-common-sha.txt
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

