Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore: bump lidarr.plugin.common to 537fffd
  ext-common-sha.txt
Due: none

chore: bump Common to 9fb766a (sources population)
  ext-common-sha.txt
Due: none

chore: bump Common to 93776ab (multiPluginMode)
  ext-common-sha.txt
Due: none

ci(parity-lint): add parity-lint CI job
  .github/workflows/ci.yml
Due: check-api-keys

fix(ci): fix parity-lint checkout authentication
  .github/workflows/ci.yml
Due: check-api-keys

ci(parity-lint): add SHA visibility and fail-fast check
  .github/workflows/ci.yml
Due: check-api-keys

chore: bump Lidarr.Plugin.Common to 3a85e0f (sanitizer + fullSha)
  ext-common-sha.txt
Due: none

chore: bump Lidarr.Plugin.Common to 3a85e0f (sanitizer + fullSha) (#358)
  ext-common-sha.txt
Due: none

fix(tests): search artifacts/packages for plugin package
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): search artifacts/packages for plugin package (#359)
  Brainarr.Tests/Packaging/PackagingTestPaths.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): use manual Common-only submodule init
  .github/workflows/ci.yml
Due: check-api-keys

fix(ci): apply Common-only submodule init to all workflows
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

chore: bump Common submodule to include parity-lint.ps1
  ext-common-sha.txt
Due: none

fix(tests): resolve flaky BrainarrOrchestratorTopUpTests
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): resolve flaky BrainarrOrchestratorTopUpTests (#361)
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add fail-fast submodule assert step to all workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys
