Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat: persist library healer findings
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: sanitize persisted healer finding keys
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: redact relative healer evidence paths
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: harden healer evidence message redaction
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: scan lidarr files for healer symptoms
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: harden healer scan cancellation
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: expose library healer read-only actions
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: capture music helper healer lessons
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
Due: docs-markdownlint, docs-consistency

feat: wire library healer read-only services
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  Brainarr.Tests/BrainarrDependencyInjectionTests.cs
  Brainarr.Tests/BrainarrImportListIntegrationTests.cs
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/ImportList/BrainarrImportListTests.cs
  Brainarr.Tests/Observability/ObservabilityAdoptionTests.cs
  Brainarr.Tests/Services/Core/BrainarrModuleBootstrapTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerReadOnlyArchitectureTests.cs
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: document library healer read-only diagnostics
  Brainarr.Tests/Documentation/LibraryHealerDocumentationTests.cs
  docs/README.md
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore(common): repin to dd7b66e
  ext-common-sha.txt
Due: none

fix: harden library healer diagnostics
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  Brainarr.Plugin/Services/Healing/PathPrivacy.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFindingStoreTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerReadOnlyArchitectureTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  Brainarr.Tests/Services/Healing/LidarrAudioTagSymptomReaderTests.cs
  Brainarr.Tests/Services/Healing/PathPrivacyTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

feat: diagnose missing healer paths
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/IFileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerClassifier.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerLabels.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerClassifierTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  Brainarr.Tests/Services/Healing/LidarrAudioTagSymptomReaderTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix: wire healer path probe timeout
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/IFileFingerprintService.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: stabilize path probe timeout regression
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: separate healer scan budget from cancellation
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix: harden healer path probe cancellation
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/IFileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore(common): repin to 66d383d
  ext-common-sha.txt
Due: none

fix: restore healer path probe deadline
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/IFileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Healing/FileFingerprintServiceTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  docs/library-healer.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test: harden sync bridge cancellation concurrency
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace
