Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

ci(release): bump LIDARR_DOCKER_VERSION to pr-plugins-2.14.2.4786 for simple release workflow
  .github/workflows/release-simple.yml
Due: check-api-keys

ci(release): align LIDARR_DOCKER_VERSION=pr-plugins-2.14.2.4786
  .github/workflows/release.yml
Due: check-api-keys

ci(release): checkout submodules recursively for packaging
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

ci(release): patch TagLibSharp-Lidarr NuGet mapping for submodule before restore
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

ci(layering): remove Services.Core using from Providers to pass layering guards
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
Due: check-api-keys, dotnet-format-whitespace

docs(install): fix ordered list style and inline formatting per markdownlint
  README.md
Due: docs-markdownlint, docs-consistency

docs: add Upgrade Notes 1.3.0; ci: skip meta CI on docs-only changes via paths-ignore
  .github/workflows/ci.yml
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency

chore(changelog): add 1.3.0 TL;DR section at top
  CHANGELOG.md
Due: none

ci(pre-commit): fix YAML indentation; ensure steps run under job
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci(pre-commit): auto-commit fixes on push and verify clean to keep builds green
  .github/workflows/pre-commit.yml
Due: check-api-keys

ci(pre-commit): grant contents: write to allow bot to push auto-fixes
  .github/workflows/pre-commit.yml
Due: check-api-keys

chore(pre-commit): apply auto-fixes
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(docs): apply pre-commit end-of-file fixes to SVG screenshots
  README.md
  docs/assets/screenshots/install.svg
  docs/assets/screenshots/results.svg
  docs/assets/screenshots/settings.svg
Due: docs-markdownlint, check-api-keys, docs-consistency

ci(screenshots): add Playwright-based UI screenshot workflow and script
  .github/workflows/screenshots.yml
  scripts/snapshots/snap.mjs
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

