Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(submodule): bump Common to 62e1aff
  ext-common-sha.txt
Due: none

fix: document orphaned RecordRateLimitInfo + update obsolete markers
  Brainarr.Plugin/Services/ProviderHealth.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
Due: check-api-keys, dotnet-format-whitespace

chore: review suggestions — obsolete errors, cache docs, GC test comments
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Security/SecureApiKeyStorage.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Services/Caching/WeakReferenceCacheTests.cs
  Brainarr.Tests/packages.lock.json
  ext-common-sha.txt
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

chore: add .bridge-exempt marker for formal bridge parity exclusion
  .bridge-exempt
Due: check-api-keys

chore(submodule): bump Common to v1.7.1
  ext-common-sha.txt
Due: none

chore: add governance fields to .bridge-exempt
  .bridge-exempt
Due: check-api-keys

chore(submodule): bump Common to a5447a5
  ext-common-sha.txt
Due: none

docs: clarify bridge exemption review cadence
  .bridge-exempt
Due: check-api-keys

docs: clarify bridge exemption review cadence (#551)
  .bridge-exempt
Due: check-api-keys

salvage: recover local work after SSD-crash + data-recovery corruption
  .bridge-exempt
  .github/workflows/screenshots.yml
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/AnthropicProviderCovTests.cs
  Brainarr.Tests/BrainarrOrchestratorCovTests.cs
  Brainarr.Tests/BrainarrSettings.DiscoveryCovTests.cs
  Brainarr.Tests/BrainarrSettings.SamplingCovTests.cs
  Brainarr.Tests/CacheSettingsCovTests.cs
  Brainarr.Tests/ClaudeProviderCovTests.cs
  Brainarr.Tests/DeepSeekProviderCovTests.cs
  Brainarr.Tests/DefaultSamplingServiceCovTests.cs
  Brainarr.Tests/EnhancedRateLimiterCovTests.cs
  Brainarr.Tests/IterationProfileCovTests.cs
  Brainarr.Tests/LMStudioProviderCovTests.cs
  Brainarr.Tests/LibraryAnalyzerCovTests.cs
  Brainarr.Tests/ModelRegistryDocumentCovTests.cs
  Brainarr.Tests/ObservabilityServiceCovTests.cs
  Brainarr.Tests/OpenAIProviderCovTests.cs
  Brainarr.Tests/OpenRouterProviderCovTests.cs
  Brainarr.Tests/PromptBuilderCovTests.cs
  Brainarr.Tests/ProviderConfigurationCovTests.cs
  Brainarr.Tests/ProviderManagerCovTests.cs
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/RecommendationCacheCovTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceCovTests.cs
  Brainarr.Tests/StyleCatalogServiceCovTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Build.props
  ext-common-sha.txt
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

unification(phase 1): adopt LogRedactor + bump common pin to 88e4e8c
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

unification(phase 2): delete unused SecureApiKey{Manager,Storage} dead code; bump common to e02274f
  Brainarr.Plugin/Services/Security/SecureApiKeyManager.cs
  Brainarr.Plugin/Services/Security/SecureApiKeyStorage.cs
  Brainarr.Tests/Services/Security/Phase1/MemorySafetyTests.cs
  Brainarr.Tests/Services/Security/Phase1/SecureApiKeyManagerTests.cs
  Brainarr.Tests/Services/Security/Phase1/StressTests.cs
  Brainarr.Tests/Services/Security/SecureApiKeyStorageTests.cs
  docs/architecture/shared-library-integration.md
  ext-common-sha.txt
  prod_files.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

unification(phase 3): adopt SmartCache for recommendation caching — delete bespoke multi-tier cache
  Brainarr.Plugin/Services/Caching/CacheConfiguration.cs
  Brainarr.Plugin/Services/Caching/CacheMetrics.cs
  Brainarr.Plugin/Services/Caching/CacheOptions.cs
  Brainarr.Plugin/Services/Caching/CacheResult.cs
  Brainarr.Plugin/Services/Caching/CacheStatistics.cs
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  Brainarr.Plugin/Services/Caching/IDistributedCache.cs
  Brainarr.Plugin/Services/Caching/LRUCache.cs
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/RecommendationCache.cs
  Brainarr.Tests/Caching/EnhancedRecommendationCacheTests.cs
  Brainarr.Tests/Services/Caching/WeakReferenceCacheTests.cs
  Brainarr.Tests/TechDebt/DIWiringAndParityTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

unification(phase 4a): migrate OpenAI/Anthropic/Gemini to common ILlmProvider; introduce LlmProviderAdapter
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrAnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGeminiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/LlmProviderAdapter.cs
  Brainarr.Plugin/Services/Providers/Llm/NLogShim.cs
  Brainarr.Plugin/Services/Providers/Parsing/PromptShapeHelper.cs
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrAnthropicProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrGeminiProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiProviderTests.cs
  Brainarr.Tests/Providers/Llm/LlmProviderAdapterTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
  Brainarr.Tests/Services/ProviderRegistryAllowlistTests.cs
Due: check-api-keys, dotnet-format-whitespace

unification(phase 4b): migrate OpenRouter/DeepSeek/Groq/Perplexity to common ILlmProvider
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrDeepSeekProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrGroqProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenRouterProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrPerplexityProviderTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
Due: check-api-keys, dotnet-format-whitespace

unification(phase 4c): migrate LMStudio/Ollama/OpenAICompatible to common ILlmProvider
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCompatibleProvider.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/ProviderRegistryCovTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrLmStudioProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOllamaProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCompatibleProviderTests.cs
  Brainarr.Tests/Services/Core/AIProviderFactoryTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

