Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix: guard untrusted expiry-epoch parsing in credential loaders (R2-08) (#636)
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/EpochExpiry.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Tests/Services/Support/EpochExpiryTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): re-pin to Common main 9691bd8 + Common-pin drift gate (LOOP-001)
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/CommonPinDriftTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): re-pin to Common main 9691bd8 + Common-pin drift gate (LOOP-001) (#637)
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/CommonPinDriftTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: correct API_KEY_STORAGE to the encrypted-at-rest reality (LOOP-005/LOOP-016)
  docs/API_KEY_STORAGE.md
Due: docs-markdownlint, docs-consistency

docs: correct API_KEY_STORAGE to the encrypted-at-rest reality (LOOP-005/LOOP-016) (#638)
  docs/API_KEY_STORAGE.md
Due: docs-markdownlint, docs-consistency

chore(common): re-pin to Gitea Common 328f247 (#13) (#1)
  .gitmodules
  ext-common-sha.txt
Due: check-api-keys

refactor(time): collapse EpochExpiry onto Common TimeParsing + re-pin to ede197e (#18, #25, #21)
  Brainarr.Plugin/Services/Support/EpochExpiry.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

chore(lint): allowlist LlmAuthCircuit sync bridge in sync-over-async gate (#19 / LOOP-008)
  .github/sync-over-async-allowlist.json
Due: none

chore(parity): add .markdownlint.yaml (close structural parity gap) (#20 / LOOP-009)
  .markdownlint.yaml
Due: check-api-keys

refactor(utils): delegate Levenshtein to Common + re-pin to 422e91a (#21, #25, #18, #20)
  Brainarr.Plugin/Services/Validation/AdvancedDuplicateDetector.cs
  Brainarr.Plugin/Services/Validation/SimpleRecommendationValidator.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

ci: add Gitea lint workflow (3 ecosystem gates) (#12)
  .gitea/workflows/ci.yml
Due: check-api-keys

chore(common): re-pin to Gitea Common 812d3316 (DASH parser XXE hardening) (#24)
  ext-common-sha.txt
Due: none

fix(logging): correct misleading pipeline-position wording + style-slug list rendering
  Brainarr.Plugin/Services/Core/DuplicateFilterService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Tests/Logging/LogMessageAccuracyTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: drop dead .github/workflows on the Gitea mirror (qobuz/Common parity)
  .github/workflows/actionlint.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-update.yml
  .github/workflows/digest-drift.yml
  .github/workflows/docker-e2e.yml
  .github/workflows/docs-consistency.yml
  .github/workflows/docs-lint.yml
  .github/workflows/docs-truth-check.yml
  .github/workflows/gitleaks.yml
  .github/workflows/governance.yml
  .github/workflows/link-check.yml
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-live.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/notify-failure.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/plugin-package.yml
  .github/workflows/pre-commit.yml
  .github/workflows/registry.yml
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/validate-manifests.yml
  .github/workflows/verify-pins.yml
  .github/workflows/wiki-update.yml
  .github/workflows/workflow-auth-lint.yml
Due: check-api-keys

fix(logging): correct misleading pipeline-position wording + style-slug list rendering (#640)
  Brainarr.Plugin/Services/Core/DuplicateFilterService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Tests/Logging/LogMessageAccuracyTests.cs
Due: check-api-keys, dotnet-format-whitespace

deps: Bump System.Configuration.ConfigurationManager from 10.0.5 to 10.0.9
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

deps: Bump System.Security.Cryptography.ProtectedData from 9.0.14 to 10.0.9
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

ci(gitea): install pwsh on the lint runner (gates were dying in seconds)
  .gitea/workflows/ci.yml
Due: check-api-keys

chore(common): re-pin to Gitea Common 9011368
  ext-common-sha.txt
Due: none

test(config): assert encoded-authority Ollama URL is rejected (correct, more-secure)
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorAdvancedTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: remove dead BeValidUrlOrEmpty from BrainarrSettingsValidator
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
Due: check-api-keys, dotnet-format-whitespace

fix(cache): key recommendation cache on gating settings + ManualModelId (#5)
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Core/RecommendationCacheKeyBuilder.cs
  Brainarr.Tests/Services/Core/RecommendationCacheKeyGatingTests.cs
Due: check-api-keys, dotnet-format-whitespace
