Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(ci): exclude lidarr_digest.txt from detect-secrets (false positive)
  .pre-commit-config.yaml
Due: check-api-keys

chore(submodule): re-pin Common → 79519ca (surface packaging build errors)
  ext-common-sha.txt
Due: none

fix(packaging): RemoveHostProvidedAssemblies cover $(OutDir) + run before closure gate
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(packaging): use $(TargetDir) in RemoveHostProvidedAssemblies
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(packaging): also remove FluentValidation.dll + NLog.dll from plugin output
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(packaging): scope CopyLidarrRefsForTests to test builds only (CI root cause)
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(ci): SHA-pin Common workflow refs + version comment (Verify Pins fix)
  .github/workflows/bump-common.yml
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/packaging-gates.yml
  .github/workflows/release.yml
  .github/workflows/verify-pins.yml
Due: check-api-keys

chore: re-pin Common to 230ad34 (Linux packaging-targets fix)
  ext-common-sha.txt
Due: none

fix(ci): pass valid Mode to sync-over-async guard on PRs
  .github/workflows/ci.yml
Due: check-api-keys

fix(tests): anchor credential fixtures under home for Linux parity
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/ClaudeCodeSubAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Support/CredentialRefreshServiceTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): re-merge plugin after solution build so Docker E2E mounts merged DLL
  .github/workflows/docker-e2e.yml
Due: check-api-keys

fix: repin Common 230ad34 + green up brainarr CI (creds, sync-guard, E2E)
  .github/workflows/ci.yml
  .github/workflows/docker-e2e.yml
  Brainarr.Tests/Services/Providers/Llm/BrainarrOpenAiCodexSubscriptionAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/ClaudeCodeSubAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Support/CredentialRefreshServiceTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

refactor(ci): converge brainarr Docker E2E build onto qobuzarr/tidalarr pattern
  .github/workflows/docker-e2e.yml
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/BuildConfig/PluginReferenceRedirectTests.cs
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

refactor(ci): converge brainarr Docker E2E build onto qobuzarr/tidalarr pattern (#578)
  .github/workflows/docker-e2e.yml
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/BuildConfig/PluginReferenceRedirectTests.cs
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

refactor(ci): use Common's reusable Docker E2E workflow
  .github/workflows/docker-e2e.yml
Due: check-api-keys

refactor(ci): use Common's reusable Docker E2E workflow (#579)
  .github/workflows/docker-e2e.yml
Due: check-api-keys

chore(release): bump to v1.6.0
  VERSION
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

refactor(ci): use Common's reusable CodeQL workflow
  .github/workflows/codeql.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

