Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-keys, check-csproj-versions

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Brainarr
# Prevents accidental commits of secrets and improves code quality

repos:
  # Detect secrets and credentials (simplified)  
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.(lock|package-lock\.json|dll|exe|zip|tar\.gz)$

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Temporarily disabled during development
      # - id: no-commit-to-branch
      #   args: ['--branch', 'main', '--branch', 'master']

  # Check for common credential patterns
  - repo: local
    hooks:
      - id: check-api-keys
        name: Check for API Keys
        entry: |
          (?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
          client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
          private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*['"][^'"]{20,}['"]
        language: pygrep
        types: [text]
        exclude: |
          (?x)^(
            .*\.md|
            .*\.txt|
            .*\.json|
            .*\.csproj|
            .*/Tests/.*|
            .*/test/.*
          )$

      - id: check-openai-keys
        name: Check for OpenAI API Keys
        entry: sk-[a-zA-Z0-9]{48}
        language: pygrep
        types: [text]

      - id: check-anthropic-keys
        name: Check for Anthropic API Keys
        entry: sk-ant-[a-zA-Z0-9]{90,}
        language: pygrep
        types: [text]

      - id: check-google-keys
        name: Check for Google API Keys
        entry: AIza[0-9A-Za-z\-_]{35}
        language: pygrep
        types: [text]

  # .NET specific checks
  - repo: local
    hooks:
      - id: check-csproj-versions
        name: Check .csproj package versions
        entry: grep -E 'PackageReference.*Version="[^"]*\*'
        language: system
        files: \.csproj$
        pass_filenames: true

# Default configuration
default_language_version:
  python: python3
exclude: |
  (?x)^(
    ext/.*|
    Lidarr/.*|
    .*\.dll|
    .*\.exe|
    .*\.pdb|
    .*\.zip|
    .*\.tar\.gz|
    .*/bin/.*|
    .*/obj/.*|
    .*/TestResults/.*
  )$

Delete test_files.txt
  test_files.txt
Due: none

Delete test-results.txt
  test-results.txt
Due: none

Delete 10-OUT-OF-10-ACHIEVEMENT.md
  10-OUT-OF-10-ACHIEVEMENT.md
Due: none

chore(repo): remove tmp/backup artifacts; broaden .gitignore; add CHANGELOG & pre-release checklist; link changelog from README
  .gitignore
  CHANGELOG.md
  README.md
  _dump_mbs.cs
  docs/RELEASE_CHECKLIST.md
  tmp_mbs.txt
  tmp_mbs_all.txt
  tmp_old_guide.md
  tmp_openrouter.txt
  tmp_rate.txt
Due: check-api-keys

test(rate-limiter): increase CI tolerance for provider spacing to reduce flakiness on Windows/CI
  Brainarr.Tests/Services/RateLimiterTests.cs
Due: check-api-keys

feat(musicbrainz): cancellable rate-limiter; caching + retry; UA helper
  .github/workflows/docs-lint.yml
  .github/workflows/pre-commit.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Security/MusicBrainzRateLimiter.cs
  Brainarr.Plugin/Services/Security/UserAgentHelper.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Validation/MusicBrainzService.cs
  Brainarr.Tests/Helpers/StubHttpMessageHandler.cs
  Brainarr.Tests/Integration/EndToEndTests.cs
  Brainarr.Tests/MusicBrainzRateLimiterTests.cs
  Brainarr.Tests/RateLimiterTests.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
  Brainarr.Tests/Services/Validation/MusicBrainzServiceCacheTests.cs
  Directory.Packages.props
  README.md
  docs/API_REFERENCE.md
  docs/CI_CD_IMPROVEMENTS.md
  docs/ci-stability-guide.md
Due: check-api-keys, check-csproj-versions

ci(codeql): extract Lidarr assemblies and set LIDARR_PATH so CodeQL build succeeds
  .github/workflows/codeql.yml
Due: check-api-keys

ci: allow Windows/macOS matrix to continue-on-error while we stabilize extraction
  .github/workflows/ci.yml
Due: check-api-keys

ci: do not fail CI on CodeQL security-scan; treat as non-blocking
  .github/workflows/ci.yml
Due: check-api-keys

ci: quote fallback step name to satisfy YAML lint
  .github/workflows/ci.yml
Due: check-api-keys

ci: run formatting only on ubuntu+net6 and restore before format for stability
  .github/workflows/ci.yml
Due: check-api-keys

ci: switch to tar.gz extraction for all platforms; disable Docker-based path
  .github/workflows/ci.yml
Due: check-api-keys
