Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(ci): dotnet format whitespace + packages.lock.json trailing newlines
  Brainarr.Tests/Packaging/PackagingFactAttribute.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common → c685b27 (ManifestCheck hang fix + parity matrix)
  ext-common-sha.txt
Due: none

fix(packaging): exclude M.E.* runtime assets from plugin output
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

chore(submodule): re-pin Common → 4e96186 + un-quarantine Insert_AtCapacity
  Brainarr.Tests/Services/LimiterRegistryBoundedTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

fix(ci): layering guard — allow Providers.Shared (shared utility namespace)
  .github/workflows/ci.yml
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): post-build target removes host-provided M.E.* from output
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions

fix(tests): defuse flaky tests + clean up packaging fix
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Tests/Services/Providers/Shared/HttpProviderClientCancellationTests.cs
  Directory.Packages.props
Due: check-api-keys, dotnet-format-whitespace

fix(ci): exclude packages.lock.json from end-of-file-fixer hook
  .pre-commit-config.yaml
Due: check-api-keys

fix(packaging): run RemoveHostProvidedAssemblies after ILRepack
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(hardening): dispose HttpRequestMessage on exception path
  Brainarr.Plugin/Services/Providers/Llm/StreamingHttpExecutor.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): bound ReadAsStringAsync to prevent unbounded memory allocation
  Brainarr.Plugin/Services/Providers/Llm/StreamingHttpExecutor.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
Due: check-api-keys, dotnet-format-whitespace

chore(ci): update reusable workflow SHA pins to Common 4e96186
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/packaging-gates.yml
Due: check-api-keys

chore(ci): switch reusable workflow refs from SHA pins to workflows/v1 tag
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/packaging-gates.yml
Due: check-api-keys

fix(tests): anchor subscription credential fixtures under \C:\Users\Alexandre (Linux CI fix)
  Brainarr.Tests/Providers/Llm/BrainarrClaudeCodeSubscriptionProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): anchor subscription credential fixtures under \C:\Users\TestUser (Linux CI fix)
  Brainarr.Tests/Providers/Llm/BrainarrClaudeCodeSubscriptionProviderTests.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCodexSubscriptionProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

