Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


wiki: reduce duplication across core guides
  wiki-content/Installation.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Provider-Basics.md
  wiki-content/Review-Queue.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, docs-consistency

docs: fix provider compatibility block formatting
  docs/PROVIDER_GUIDE.md
Due: docs-markdownlint, docs-consistency

docs/wiki: tighten provider and advanced settings hubs
  README.md
  docs/TROUBLESHOOTING.md
  wiki-content/Advanced-Settings.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

docs: add governance and doc lint guard
  README.md
  build.ps1
  docs/DOCS_STRATEGY.md
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency

feat(prompting): stabilize hashing, budgets, and renderer schema
  Brainarr.Plugin/Models/RecommendationContracts.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/StableHash.cs
  Brainarr.Plugin/Services/Prompting/TokenBudgetGuard.cs
  Brainarr.Plugin/Services/Utils/StableHash.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  Brainarr.Tests/Services/Prompting/TokenBudgetGuardTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(settings): expose advanced sampling shape controls
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
Due: check-api-keys, dotnet-format-whitespace

wiki: add operations and docs workflow hubs
  README.md
  wiki-content/Documentation-Workflow.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Operations.md
Due: docs-markdownlint, docs-consistency

docs: improve onboarding and provider selection
  CHANGELOG.md
  README.md
  docs/FAQ.md
  wiki-content/Home.md
  wiki-content/Provider-Selector.md
  wiki-content/Start-Here.md
Due: docs-markdownlint, docs-consistency

docs: align provider truth and add CI guard
  .github/workflows/docs-truth-check.yml
  Brainarr.Plugin/Services/Support/MetricsNames.cs
  README.md
  docs/METRICS_REFERENCE.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/RECOMMENDATIONS.md
  docs/TROUBLESHOOTING.md
  docs/USER_SETUP_GUIDE.md
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

ci/docs: normalize provider matrix spacing
  README.md
  docs/PROVIDER_MATRIX.md
  scripts/sync-provider-matrix.ps1
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency

feat(prompt): enforce headroom guard and harden plan cache
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/CacheSettings.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/TokenBudgetGuard.cs
  Brainarr.Plugin/Services/Providers/Capabilities/ProviderCapabilities.cs
  Brainarr.Tests/Documentation/MetadataConsistencyTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  Brainarr.Tests/Services/Prompting/TokenBudgetGuardTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: refresh provider slugs, metrics, and offline setup
  README.md
  docs/PROVIDER_GUIDE.md
  wiki-content/Advanced-Settings.md
  wiki-content/Home.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Provider-Setup-Guide.md
Due: docs-markdownlint, docs-consistency

docs: stabilize provider matrix sync output
  scripts/sync-provider-matrix.ps1
Due: check-api-keys

refactor(prompt): modularize planner and enforce token policies
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultCompressionPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultContextPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/DefaultTokenBudgetPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/ICompressionPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/IContextPolicy.cs
  Brainarr.Plugin/Services/Prompting/Policies/ITokenBudgetPolicy.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSignatureService.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultStyleSelectionService.cs
  Brainarr.Plugin/Services/Prompting/Services/ISamplingService.cs
  Brainarr.Plugin/Services/Prompting/Services/ISignatureService.cs
  Brainarr.Plugin/Services/Prompting/Services/IStyleSelectionService.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerCacheTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/StyleSelectionServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace
