Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-keys, check-csproj-versions

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Brainarr
# Prevents accidental commits of secrets and improves code quality

repos:
  # Detect secrets and credentials (simplified)  
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.(lock|package-lock\.json|dll|exe|zip|tar\.gz)$

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Temporarily disabled during development
      # - id: no-commit-to-branch
      #   args: ['--branch', 'main', '--branch', 'master']

  # Check for common credential patterns
  - repo: local
    hooks:
      - id: check-api-keys
        name: Check for API Keys
        entry: |
          (?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
          client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
          private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*['"][^'"]{20,}['"]
        language: pygrep
        types: [text]
        exclude: |
          (?x)^(
            .*\.md|
            .*\.txt|
            .*\.json|
            .*\.csproj|
            .*/Tests/.*|
            .*/test/.*
          )$

      - id: check-openai-keys
        name: Check for OpenAI API Keys
        entry: sk-[a-zA-Z0-9]{48}
        language: pygrep
        types: [text]

      - id: check-anthropic-keys
        name: Check for Anthropic API Keys
        entry: sk-ant-[a-zA-Z0-9]{90,}
        language: pygrep
        types: [text]

      - id: check-google-keys
        name: Check for Google API Keys
        entry: AIza[0-9A-Za-z\-_]{35}
        language: pygrep
        types: [text]

  # .NET specific checks
  - repo: local
    hooks:
      - id: check-csproj-versions
        name: Check .csproj package versions
        entry: grep -E 'PackageReference.*Version="[^"]*\*'
        language: system
        files: \.csproj$
        pass_filenames: true

# Default configuration
default_language_version:
  python: python3
exclude: |
  (?x)^(
    ext/.*|
    Lidarr/.*|
    .*\.dll|
    .*\.exe|
    .*\.pdb|
    .*\.zip|
    .*\.tar\.gz|
    .*/bin/.*|
    .*/obj/.*|
    .*/TestResults/.*
  )$

ci(test): set gate to 31% to keep main green while we add next batch of tests toward 35%
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(pre-commit): satisfy end-of-file fixer
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Tests/Services/Core/ModelKeysTests.cs
  Brainarr.Tests/Services/ProviderRegistryTests.cs
Due: check-api-keys

gitignore: exclude ext/Lidarr*, .code/, temp artifacts (patch.diff, before.txt, lidarr.tar.gz, wiki-repo, Brainarr.CI.csproj)
  .gitignore
Due: check-api-keys

scripts: make test-local-ci.sh prefer plugins Docker image; update .gitignore to exclude artifacts
  test-local-ci.sh
Due: check-api-keys

scripts(ps1): prefer Lidarr plugins Docker image for local CI assembly extraction (fallback to tar.gz)
  test-local-ci.ps1
Due: check-api-keys

fix(tests): avoid over-retrying provider in invoker (maxAttempts=1) so iteration exception/empty results stop promptly; aligns with unit expectations
  .github/workflows/ci.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Core/ProviderInvoker.cs
Due: check-api-keys

ci(coverage,nightly): copy entire /app/bin from Lidarr Docker image so runtime deps (e.g., Equ.dll) are present during tests; align local scripts
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  test-local-ci.ps1
  test-local-ci.sh
Due: check-api-keys

tests(fast): include Equ.dll from Lidarr assemblies for unit tests that construct music model types
  Brainarr.Tests/Brainarr.Tests.csproj
Due: check-csproj-versions

ci(coverage,nightly): copy entire /app/bin from Lidarr Docker image so runtime deps (e.g., Equ.dll) are present during tests; align local scripts
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/test-and-coverage.yml
  test-local-ci.ps1
  test-local-ci.sh
Due: check-api-keys

fix(format): satisfy dotnet-format whitespace in LibraryAwarePromptBuilderTests; fix ps1 docker cp quoting ()
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  test-local-ci.ps1
Due: check-api-keys

ci: extract Lidarr assemblies from plugins Docker; fix coverage; format tests; docs & nightly in sync
  .code/agents/57541d24-ad3c-4384-8a5d-2861a9bba170/result.txt
  .code/agents/70/exec-call_NsuWUO8GR3aS13qd6uks3Mj0.txt
  .code/agents/cc0be30c-46bf-447b-bd74-45a9e3e3c69e/result.txt
  .code/agents/ea7353d9-0f47-4e9a-8bcc-3e3aee770d28/error.txt
  .github/workflows/ci.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/test-and-coverage.yml
  .gitignore
  AGENTS.md
  Brainarr.Plugin/Services/Core/ITopUpPlanner.cs
  Brainarr.Plugin/Services/Core/ProviderInvoker.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  CLAUDE.md
  docs/ci-stability-guide.md
  test-local-ci.ps1
  test-local-ci.sh
Due: check-api-keys, check-csproj-versions

chore(lychee): normalize EOL and ensure trailing newline
  .github/workflows/docs-lint.yml
  .github/workflows/link-check.yml
  .github/workflows/pre-commit.yml
  .lychee.toml
Due: check-api-keys

fix(lychee): use valid TOML strings for regex patterns; prevent parse error
  .lychee.toml
Due: check-api-keys

fix(lychee): convert all exclude patterns to literal strings to satisfy TOML parser
  .lychee.toml
Due: check-api-keys

fix(lychee): convert 172.16/12 private CIDR pattern to literal string
  .lychee.toml
Due: check-api-keys

ci(lychee): scope link check to README + docs for stability; exclude wiki-content until wiki is live/fixed
  .github/workflows/link-check.yml
Due: check-api-keys

chore(release): 1.2.3 — CI/docs-only; no runtime changes
  CHANGELOG.md
  plugin.json
Due: none

docs(release): add notes for 1.2.3
  docs/release-notes/v1.2.3.md
Due: none
