Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(ci): make workflow pin drift check advisory in verify-pins (#463)
  .github/workflows/verify-pins.yml
Due: check-api-keys

fix(tests): re-enable 21 disabled tests with correct design
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): re-enable 21 disabled tests with correct design (#464)
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): unquarantine 2 timing-sensitive tests with wider margins
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 805af9f + update SHA pin
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

fix(tests): unquarantine 2 timing-sensitive tests with wider margins (#465)
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 805af9f + update SHA pin (#466)
  .github/workflows/packaging-gates.yml
  ext-common-sha.txt
Due: check-api-keys

fix(nightly): fix stress test cache assertion + remove duplicate step
  .github/workflows/nightly-perf-stress.yml
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(nightly): fix stress test cache assertion + remove duplicate step (#467)
  .github/workflows/nightly-perf-stress.yml
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(deps): bump github/codeql-action from 3 to 4 (#384)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: check-api-keys

ci(deps): bump actions/download-artifact from 4 to 7 (#385)
  .github/workflows/ci.yml
  .github/workflows/plugin-package.yml
Due: check-api-keys

deps: Bump System.Configuration.ConfigurationManager from 6.0.1 to 10.0.3 (#440)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

chore(deps): pin FluentAssertions to 6.12.0 permanently (license no-go)
  .github/dependabot.yml
  Directory.Packages.props
Due: check-api-keys

ci(deps): bump actions/upload-artifact from 4 to 6 (#386)
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/governance.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-live.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

refactor(n6-1): split BrainarrSettings god-class into partial files
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/BrainarrSettings.Helpers.cs
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/BrainarrSettings.Sampling.cs
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/IterationProfile.cs
Due: check-api-keys, dotnet-format-whitespace

docs(tests): add owner/reason/unskip notes for all skipped tests
  Brainarr.Tests/BrainarrImportListIntegrationTests.cs
  Brainarr.Tests/Configuration/StopSensitivityJsonConverterDirectTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

chore(deps): pin FluentAssertions to 6.12.0 permanently (license no-go) (#468)
  .github/dependabot.yml
  Directory.Packages.props
Due: check-api-keys

refactor(n6-1): split BrainarrSettings god-class into partial files (#431)
  Brainarr.Plugin/BrainarrSettings.Discovery.cs
  Brainarr.Plugin/BrainarrSettings.Helpers.cs
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Plugin/BrainarrSettings.Sampling.cs
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/IterationProfile.cs
Due: check-api-keys, dotnet-format-whitespace

docs(tests): add owner/reason/unskip notes for all skipped tests (#469)
  Brainarr.Tests/BrainarrImportListIntegrationTests.cs
  Brainarr.Tests/Configuration/StopSensitivityJsonConverterDirectTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

fix(enrichment): preserve recommendations on MusicBrainz HTTP failure
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

ci(deps): bump actions/github-script from 7 to 8 (#470)
  .github/workflows/dependency-review.yml
  .github/workflows/nightly-live.yml
Due: check-api-keys

ci(deps): bump actions/checkout from 4 to 6 (#471)
  .github/workflows/actionlint.yml
  .github/workflows/bump-common.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-update.yml
  .github/workflows/digest-drift.yml
  .github/workflows/docs-consistency.yml
  .github/workflows/docs-lint.yml
  .github/workflows/docs-truth-check.yml
  .github/workflows/gitleaks.yml
  .github/workflows/governance.yml
  .github/workflows/link-check.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-live.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/plugin-package.yml
  .github/workflows/pre-commit.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/screenshots.yml
  .github/workflows/submodule-pin.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/validate-manifests.yml
  .github/workflows/verify-pins.yml
  .github/workflows/wiki-update.yml
  .github/workflows/workflow-auth-lint.yml
Due: check-api-keys

fix(enrichment): preserve recommendations on MusicBrainz HTTP failure (#474)
  Brainarr.Plugin/Services/Enrichment/MusicBrainzResolver.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

chore: fix trailing newline in packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

