Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

docs: polish to ~99 — fix stale versions/metrics, dedupe, complete settings, clean markers
  CHANGELOG.md
  README.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/USER_SETUP_GUIDE.md
  docs/configuration.md
  wiki-content/Installation.md
Due: docs-markdownlint, docs-consistency

docs: revert provider-matrix README/guide edits (restore sync markers)
  README.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
Due: docs-markdownlint, docs-consistency

docs: polish to ~99 (accuracy, dedup, completeness, cleanup) (#614)
  CHANGELOG.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/USER_SETUP_GUIDE.md
  docs/configuration.md
  wiki-content/Installation.md
Due: docs-markdownlint, docs-consistency

fix(ci): notify-failure monitors "Nightly" (the real workflow name), not dead "Nightly Tests"
  .github/workflows/notify-failure.yml
Due: check-api-keys

fix(ci): notify-failure monitors "Nightly" (the real workflow name), not dead "Nightly Tests" (#616)
  .github/workflows/notify-failure.yml
Due: check-api-keys

docs(readme): correct plugin DLL name (Brainarr.Plugin.dll → Lidarr.Plugin.Brainarr.dll)
  README.md
Due: docs-markdownlint, docs-consistency

docs(readme): correct plugin DLL name (Brainarr.Plugin.dll → Lidarr.Plugin.Brainarr.dll) (#617)
  README.md
Due: docs-markdownlint, docs-consistency

docs(wiki): fix stale Lidarr min-version stragglers (2.14.2.4786 → 3.0.0.4855)
  wiki-content/Operations.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, docs-consistency

docs(wiki): fix stale Lidarr min-version stragglers (2.14.2.4786 → 3.0.0.4855) (#618)
  wiki-content/Operations.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, docs-consistency

docs(api-ref): flag ILibraryAnalyzer method mis-attribution
  docs/API_REFERENCE.md
Due: docs-markdownlint, docs-consistency

docs(api-ref): flag ILibraryAnalyzer method mis-attribution (#619)
  docs/API_REFERENCE.md
Due: docs-markdownlint, docs-consistency

docs(readme): standardize headers + merge duplicate Upgrade Notes section
  README.md
Due: docs-markdownlint, docs-consistency

docs(readme): name cross-ref section 'Built on Lidarr.Plugin.Common' (match canonical)
  README.md
Due: docs-markdownlint, docs-consistency

docs(readme): fix Contents TOC anchor after cross-ref heading rename
  README.md
Due: docs-markdownlint, docs-consistency

docs(readme): standardize headers + merge duplicate Upgrade Notes (#620)
  README.md
Due: docs-markdownlint, docs-consistency

fix(validation): stop dropping real artists/albums on false-positive heuristics (#589)
  Brainarr.Plugin/Services/Core/RecommendationSanitizer.cs
  Brainarr.Plugin/Services/RecommendationValidator.cs
  Brainarr.Tests/Services/Core/RecommendationSanitizerTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 83aa049
  ext-common-sha.txt
Due: none

fix(topup): use resolved model key for top-up token estimates, not <default>
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyAdvancedTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(topup): use resolved model key for top-up token estimates, not <default> (#622)
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyAdvancedTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: point CLAUDE.md to Common's canonical ecosystem consolidation & parity discipline
  CLAUDE.md
Due: none

fix(parser): strip markdown code fence before strict JSON parse to kill GLM log noise
  Brainarr.Plugin/Services/Providers/Parsing/RecommendationJsonParser.cs
  Brainarr.Tests/Services/Providers/Parsing/RecommendationJsonParserSalvageLogLevelTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(parser): strip markdown code fence before strict JSON parse to kill GLM log noise (#623)
  Brainarr.Plugin/Services/Providers/Parsing/RecommendationJsonParser.cs
  Brainarr.Tests/Services/Providers/Parsing/RecommendationJsonParserSalvageLogLevelTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(plugin-package): set LIDARR_PATH so TestKit shim compiles (fix CS0234)
  .github/workflows/notify-failure.yml
  .github/workflows/plugin-package.yml
Due: check-api-keys

ci(plugin-package): set LIDARR_PATH so TestKit shim compiles (fix CS0234) (#624)
  .github/workflows/notify-failure.yml
  .github/workflows/plugin-package.yml
Due: check-api-keys

fix(topup): MBID-enrich + gate album-mode top-up recs (RequireMbids parity)
  Brainarr.Plugin/Services/Core/ITopUpPlanner.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/TopUpDeliveredExclusionEnrichmentTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

