Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

docs(readme): fix markdownlint (no bare URL, blanks around headings) for Lidarr UI install section
  README.md
Due: docs-markdownlint, docs-consistency

docs(wiki): add Install via Lidarr UI (paste repo URL) to Home and Installation pages; keep manual path as alternative
  wiki-content/Home.md
  wiki-content/Installation.md
Due: docs-markdownlint, docs-consistency

docs(wiki): add Timeouts & Retries summary (synced with README and code defaults)
  wiki-content/Timeouts-and-Retries.md
Due: docs-markdownlint, docs-consistency

docs(wiki): normalize EOLs and add synced banner + spacing across wiki pages
  wiki-content/Advanced-Settings.md
  wiki-content/Cloud-Providers.md
  wiki-content/Documentation-Workflow.md
  wiki-content/First-Run-Guide.md
  wiki-content/Hallucination-Reduction.md
  wiki-content/Home.md
  wiki-content/Installation.md
  wiki-content/Local-Providers.md
  wiki-content/Observability-and-Metrics.md
  wiki-content/Operations.md
  wiki-content/Provider-Basics.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
  wiki-content/Review-Queue.md
  wiki-content/Settings-Best-Practices.md
  wiki-content/Start-Here.md
  wiki-content/Timeouts-and-Retries.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, docs-consistency

docs(readme): add note about wiki mirroring (edit via PRs; wiki is auto-published)
  README.md
Due: docs-markdownlint, docs-consistency

build: use .NET 8 SDK with rollForward=latestMajor for local builds; keep plugin target net6.0
  global.json
Due: none

build: align with main by requiring .NET 8 SDK (rollForward=latestFeature) for consistent tooling
  global.json
Due: none

feat: add .NET 8.0 multi-targeting support to fix #268
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions

test: add comprehensive plugin loading tests to prevent #268 regressions
  Brainarr.Tests/PluginLoadingTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: add comprehensive .NET 8.0 migration guide
  docs/NET8_MIGRATION_GUIDE.md
Due: docs-markdownlint, docs-consistency

docs: add AI assistant prompt for .NET 8 multi-targeting fix
  docs/AI_PROMPT_NET8_FIX.md
Due: docs-markdownlint, docs-consistency

fix: update security-scan job to use correct artifact name
  .github/workflows/ci.yml
Due: check-api-keys

fix: add .NET 8.0 multi-targeting to all test projects
  Brainarr.Tests/Brainarr.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

fix: add .NET 8.0 support to security-scan job
  .github/workflows/ci.yml
Due: check-api-keys

fix: add .NET 8.0 multi-targeting to sanity-build and codeql workflows
  .github/workflows/codeql.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix: add .NET 8.0 multi-targeting to registry validation workflow
  .github/workflows/registry.yml
Due: check-api-keys

fix: remove explicit LidarrPath override to enable multi-targeting
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix: remove LidarrPath overrides from all multi-targeting workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-update.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: use forward slashes in csproj paths for Linux compatibility
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

debug: add diagnostic output to identify build failures
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix: use symlink instead of duplicate assembly extraction
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix: apply symlink approach to test-and-coverage workflow
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: create symlink with correct relative path
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

diagnostic: add comprehensive logging to identify root cause
  .github/workflows/registry.yml
Due: check-api-keys

diagnostic: add comprehensive logging to sanity-build workflow
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix: add net8.0 fallback to use net6.0 assemblies for multi-targeting
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions

fix: apply simplified assembly extraction to all workflows
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: update CI fallback to handle net8.0 → net6.0 assembly resolution
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

refactor: adopt Tubifarry approach with git submodules + ProjectReferences
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  Directory.Build.props
  IMPLEMENTATION_PLAN.md
  NuGet.config
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-api-keys, check-csproj-versions

ci: simplify workflows to use Tubifarr y approach
  .github/workflows/ci.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

