Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(global.json): align brainarr SDK pin with siblings (8.0.100 + latestFeature)
  global.json
Due: none

chore(plugin.json): rename website -> homepage to match ecosystem convention
  docs/PLUGIN_MANIFEST.md
  plugin.json
  schemas/plugin.schema.json
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(di): wire AddBridgeDefaults() into BrainarrModule.ConfigureServices
  Brainarr.Plugin/Hosting/BrainarrModule.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

test(parity): opt brainarr into common's behavior-contract parity checks
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/Brainarr.Parity.Tests.csproj
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

build(coverage): gate PathMap behind DisablePathMap for coverlet (wave 12)
  Directory.Build.props
Due: check-api-keys

test(coverage): targeted gap-fill in brainarr (wave 12)
  Brainarr.Tests/Services/Providers/Parsing/PromptShapeHelperTests.cs
  Brainarr.Tests/Services/Providers/Shared/FormatPreferenceCacheTests.cs
  Brainarr.Tests/Services/Providers/StructuredOutputs/StructuredOutputSchemasTests.cs
  Brainarr.Tests/Services/Validation/SimpleRecommendationValidatorTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump common to 52a17ed (wave 11)
  ext-common-sha.txt
Due: none

refactor(structured-outputs): drop unreachable schema fallbacks
  Brainarr.Plugin/Services/Providers/StructuredOutputs/StructuredOutputSchemas.cs
Due: check-api-keys, dotnet-format-whitespace

test(coverage): long-tail gap-fill in brainarr (wave 20)
  Brainarr.Tests/Hosting/BrainarrSettingDefinitionsTests.cs
  Brainarr.Tests/MusicBrainzRateLimiterExtendedTests.cs
  Brainarr.Tests/TechDebt/TechDebtRemediationServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(e2e): Docker E2E harness for brainarr (wave 22b)
  Brainarr.Tests/Runtime/BrainarrLidarrContainerFixture.cs
  Brainarr.Tests/Runtime/DockerE2ETests.cs
  Brainarr.Tests/packages.lock.json
  CLAUDE.md
  ext-common-sha.txt
  scripts/e2e.ps1
  tests/Brainarr.Parity.Tests/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

ci(e2e): wire Docker E2E workflow using common composite action — wave 24
  .github/workflows/docker-e2e.yml
  ext-common-sha.txt
Due: check-api-keys

fix(health): use Random.Shared for retry jitter (wave 37)
  Brainarr.Plugin/Services/ProviderHealth.cs
Due: check-api-keys, dotnet-format-whitespace

fix(security): strip CRLF from OpenAI-compatible API key + tighten URL validator (wave 38)
  Brainarr.Plugin/Configuration/UrlValidator.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiCompatibleProvider.cs
  Brainarr.Tests/Providers/Llm/BrainarrOpenAiCompatibleProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(disposal): MusicBrainzRateLimiter + CredentialRefreshService leak hygiene (waves 39, 41)
  Brainarr.Plugin/Services/Security/MusicBrainzRateLimiter.cs
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
Due: check-api-keys, dotnet-format-whitespace
