Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


feat(brainarr): extend BackendHealthCache to completion path + adopt JsonFileStore for ReviewQueueService
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Plugin/Services/Support/ReviewQueueService.cs
  Brainarr.Tests/Providers/Llm/BackendHealthCacheCompletionTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs(brainarr): clearer HelpText for Model Selection — explain Lidarr UI refresh limitation
  Brainarr.Plugin/BrainarrSettings.cs
Due: check-api-keys, dotnet-format-whitespace

release: v1.5.3 (PluginConfigRoots migration + BackendHealthCache + JsonFileStore + WarnOnce + HelpText UX)
  CHANGELOG.md
  VERSION
  plugin.json
Due: check-api-keys, docs-consistency

fix(brainarr): relax manifest schema to match emitted shape
  manifest.json
  schemas/manifest.schema.json
Due: none

docs(versioning): document VERSION file as source of truth for Brainarr
  VERSIONING.md
Due: none

refactor(brainarr): consume Common.Resilience.BackendHealthCache
  Brainarr.Plugin/Services/Health/BackendHealthCache.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrLmStudioProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOllamaProvider.cs
  Brainarr.Tests/Providers/Llm/BackendHealthCacheCompletionTests.cs
  Brainarr.Tests/Services/Health/BackendHealthCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(brainarr): LlmAuthCircuit — per-(provider, api-key) auth-failure breaker for cloud providers
  AUTH_SCOPE_AUDIT.md
  Brainarr.Plugin/Services/Providers/Llm/BrainarrAnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Resilience/LlmAuthCircuit.cs
  Brainarr.Tests/Services/Providers/Llm/AnthropicAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/ClaudeCodeSubAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Providers/Llm/OpenAiAuthCircuitAdoptionTests.cs
  Brainarr.Tests/Services/Resilience/LlmAuthCircuitTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(brainarr): bound MetricsCollector + LimiterRegistry dicts; dispose timers on module unload
  Brainarr.Plugin/Hosting/BrainarrModule.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Services/LimiterRegistryBoundedTests.cs
  Brainarr.Tests/Services/MetricsCollectorBoundedTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(brainarr): adopt PluginLifecycle.Shutdown for module teardown
  Brainarr.Plugin/Hosting/BrainarrModule.cs
Due: check-api-keys, dotnet-format-whitespace

test(brainarr): de-flake MetricsCollector* tests by sharing xUnit Collection
  Brainarr.Tests/Telemetry/MetricsCollectorExporterTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
Due: check-api-keys, dotnet-format-whitespace
