Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(pre-commit): trailing newlines on all packages.lock.json
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

chore(pre-commit): strip duplicate trailing newlines on lock files
  Brainarr.Plugin/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

chore(submodule): bump Lidarr.Plugin.Common to 904d5ae
  .github/workflows/multi-plugin-smoke-test.yml
  ext-common-sha.txt
Due: check-api-keys

chore(submodule): bump common to 90da1f6 (Abstractions cross-ALC fix)
  Brainarr.Plugin/packages.lock.json
  ext-common-sha.txt
Due: none

fix(build): don't require Lidarr.Plugin.Abstractions.dll sidecar
  build.ps1
Due: check-api-keys

chore(pre-commit): trailing LF on Brainarr.Plugin lock
  Brainarr.Plugin/packages.lock.json
Due: none

chore(submodule): bump common to 283627f (testkit M.E.* 8.0 alignment)
  ext-common-sha.txt
Due: none

chore(submodule): bump common to 431fe97 (E2E coverage cliff fix + sidecar-tolerant scripts)
  ext-common-sha.txt
Due: none

release: v1.4.0 (multi-plugin co-existence support)
  VERSION
  plugin.json
Due: check-api-keys, docs-consistency

cleanup: delete dead EnhancedRateLimiter (1648 lines, zero callers)
  Brainarr.Plugin/Services/RateLimiting/EnhancedRateLimiter.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/EnhancedRateLimiterCovTests.cs
  Brainarr.Tests/RateLimiting/EnhancedRateLimiterTests.cs
Due: check-api-keys, dotnet-format-whitespace

cleanup: remove dead downgradeSampling local variable
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
Due: check-api-keys, dotnet-format-whitespace

chore(manifest): align plugin.json + manifest.json + ecosystem version contract
  manifest.json
  plugin.json
Due: docs-consistency

fix(release): name asset with net8.0.zip so Lidarr can install via UI
  .github/workflows/ci.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  CLAUDE.md
Due: check-api-keys

chore(brainarr): drop net6.0 from CI + unskip STJ test + manifest hygiene + Phase 1.1 docs
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit.yml
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/BrainarrSettings.Providers.cs
  Brainarr.Tests/Configuration/StopSensitivityJsonConverterDirectTests.cs
  docs/API_KEY_STORAGE.md
  docs/SKIPPED_TESTS.md
  docs/TECHDEBT_TEARDOWN_PLAN.md
  manifest.json
  scripts/tests/ci-net8-only.Tests.ps1
  scripts/tests/manifest-shape.Tests.ps1
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

