Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

Normalize sampling seed hashing and expand tests
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Refine relaxed style matching helpers
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Styles/LibraryStyleIndex.cs
  Brainarr.Plugin/Services/Styles/LibraryStyleMatchList.cs
  Brainarr.Plugin/Services/Styles/LibraryStyleSelection.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Adjust stable hash test seed
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure deterministic sampling seed for library prompt builder (#194)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Integrate registry-aware prompt pipeline fixes
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Models/LibraryStyleContext.cs
  Brainarr.Plugin/Models/ModelRegistryDocument.cs
  Brainarr.Plugin/Models/Recommendation.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/CanonicalModelMapper.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyAdvancedTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategy_AggressiveModeTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryDocumentTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  docs/models.example.json
  docs/models.map.json
Due: check-api-keys, dotnet-format-whitespace

Integrate registry-aware prompt pipeline fixes
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Models/LibraryStyleContext.cs
  Brainarr.Plugin/Models/ModelRegistryDocument.cs
  Brainarr.Plugin/Models/Recommendation.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/CanonicalModelMapper.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/ILibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Plugin/Services/Tokenization/ITokenizer.cs
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyAdvancedTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategy_AggressiveModeTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryDocumentTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  docs/models.example.json
  docs/models.map.json
Due: check-api-keys, dotnet-format-whitespace

fix: harden async helper and registry env tests
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/Services/Registry/AIProviderFactoryRegistryTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: expose prompt builder seed helpers
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Tests/Services/Core/ProviderCapabilityTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Integrate registry-aware prompt pipeline and relaxed style context
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/RateLimiterTestCollection.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryTestCollection.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  README.md
  docs/API_REFERENCE.md
  docs/PLUGIN_MANIFEST.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Integrate deterministic registry pipeline and relaxed style matching
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/MusicBrainzRateLimiterTests.cs
  Brainarr.Tests/RateLimiterTests.cs
  Brainarr.Tests/RateLimiting/EnhancedRateLimiterTests.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/RateLimiterTestCollection.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
  Brainarr.Tests/Services/Registry/AIProviderFactoryRegistryTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  Brainarr.Tests/Services/Registry/RegistryTestCollection.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  README.md
  docs/API_REFERENCE.md
  docs/PLUGIN_MANIFEST.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

ci: pin lidarr digest and trim parser
  .github/lidarr_digest.txt
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix: avoid CancellationToken.None in orchestrator helpers
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
Due: check-api-keys, dotnet-format-whitespace

ci: default Lidarr vars and drop remaining CancellationToken.None
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

chore: share SelectOption and include NLog assembly
  Brainarr.Plugin/Models/SelectOption.cs
  Brainarr.Plugin/Services/Core/IModelActionHandler.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys, dotnet-format-whitespace

ci: include Equ assembly for test runs
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys

Integrate deterministic registry pipeline and relaxed style matching (#198)
  .github/lidarr_digest.txt
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/BrainarrImportList.cs
  Brainarr.Plugin/Models/SelectOption.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IModelActionHandler.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/RateLimiter.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Integration/EnhancedLibraryAnalysisTests.cs
  Brainarr.Tests/MusicBrainzRateLimiterTests.cs
  Brainarr.Tests/RateLimiterTests.cs
  Brainarr.Tests/RateLimiting/EnhancedRateLimiterTests.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/EnhancedLibraryAnalyzerTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/EnhancedLibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/LoggerExtensionsTests.cs
  Brainarr.Tests/Services/RateLimiterTestCollection.cs
  Brainarr.Tests/Services/RateLimiterTests.cs
  Brainarr.Tests/Services/Registry/AIProviderFactoryRegistryTests.cs
  Brainarr.Tests/Services/Registry/ModelRegistryLoaderTests.cs
  Brainarr.Tests/Services/Registry/RegistryAwareProviderFactoryDecoratorTests.cs
  Brainarr.Tests/Services/Registry/RegistryTestCollection.cs
  Brainarr.Tests/Services/SimpleEnhancedTests.cs
  README.md
  docs/API_REFERENCE.md
  docs/PLUGIN_MANIFEST.md
  scripts/extract-lidarr-assemblies.sh
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Fix style extraction concurrency and deterministic sampling
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

Add regression tests for style context and deterministic sampling
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
Due: check-api-keys, dotnet-format-whitespace

Fix parallel style context and guard lazy normalization
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

