Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(submodule): bump Common → 630dd09 (TestKit fix + resolvedFlags + dependabot deps)
  ext-common-sha.txt
Due: none

fix(tests): add xunit.runner.json with maxParallelThreads=4
  Brainarr.Tests/xunit.runner.json
Due: none

fix(tests): widen cancellation threshold + serialize ObservabilityService tests
  Brainarr.Tests/ObservabilityServiceCovTests.cs
  Brainarr.Tests/Services/Providers/Shared/HttpProviderClientCancellationTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(hardening): ServiceLocator reset + CircuitBreaker cleanup + test stabilization
  Brainarr.Plugin/Hosting/BrainarrModule.cs
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/Services/Core/ServiceLocator.cs
  Brainarr.Tests/ChaosMonkey/RateLimiterChaosMonkeyTests.cs
  Brainarr.Tests/Services/LimiterRegistryBoundedTests.cs
Due: check-api-keys, dotnet-format-whitespace

perf: hoist JsonSerializerOptions to static field in RecommendationHistory
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common → a22c05f (Azure.Identity + FsCheck deps)
  ext-common-sha.txt
Due: none

docs(readme): fix broken screenshot reference (results.png → results.svg)
  README.md
Due: docs-markdownlint, docs-consistency

fix(hardening): dispose CTS leak + guard log-level allocation in correlation extensions
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Security/MusicBrainzRateLimiter.cs
Due: check-api-keys, dotnet-format-whitespace

deps: Bump the test-dependencies group with 1 update (#575)
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

ci(deps): bump actions/github-script from 8 to 9 (#556)
  .github/workflows/dependency-review.yml
  .github/workflows/digest-drift.yml
  .github/workflows/nightly-live.yml
Due: check-api-keys

ci(deps): bump codecov/codecov-action from 4 to 6 (#554)
  .github/workflows/ci.yml
Due: check-api-keys

chore(submodule): bump Common → 351319b (Spectre.Console + xunit.assert + deps)
  ext-common-sha.txt
Due: none

fix(async): add ConfigureAwait(false) to 49 bare awaits across 6 plugin files
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/ModelActionHandler.cs
  Brainarr.Plugin/Services/ModelDetectionService.cs
  Brainarr.Plugin/Services/Validation/HallucinationDetector.cs
  Brainarr.Plugin/Services/Validation/SimpleRecommendationValidator.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common → 33d2fcf (parity matrix + hot-path hardening)
  ext-common-sha.txt
Due: none

fix(ci): add Common submodule references to fallback Brainarr.CI.csproj
  .github/workflows/ci.yml
Due: check-api-keys

fix(ci): dotnet format whitespace + packages.lock.json trailing newlines
  Brainarr.Tests/Packaging/PackagingFactAttribute.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

