Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


docs(CLAUDE.md): add Runtime & Docker Image Requirements section
  CLAUDE.md
Due: none

fix(ci): use runtimeconfig.json for .NET 8 guardrail, fix markdownlint
  CLAUDE.md
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys

fix(ci): skip .NET 8 guardrail on tarball fallback (Windows runners)
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys

docs(screenshots): refresh auto-generated UI screenshots
  docs/assets/screenshots/import-list-add-modal.png
  docs/assets/screenshots/import-list-config.png
  docs/assets/screenshots/import-lists.png
  docs/assets/screenshots/landing.png
  docs/assets/screenshots/settings.png
Due: check-api-keys

fix(ci): replace rg with grep in smoke test (rg not installed on runner)
  .github/workflows/plugin-package.yml
Due: check-api-keys

fix(ci): make Import List schema assertion best-effort
  .github/workflows/plugin-package.yml
Due: check-api-keys

fix(ci): update remaining stale Docker tags to pr-plugins-3.1.2.4913
  CLAUDE.md
  scripts/branch-audit.sh
  scripts/new-release.ps1
  scripts/new-release.sh
  setup-lidarr.sh
  test-local-ci.ps1
Due: check-api-keys

chore(ci): converge packaging-gates — path filters + SHA pin update
  .github/workflows/packaging-gates.yml
Due: check-api-keys

fix(reliability): add static state cleanup and thread-safety fixes
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys, dotnet-format-whitespace

fix(reliability): add static state cleanup and thread-safety fixes (#449)
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys, dotnet-format-whitespace

ci(smoke): include AppleMusicarr in multi-plugin smoke test
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

ci(smoke): include AppleMusicarr in multi-plugin smoke test (#451)
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys
