Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(ci): copy Lidarr assemblies to test output in Registry workflow
  .github/workflows/registry.yml
Due: check-api-keys

fix(ci): handle SIGPIPE error in Registry workflow
  .github/workflows/registry.yml
Due: check-api-keys

refactor(tests): replace empty catch blocks with proper cleanup helper
  Brainarr.Tests/EdgeCases/ChaosMonkeyStressTests.cs
  Brainarr.Tests/Helpers/TestHelpers.cs
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  Brainarr.Tests/Services/Core/SafetyGateServiceTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

Fix CS1998 async warnings in test methods
  Brainarr.Tests/EdgeCases/ResourceAndTimeTests.cs
  Brainarr.Tests/Integration/EndToEndTests.cs
  Brainarr.Tests/RateLimiterTests.cs
  Brainarr.Tests/RateLimiting/EnhancedRateLimiterTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
  Brainarr.Tests/Services/ProviderHealthTests.cs
Due: check-api-keys, dotnet-format-whitespace

Fix CS0168 unused variable warning in EnhancedRateLimiter
  Brainarr.Plugin/Services/RateLimiting/EnhancedRateLimiter.cs
Due: check-api-keys, dotnet-format-whitespace

Adopt Guard utility from lidarr.plugin.common for parameter validation
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/RecommendationCoordinator.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
Due: check-api-keys, dotnet-format-whitespace

feat: Integrate RetryUtilities from lidarr.plugin.common
  Brainarr.Plugin/Services/RetryPolicy.cs
  Brainarr.Tests/Services/RetryPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Upgrade Microsoft.Extensions packages to 8.x for lidarr.plugin.common compatibility
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

fix: Copy Lidarr assemblies to test output directory (Private=true)
  Brainarr.Tests/Brainarr.Tests.csproj
  tests/Brainarr.Providers.OpenAI.Tests/Brainarr.Providers.OpenAI.Tests.csproj
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

test: Add comprehensive RetryUtilities integration tests
  Brainarr.Tests/Services/RetryPolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(pre-commit): apply auto-fixes
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

chore: comprehensive tech debt cleanup
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Core/RecommendationCoordinator.cs
  Brainarr.Plugin/Services/Core/RecommendationSanitizer.cs
  Brainarr.Plugin/Services/Core/RecommendationSchemaValidator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/Http/SecureHttpClientFactory.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Services/Telemetry/Events.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Services/CorrelationContextTests.cs
  Brainarr.Tests/Services/DebugFlagsTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Make top-up test deterministic across platforms
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: comprehensive tech debt cleanup (#293)
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Core/RecommendationCoordinator.cs
  Brainarr.Plugin/Services/Core/RecommendationSanitizer.cs
  Brainarr.Plugin/Services/Core/RecommendationSchemaValidator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/Http/SecureHttpClientFactory.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/Providers/AnthropicProvider.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAIProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Plugin/Services/Telemetry/Events.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/CorrelationContextTests.cs
  Brainarr.Tests/Services/DebugFlagsTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(ci): add dependency-review workflow with license denial
  .github/workflows/dependency-review.yml
Due: check-api-keys

feat: Add Tidalarr CI patterns (nightly, packaging-closure, submodule-pin)
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/submodule-pin.yml
  ext-common-sha.txt
Due: check-api-keys

fix: Simplify NuGet package mapping to use wildcard pattern
  NuGet.config
Due: check-api-keys

chore: update lidarr.plugin.common submodule to include NuGet fix
  .github/workflows/packaging-closure.yml
Due: check-api-keys

feat: enable ILRepack for multi-plugin compatibility
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix: add ILRepack to Central Package Management
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions

fix(ci): add ILRepack to NuGet.config packageSourceMapping
  NuGet.config
Due: check-api-keys

fix(ci): add Azure and TagLibSharp to packageSourceMapping
  NuGet.config
Due: check-api-keys

fix(ci): remove TagLibSharp* from Taglib sources to fix mapping
  NuGet.config
Due: check-api-keys

fix(deps): upgrade ProtectedData to 8.0.0 for Common compatibility
  Directory.Packages.props
Due: check-api-keys

fix(build): use correct ILRepackTargetsFile property to disable built-in target
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

ci: disable ILRepack for test builds to fix assembly identity errors
  .github/workflows/ci.yml
  .github/workflows/registry.yml
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci: add PluginPackagingDisable to test commands
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

