Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

tests: mark new logging tests as Unit so they run in CI's filtered suite
  Brainarr.Tests/Services/CorrelationScopeTests.cs
  Brainarr.Tests/Services/LoggerWarnOnceTests.cs
Due: check-api-keys, dotnet-format-whitespace

tests(openai): fix HttpResponse constructor usage to (request, header, body, status) for Mapping/NoRetryOn4xx
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
Due: check-api-keys, dotnet-format-whitespace

tests(coverage): add StableHash order-invariance and null-normalization unit tests to bump line-rate
  Brainarr.Tests/Services/Prompting/StableHashTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(windows): limit to Brainarr.Tests unit suite to avoid hangs; rename step to avoid YAML colon parsing
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(windows): simplify test step to dotnet test on Brainarr.Tests (no Start-Process hang guard); rely on job timeout + blame-hang
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

tests(openai): fix FallbackWarningTests to use new HttpResponse(req, header, body, status) and correct lambda param
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(pre-commit): normalize lockfile line-endings; tests/openai: HttpResponse bytes body; ci: relax NLog check under minimal assemblies
  .github/workflows/test-and-coverage.yml
  tests/Brainarr.Providers.OpenAI.Tests/Contract/FallbackWarningTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/MappingTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/Contract/NoRetryOn4xxTests.cs
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

ci(test-and-coverage): avoid line continuation escapes; use single-line dotnet test on Linux and Windows
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(test-and-coverage): extract Lidarr assemblies in full mode on Linux and Windows; keep minimal sanity check (Lidarr.Core only)
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

build(plugin): disable analyzers for submodule ProjectReference to avoid PublicAPI duplicate warnings breaking CI
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

test(ci): stabilize unit runs - limit fast unit pass to Brainarr.Tests only on Linux; replace Barrier with TCS gate in DuplicationPreventionServiceTests on Windows
  .github/workflows/test-and-coverage.yml
  Brainarr.Tests/Services/DuplicationPreventionServiceTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(tests): ensure Linux unit pass rebuilds after cleanup; add TRX logging + artifact upload for Windows unit failures
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

