Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore: repin Common to cacef452
  ext-common-sha.txt
Due: none

test: add healer evidence contract golden pack
  Brainarr.Tests/Services/Healing/LibraryHealerEvidenceContractGoldenTests.cs
  Brainarr.Tests/TestData/LibraryHealer/library_healer_getfindings_contract.json
  Brainarr.Tests/TestData/LibraryHealer/library_healer_treatment_vocab_contract.json
  docs/library-healer.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix: harden async timeout bridge
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
  Brainarr.Tests/AsyncHelperTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: add healer field sensitivity catalog
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerFieldSensitivityCatalog.cs
  Brainarr.Tests/Documentation/LibraryHealerDocumentationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerFieldSensitivityCatalogTests.cs
  Brainarr.Tests/TestData/LibraryHealer/library_healer_field_catalog_contract.json
  docs/library-healer.md
  docs/superpowers/specs/2026-07-01-library-doctor-future-tools-roadmap.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test: harden rate limiter herd scheduling
  Brainarr.Tests/EdgeCases/EnhancedConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(healer): fail-closed on TagMetadataIssue with null metadata; ban IMediaFileService.Update
  Brainarr.Plugin/Services/Healing/LibraryHealerActionHandler.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerReasonCodes.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Healing/LibraryHealerReadOnlyArchitectureTests.cs
Due: check-api-keys, dotnet-format-whitespace

Retire Brainarr local retry helpers
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Tests/Resilience/ResiliencePolicyTests.cs
  Brainarr.Tests/Resilience/RetryRetirementGuardTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(resilience): harden Brainarr retry retirement guard
  Brainarr.Tests/Resilience/RetryRetirementGuardTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(healer): bound scan candidate gathering
  Brainarr.Plugin/Services/Healing/LibraryHealerScanRunner.cs
  Brainarr.Tests/Services/Healing/LibraryHealerScanRunnerTests.cs
  docs/library-healer.md
  ext-common-sha.txt
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore(common): repin terminal suppression hardening
  ext-common-sha.txt
Due: none

chore(common): repin docker host resolution fix
  ext-common-sha.txt
Due: none

fix(healing): route finding-store sync bridging through SafeAsyncHelper
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
Due: check-api-keys, dotnet-format-whitespace

docs: align GitHub mirror CI guidance
  BUILD.md
  CLAUDE.md
Due: none

chore(submodule): bump Common to 3167345
  ext-common-sha.txt
Due: none

fix: batch healer finding persistence
  Brainarr.Plugin/Services/Healing/LibraryHealerFindingStore.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

docs: align Brainarr provider taxonomy
  CLAUDE.md
  docs/PLUGIN_MANIFEST.md
Due: docs-markdownlint, docs-consistency

test: guard Brainarr retry convergence
  Brainarr.Tests/Resilience/ResiliencePolicyTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

chore: repin Common to fb8b7fc
  ext-common-sha.txt
Due: none

refactor: remove dead ProviderManager retry wiring
  Brainarr.Plugin/Services/Core/ProviderManager.cs
  Brainarr.Tests/ProviderManagerCovTests.cs
  Brainarr.Tests/Resilience/RetryRetirementGuardTests.cs
  Brainarr.Tests/Services/Core/ProviderManagerSelectionTests.cs
  Brainarr.Tests/Services/Core/ProviderManagerTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: make HTTP cancellation guard deterministic
  Brainarr.Tests/Services/Providers/Shared/HttpProviderClientCancellationTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(common): repin to 7960f39
  ext-common-sha.txt
Due: none
