Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

test(arch): add layering contract regression tests
  Brainarr.Tests/Architecture/LayeringContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(zaiglm): add extended negative-path contract tests
  Brainarr.Tests/Services/Providers/Contracts/ZaiGlmProviderContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(providers): consolidate 4 providers to HttpChatProviderBase + add conformance tests
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/OpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/Providers/Contracts/HttpChatProviderBaseConformanceTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
  Brainarr.Tests/Services/Resilience/ResilienceTestCollection.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
  docs/decisions/ADR-002-subscription-authentication.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

feat(providers): graceful disable on empty API key
  Brainarr.Plugin/Services/Core/ProviderLifecycleManager.cs
  Brainarr.Plugin/Services/Core/ProviderManager.cs
Due: check-api-keys, dotnet-format-whitespace

docs(changelog): update Unreleased section with recent improvements
  CHANGELOG.md
Due: none

docs(changelog): add navigation links and improve structure
  CHANGELOG.md
Due: none

test(providers): fix tests for graceful provider disable
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/EdgeCases/CacheAndConcurrencyTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConnectionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealthTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorMoreTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/ProviderManagerTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): add Architecture and Conformance to allowed test categories
  .github/workflows/ci.yml
  Brainarr.Tests/Services/Providers/Contracts/HttpChatProviderBaseConformanceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): restore 4th parameter to conformance test methods
  Brainarr.Tests/Services/Providers/Contracts/HttpChatProviderBaseConformanceTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(tests): split HttpChatProviders data source for conformance tests
  Brainarr.Tests/Services/Providers/Contracts/HttpChatProviderBaseConformanceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): align conformance test params with data sources
  Brainarr.Tests/Services/Providers/Contracts/HttpChatProviderBaseConformanceTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): eliminate race condition in cache concurrency test
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(tests): align stress test with MaxCacheEntries limit
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(schema): fix description punctuation to trigger validation workflow
  schemas/plugin.schema.json
Due: none

chore(plugin): fix description punctuation to trigger packaging closure workflow
  plugin.json
Due: docs-consistency

fix(tests): update stress test category to match nightly workflow filter
  Brainarr.Tests/Services/ConcurrencyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(providers): use consistent timeout for TestConnectionAsync resilience policy
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(tests): add test categories config for nightly workflow
  .test-categories.json
Due: none

fix(deps): update FluentValidation to 11.12.0
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Directory.Packages.props
Due: check-api-keys, dotnet-format-whitespace

chore: update package lock files for FluentValidation 11.12.0
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

fix(nuget): add CliWrap to package source mapping
  NuGet.config
Due: check-api-keys

chore: update ext-common-sha.txt for Common 8b538e7
  ext-common-sha.txt
Due: none

chore(deps): bump Common submodule for CliWrap fix (#390)
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  NuGet.config
  ext-common-sha.txt
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

feat(07-01): add ClaudeCodeCli enum value to AIProvider
  Brainarr.Plugin/Configuration/Enums.cs
Due: check-api-keys, dotnet-format-whitespace

feat(07-01): add ClaudeCodeCliPath and ClaudeCodeAuthStatus settings
  Brainarr.Plugin/BrainarrSettings.cs
Due: check-api-keys, dotnet-format-whitespace

feat(07-02): add ClaudeCodeCliProvider adapter class
  Brainarr.Plugin/Services/Providers/ClaudeCodeCliProvider.cs
Due: check-api-keys, dotnet-format-whitespace

feat(07-02): wire ClaudeCodeCliProvider into ProviderRegistry
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
Due: check-api-keys, dotnet-format-whitespace

test(07-04): add mock CLI scripts for hermetic E2E tests
  Brainarr.Tests/Fixtures/MockClaudeCliScript.ps1
  Brainarr.Tests/Fixtures/MockClaudeCliScript.sh
Due: check-api-keys

test(07-04): add E2E streaming tests for Claude Code CLI
  Brainarr.Tests/Services/Providers/ClaudeCodeCliProviderE2ETests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(07-04): add Fixtures directory to test output
  Brainarr.Tests/Brainarr.Tests.csproj
Due: check-csproj-versions

feat(provider): add ZaiGlmProvider with string model IDs
  Brainarr.Plugin/Services/Providers/ZaiGlmProvider.cs
Due: check-api-keys, dotnet-format-whitespace

test(provider): add ZaiGlmProvider tests with coverage
  Brainarr.Tests/Services/Providers/ZaiGlmProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(provider): add BrainarrHttpProviderBase for code reuse
  Brainarr.Plugin/Services/Providers/BrainarrHttpProviderBase.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(provider): extract common HTTP patterns in GeminiProvider
  Brainarr.Plugin/Services/Providers/GeminiProvider.cs
Due: check-api-keys, dotnet-format-whitespace

test(provider): verify GeminiProvider refactoring
  .omc/notepads/refactor-orchestrator/learnings.md
  .omc/notepads/refactor-orchestrator/summary.md
  analyze-coverage.ps1
  runsettings.runsettings
Due: check-api-keys

test(brainarr): add negative-path contract tests for HTTP providers
  Brainarr.Tests/Contract/NegativePathTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

