Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(pre-commit): apply auto-fixes
  scripts/ci/check-assemblies.sh
Due: check-api-keys

refactor(plugin,http): use SecureHttpClientFactory for HTTP client creation
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Plugin/Services/Http/SecureHttpClientFactory.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Validation/IRecommendationValidator.cs
  Brainarr.Plugin/Services/Validation/MusicBrainzService.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix(parser): coalesce non-empty fields in MinimalResponseParser compact format
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
Due: check-api-keys, dotnet-format-whitespace

ci(guards): narrow Task.Result detection to real property access; ignore comments and docs
  .github/workflows/ci.yml
Due: check-api-keys

refactor(registry): rename SharedCacheEntry.Result -> Value to satisfy CI static guards
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
Due: check-api-keys, dotnet-format-whitespace

Refactor async calls; UTC tests; canonical styles catalog; bash CI (#240)
  .github/actions/patch-taglib-mapping/action.yml
  .github/actions/verify-assemblies-manifest/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/sanity-build.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/wiki-update.yml
  AGENTS.md
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/BrainarrActionHandler.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IBrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/IProviderCapabilities.cs
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Enrichment/ArtistMbidResolver.cs
  Brainarr.Plugin/Services/Http/SecureHttpClientFactory.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Registry/ModelRegistryLoader.cs
  Brainarr.Plugin/Services/Registry/RegistryAwareProviderFactoryDecorator.cs
  Brainarr.Plugin/Services/Styles/StyleCatalogService.cs
  Brainarr.Plugin/Services/Support/MinimalResponseParser.cs
  Brainarr.Plugin/Services/Validation/IRecommendationValidator.cs
  Brainarr.Plugin/Services/Validation/MusicBrainzService.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Integration/ArtistOnlyRecommendationTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorCacheKeyTests.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/RecommendationValidatorTests.cs
  Brainarr.Tests/TestData/TestDataGenerators.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
  README.md
  docs/DOCS_STRATEGY.md
  docs/NULLABLE_MIGRATION_PLAN.md
  docs/configuration.md
  docs/troubleshooting.md
  tests/Brainarr.TestKit.Providers/Fakes/FakeHttpClient.cs
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

refactor(telemetry): switch provider metrics to label-based recording and improve correlation context
  BUILD.md
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/Security/SecureApiKeyStorage.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Plugin/Services/Telemetry/ProviderMetricsHelper.cs
  Brainarr.Tests/Services/CorrelationAsyncFlowTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
  Brainarr.Tests/Telemetry/ProviderMetricsHelperTests.cs
  docs/CORRELATION_TRACKING.md
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(telemetry): add Labels to MetricsSummary and export labels safely
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
Due: check-api-keys, dotnet-format-whitespace

chore(format): remove unused using to satisfy dotnet-format gate
  Brainarr.Plugin/Services/CorrelationContext.cs
Due: check-api-keys, dotnet-format-whitespace

style(tests): fix whitespace in dictionary initializer to satisfy dotnet-format
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
Due: check-api-keys, dotnet-format-whitespace

release(ci): generate SBOM with Anchore sbom-action and attach to releases
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

ci(coverage): soft-gate PRs on >0.5% drop vs baseline; include baseline/drop in PR comment
  .github/workflows/mutation-tests.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Core/ConcurrentCache.cs
  dotnet-install.ps1
Due: check-api-keys, dotnet-format-whitespace

ci(coverage): soft-gate PRs on >0.5% drop vs baseline; include baseline/drop in PR comment
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci(coverage): auto-open PR to refresh baseline on pushes to main
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

release: bump to v1.3.1 (plugin.json, manifest.json, README/docs/wiki sync); add CHANGELOG entry
  CHANGELOG.md
  README.md
  docs/PROVIDER_MATRIX.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/architecture/source-set-hygiene.md
  docs/providers.yaml
  manifest.json
  plugin.json
  tasks/brainarr-tech-roadmap.md
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency

fix(metrics): export counters as monotonic totals; escape newlines in label values; use seconds for latency in Prometheus; mark CorrelationScope obsolete; update tests and docs
  BUILD.md
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs(observability): add old→new PromQL migration table and seconds units notes
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: fix markdownlint MD032 (blank line before list in migration notes)
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, docs-consistency

telemetry: trim metric points to window in aggregator; update comments; add TryPeek/HasCurrent; add exporter HELP/TYPE + label-order test
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Plugin/Services/Telemetry/ProviderMetricsHelper.cs
  Brainarr.Tests/Telemetry/MetricsCollectorExporterTests.cs
Due: check-api-keys, dotnet-format-whitespace

Refactor correlation context to AsyncLocal and label-based metrics
  BUILD.md
  Brainarr.Plugin/Resilience/ResiliencePolicy.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/CorrelationContext.cs
  Brainarr.Plugin/Services/Providers/GeminiModelDiscovery.cs
  Brainarr.Plugin/Services/Security/SecureApiKeyStorage.cs
  Brainarr.Plugin/Services/Telemetry/MetricsCollector.cs
  Brainarr.Plugin/Services/Telemetry/ProviderMetricsHelper.cs
  Brainarr.Tests/Services/CorrelationAsyncFlowTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorExporterTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorPrometheusTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorTests.cs
  Brainarr.Tests/Telemetry/ProviderMetricsHelperTests.cs
  docs/CORRELATION_TRACKING.md
  wiki-content/Observability-and-Metrics.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

