Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix(cost): fail closed on model pricing prefixes
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorPricingHonestyTests.cs
Due: check-api-keys, dotnet-format-whitespace

deps: Bump NLog from 5.4.0 to 5.5.1
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

chore(common): repin to a894567
  CHANGELOG.md
  ext-common-sha.txt
Due: none

feat(brainarr): add exclusions/get + exclusions/remove to undo "Never again"
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorExclusionsActionsTests.cs
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

feat(brainarr): enforce "Never again" exclusions in the recommendation pipeline
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/SafetyGateService.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorExclusionsActionsTests.cs
  Brainarr.Tests/Services/Core/ExclusionEnforcementTests.cs
  Brainarr.Tests/Services/Core/RecommendationPipelineTests.cs
  CLAUDE.md
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(brainarr): preserve non-excluded entries in exclusion gate
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Tests/Services/Core/ExclusionEnforcementTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): initialize Common safely in GitHub mirror
  .github/workflows/ci.yml
  scripts/tests/Test-GitHubCommonSubmoduleInit.ps1
Due: check-api-keys

fix(ci): set Common submodule URL in GitHub mirror
  .github/workflows/ci.yml
  scripts/tests/Test-GitHubCommonSubmoduleInit.ps1
Due: check-api-keys

fix(perf): eliminate Album.ArtistId N+1 lazy-load OOM in duplicate filter + library profile
  Brainarr.Plugin/Services/Core/DuplicateFilterService.cs
  Brainarr.Plugin/Services/Core/LibraryContextBuilder.cs
  Brainarr.Plugin/Services/Core/StyleContextBuilder.cs
  Brainarr.Tests/Services/Core/AlbumArtistLazyLoadTestDoubles.cs
  Brainarr.Tests/Services/Core/DuplicateFilterServiceNPlusOneTests.cs
  Brainarr.Tests/Services/Core/LibraryContextBuilderNPlusOneTests.cs
  Brainarr.Tests/Services/Core/LibraryContextBuilderTests.cs
  Brainarr.Tests/Services/Core/StyleContextBuilderNPlusOneTests.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

refactor(resilience): retire local retry wrapper
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/RetryPolicy.cs
  Brainarr.Tests/Resilience/RetryRetirementGuardTests.cs
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/AIServiceTests.cs
  Brainarr.Tests/Services/RetryPolicyTests.cs
  CLAUDE.md
  docs/TDD.md
  docs/TESTING_GUIDE.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(perf): finish the Album.ArtistId / Album.ArtistMetadata N+1 lazy-load sweep
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/Prompting/Services/DefaultSamplingService.cs
  Brainarr.Plugin/Services/Validation/AdvancedDuplicateDetector.cs
  Brainarr.Plugin/Services/Validation/SimpleRecommendationValidator.cs
  Brainarr.Tests/DefaultSamplingServiceCovTests.cs
  Brainarr.Tests/LibraryAnalyzerCovTests.cs
  Brainarr.Tests/Services/Core/AlbumArtistLazyLoadTestDoubles.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerNPlusOneTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyNPlusOneTests.cs
  Brainarr.Tests/Services/IterativeRecommendationStrategyTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceCovTests.cs
  Brainarr.Tests/Services/Prompting/DefaultSamplingServiceNPlusOneTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Validation/ValidationNPlusOneTests.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

chore(common): align Brainarr Common pin
  ext-common-sha.txt
Due: none

chore(common): align Brainarr Common pin to d3cc1c3 (orchestrator seams)
  ext-common-sha.txt
Due: none

fix(exclusions): re-apply hard-exclusion filter on recommendation cache hits
  Brainarr.Plugin/Services/Core/RecommendationCoordinator.cs
  Brainarr.Plugin/Services/RecommendationCache.cs
  Brainarr.Plugin/Services/Support/RecommendationHistory.cs
  Brainarr.Tests/Services/Core/RecommendationCoordinatorTests.cs
  Brainarr.Tests/Services/Support/EnhancedRecommendationHistoryTests.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

chore(common): re-pin to 12dd294 (416 clean-restart + naming-seam containment + LRCLIB artist check)
  ext-common-sha.txt
Due: none

deps: Bump ILRepack.Lib.MSBuild.Task from 2.0.44.2 to 2.0.46
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

deps: Bump the test-dependencies group with 1 update
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
Due: check-api-keys

deps: Bump Microsoft.SourceLink.GitHub from 8.0.0 to 10.0.301
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

test(parity): wire the full 16-check behavior-contract surface as individual facts
  tests/Brainarr.Parity.Tests/BrainarrEcosystemParityTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs(healer): surface the library-healer subsystem in the README
  README.md
  docs/library-healer.md
Due: docs-markdownlint, docs-consistency

docs(claude): healer architecture section + quarantine-table truth + stale line refs
  CLAUDE.md
Due: none

docs(changelog): backfill three shipped July waves missing from [Unreleased]
  CHANGELOG.md
Due: none

refactor(providers): dedupe OpenAI-chat-format providers onto a shared base (#46 / B-201)
  Brainarr.Plugin/Services/Providers/Llm/BrainarrDeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrGroqProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiChatProviderBase.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenAiProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrOpenRouterProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrPerplexityProvider.cs
  Brainarr.Plugin/Services/Providers/Llm/BrainarrZaiGlmProvider.cs
  Brainarr.Tests/Providers/Llm/OpenAiChatProviderBaseContractTests.cs
  CHANGELOG.md
  CLAUDE.md
Due: check-api-keys, dotnet-format-whitespace

style(tests): fix dotnet format violations ahead of the B-208 CI gate
  Brainarr.Tests/Services/ConcurrencyTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorCostTrackingTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealerActionsTests.cs
  Brainarr.Tests/Services/Core/DuplicateFilterServiceNPlusOneTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add dotnet format gate to the authoritative Gitea pipeline (B-208)
  .gitea/workflows/ci.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Due: check-api-keys

chore: repin Common to b4b3145 + add scoped dependency-CVE gate
  .gitea/workflows/ci.yml
  .github/workflows/ci.yml
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
  CHANGELOG.md
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

chore(release): prepare v1.7.0
  CHANGELOG.md
  VERSION
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

docs: bump wiki Home latest-release line to v1.7.0 (docs-consistency gate)
  README.md
  docs/PLUGIN_MANIFEST.md
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

docs: bump PROVIDER_MATRIX.md header to v1.7.0 (docs-consistency gate)
  docs/PROVIDER_MATRIX.md
Due: docs-markdownlint, docs-consistency

fix(cost): warn once per provider for deliberately-unpriced pricing lookups
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Tests/Services/Cost/TokenCostEstimatorWarnOnceTests.cs
Due: check-api-keys, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

