Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

Delete prod_files.txt
  prod_files.txt
Due: none

Delete PR_ANALYSIS_REPORT.md
  PR_ANALYSIS_REPORT.md
Due: none

Delete DELEGATION_PLAN.md
  DELEGATION_PLAN.md
Due: none

Delete POST_REFACTOR_HEALTH_CHECK.md
  POST_REFACTOR_HEALTH_CHECK.md
Due: none

Ensure recent artist sorting helper and duplicate logging
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Refine stable ordering for recent sampling buckets
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Stabilize prompt ordering on tie scenarios
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure deterministic ordering for recent artist sampling (#212)
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure deterministic ordering for recent album sampling (#213)
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
Due: check-api-keys, dotnet-format-whitespace

Ensure library sample fingerprint ordering is stable (#215)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptPlannerTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: bump version to 1.2.8
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  README.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_MATRIX.md
  manifest.json
  plugin.json
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: add 1.2.8 release notes
  CHANGELOG.md
  docs/release-notes/v1.2.8.md
Due: docs-markdownlint, docs-consistency

docs: refresh provider matrix for v1.2.8
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  README.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_MATRIX.md
  manifest.json
  plugin.json
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

Harden prompt rendering determinism
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
Due: check-api-keys, dotnet-format-whitespace

Prepare 1.3.0 docs and sampling updates
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/BrainarrSettingsValidator.cs
  Brainarr.Plugin/Configuration/SamplingShape.cs
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptPlanner.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Prompting/PromptPlan.cs
  Brainarr.Plugin/Services/Utils/StableHash.cs
  Brainarr.Tests/Configuration/BrainarrSettingsTests.cs
  Brainarr.Tests/Configuration/BrainarrSettingsValidatorTests.cs
  Brainarr.Tests/Configuration/SamplingShapeTests.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  Brainarr.Tests/Utils/SafeAsyncHelperTests.cs
  CHANGELOG.md
  README.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/providers.yaml
  manifest.json
  plugin.json
  scripts/README.md
  scripts/sync-provider-matrix.ps1
  wiki-content/Advanced-Settings.md
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: centralize provider and release references
  docs/DEPLOYMENT.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
  docs/TROUBLESHOOTING.md
  docs/USER_SETUP_GUIDE.md
Due: docs-markdownlint, docs-consistency

docs: collapse legacy recommendation specs
  docs/PLAN_Prompt_Comprehensive_Styles.md
  docs/RECOMMENDATIONS.md
  docs/RECOMMENDATION_MODES.md
Due: docs-markdownlint, docs-consistency

wiki: fix outdated links and references
  wiki-content/Cloud-Providers.md
  wiki-content/First-Run-Guide.md
  wiki-content/Hallucination-Reduction.md
  wiki-content/Local-Providers.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

