Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci(n3): nightly packaging verification + contents manifest (#429)
  .github/workflows/packaging-gates.yml
  .github/workflows/verify-pins.yml
  .gitignore
  ext-common-sha.txt
  packaging/expected-contents.txt
Due: check-api-keys

ci(m5-6): add nightly live-service E2E tests (#428)
  .github/workflows/nightly-live.yml
  Brainarr.Tests/Integration/E2ELiveServiceTests.cs
  tests/Brainarr.TestKit.Providers/Http/LiveHttpClient.cs
Due: check-api-keys, dotnet-format-whitespace

feat(diag): add BrainarrHealthDiagnostics for LLM provider parity
  Brainarr.Plugin/Diagnostics/BrainarrHealthDiagnostics.cs
  Brainarr.Tests/Diagnostics/BrainarrHealthDiagnosticsAllowedValuesTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(diag): add BrainarrHealthDiagnostics for LLM provider parity (#430)
  Brainarr.Plugin/Diagnostics/BrainarrHealthDiagnostics.cs
  Brainarr.Tests/Diagnostics/BrainarrHealthDiagnosticsAllowedValuesTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor: extract StyleContextBuilder from LibraryAnalyzer god-class
  Brainarr.Plugin/Services/Core/ILibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/Core/StyleContextBuilder.cs
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
  Brainarr.Tests/Characterization/OrchestratorCharacterizationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/Core/LibraryAnalyzerTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: add test connection error hints to all providers
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
Due: check-api-keys, dotnet-format-whitespace

fix: address PR #432 review — null guard, sticky hints, URL redaction
  Brainarr.Plugin/Services/Core/LibraryAnalyzer.cs
  Brainarr.Plugin/Services/Providers/DeepSeekProvider.cs
  Brainarr.Plugin/Services/Providers/GroqProvider.cs
  Brainarr.Plugin/Services/Providers/LMStudioProvider.cs
  Brainarr.Plugin/Services/Providers/OllamaProvider.cs
  Brainarr.Plugin/Services/Providers/PerplexityProvider.cs
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: harden parity test, fix flaky concurrency, add hint contract
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
  Brainarr.Tests/Services/Providers/DeepSeekProviderTests.cs
  Brainarr.Tests/Services/Providers/GroqProviderTests.cs
  Brainarr.Tests/Services/Providers/LMStudioProviderTests.cs
  Brainarr.Tests/Services/Providers/OllamaProviderTests.cs
  Brainarr.Tests/Services/Providers/PerplexityProviderTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: add provider-specific API key redaction + stabilize flaky tests
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
  Brainarr.Tests/Infrastructure/ThreadSensitiveTestCollection.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
  Brainarr.Tests/Services/Resilience/ResiliencePolicyTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: add CultureInvariant to API key redaction regexes
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): remove manifest.json from required contents
  packaging/expected-contents.txt
Due: none

test(e2e): add E2E trait and 429 rate-limit test
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(e2e): add log-capture redaction contract tests
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(e2e): add log-capture redaction contract tests (#436)
  Brainarr.Tests/Integration/E2EHermeticGateTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(packaging): include manifest.json in build output for packaging-gates
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

fix(packaging): include manifest.json in build output for packaging-gates (#437)
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions
