Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

Normalize line endings after pre-commit
  Brainarr.Plugin/Services/Core/RecommendationPipeline.cs
  Brainarr.Plugin/Services/Core/TopUpPlanner.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
Due: check-api-keys, dotnet-format-whitespace

Stabilize plugin smoke test wait loop
  .github/workflows/plugin-package.yml
Due: check-api-keys

docs: clarify release status and provider messaging
  README.md
Due: docs-markdownlint, docs-consistency

docs: badge version update
  README.md
Due: docs-markdownlint, docs-consistency

ci: scope docs lint to changed markdown files
  .github/workflows/docs-lint.yml
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPlanCache.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/ModelPromptTemplate.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Time/IClock.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

docs: align README with release state and provider messaging (#207)
  .github/workflows/docs-lint.yml
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/Prompting/IPlanCache.cs
  Brainarr.Plugin/Services/Prompting/LibraryPromptRenderer.cs
  Brainarr.Plugin/Services/Prompting/ModelPromptTemplate.cs
  Brainarr.Plugin/Services/Prompting/PlanCache.cs
  Brainarr.Plugin/Services/Time/IClock.cs
  Brainarr.Tests/Services/LibraryAwarePromptBuilderTests.cs
  Brainarr.Tests/Services/Prompting/LibraryPromptRendererTests.cs
  Brainarr.Tests/Services/Prompting/PlanCacheTests.cs
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

docs: assemble changelog for v1.2.4 release
  CHANGELOG.md
Due: none

docs: normalize changelog spacing for lint
  .markdownlint.yml
  CHANGELOG.md
Due: check-api-keys

docs: update for 1.2.4.
  README.md
  docs/release-notes/v1.2.4.md
Due: docs-markdownlint, docs-consistency

Fix packaging layout for release artifacts
  .github/workflows/plugin-package.yml
  .github/workflows/release-simple.yml
  CHANGELOG.md
Due: check-api-keys

Align with Lidarr 2.14.2.4786
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  build.ps1
  build.sh
  docs/DEPLOYMENT.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_SUPPORT_MATRIX.md
  docs/RELEASE_CHECKLIST.md
  docs/TROUBLESHOOTING.md
  docs/USER_SETUP_GUIDE.md
  docs/VERIFICATION-CHECKLIST.md
  docs/VERIFICATION-RESULTS.md
  docs/archive/TROUBLESHOOTING_ENHANCED.md
  docs/ci-stability-guide.md
  docs/release-notes/v1.2.4.md
  manifest.json
  plugin.json
  scripts/extract-lidarr-assemblies.sh
  tasks/provider-testing.md
  test-local-ci.sh
  wiki-content/Advanced-Settings.md
  wiki-content/Home.md
  wiki-content/Installation.md
  wiki-content/Provider-Basics.md
  wiki-content/Review-Queue.md
  wiki-content/Troubleshooting.md
Due: docs-markdownlint, check-api-keys, docs-consistency

Release Brainarr 1.2.5
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  CHANGELOG.md
  README.md
  docs/PLUGIN_MANIFEST.md
  manifest.json
  plugin.json
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Release Brainarr 1.2.6
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  CHANGELOG.md
  Directory.Packages.props
  README.md
  docs/PLUGIN_MANIFEST.md
  manifest.json
  plugin.json
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Release Brainarr 1.2.7
  Brainarr.Plugin/Properties/AssemblyInfo.cs
  CHANGELOG.md
  README.md
  build.ps1
  docs/PLUGIN_MANIFEST.md
  manifest.json
  plugin.json
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(ci): ship fluentvalidation.dll with plugin builds
  .github/workflows/ci.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Brainarr.Tests/Brainarr.Tests.csproj
  scripts/extract-lidarr-assemblies.sh
Due: check-api-keys, check-csproj-versions

ci: restore fluentvalidation package version
  Directory.Packages.props
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

