Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix: add trailing newline to packages.lock.json
  Brainarr.Plugin/packages.lock.json
Due: none

test: add PluginSandbox runtime tests for merged DLL verification
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Runtime/PluginSandboxRuntimeTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

fix: add Validation package to NuGet source mapping
  NuGet.config
Due: check-api-keys

chore: add trailing newline to packages.lock.json
  Brainarr.Tests/packages.lock.json
Due: none

test: add PluginSandbox runtime tests (#535)
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Runtime/PluginSandboxRuntimeTests.cs
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  NuGet.config
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

deps: Bump the test-dependencies group with 1 update
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

chore(submodule): bump Common to 009c622
  ext-common-sha.txt
Due: none

fix: add trailing newline to packages.lock.json
  Brainarr.Tests/packages.lock.json
Due: none

fix: wave 1 hardening — module capability flags, doc typo, cache comment
  Brainarr.Plugin/Hosting/BrainarrModule.cs
  Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs
  docs/DOCUMENTATION_STATUS.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix: update ext-common-sha.txt to match submodule HEAD
  ext-common-sha.txt
Due: none

fix: remove unsupported lychee config fields (cache_dir, cache_timeout)
  .lychee.toml
Due: check-api-keys

chore: wave 2 — fix test warnings, archive docs readme
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Services/Support/CredentialRefreshServiceTests.cs
  docs/archive/README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs: wave 3 — CLAUDE.md audit, wiki-content polish
  CLAUDE.md
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

chore(submodule): bump Common to 602a1a9
  ext-common-sha.txt
Due: none

chore: wave 4 — dead code audit, obsolete markers, coverage notes
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleService.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICompatibleProvider.cs
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: wave 4 — dead code audit, obsolete markers, coverage notes (#542)
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleService.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICompatibleProvider.cs
  Brainarr.Plugin/Services/Providers/SecureProviderBase.cs
  Brainarr.Tests/Security/SecurityTestSuite.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: wave 5 — WeakReferenceCache tests + remove dead provider casts
  Brainarr.Plugin/Services/Caching/WeakReferenceCache.cs
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/ProviderLifecycleService.cs
  Brainarr.Plugin/Services/Core/RecommendationGenerator.cs
  Brainarr.Tests/Services/Caching/WeakReferenceCacheTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common to 62e1aff
  ext-common-sha.txt
Due: none
