Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

feat(tests): use FakeTimeProvider for deterministic CircuitBreaker tests (#367)
  .github/workflows/multi-plugin-smoke-test.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  Brainarr.Plugin/Resilience/CircuitBreaker.cs
  Brainarr.Tests/Brainarr.Tests.csproj
  Brainarr.Tests/Resilience/CircuitBreakerTests.cs
  Brainarr.Tests/packages.lock.json
  NuGet.config
  ext-common-sha.txt
Due: check-api-keys, check-csproj-versions, dotnet-format-whitespace

test(resilience): characterize Brainarr circuit breaker behavior
  Brainarr.Tests/Services/Resilience/CircuitBreakerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(resilience): make IBreakerRegistry injectable in orchestrator
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(resilience): characterize Brainarr circuit breaker behavior (#371)
  Brainarr.Tests/Services/Resilience/CircuitBreakerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(resilience): adapt Brainarr breaker to Common AdvancedCircuitBreaker
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
  Brainarr.Plugin/Services/Resilience/CommonBreakerRegistry.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

test(resilience): update DI seam tests for CommonBreakerRegistry
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(orchestrator): inject breaker registry in direct-construction tests
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(orchestrator): inject breaker registry in remaining direct-construction tests
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

Add shared PassThroughBreakerRegistry test helper
  Brainarr.Tests/Helpers/PassThroughBreakerRegistry.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

Inject IBreakerRegistry in all remaining test files
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigValidationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConnectionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealthTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorMoreTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(orchestrator): add breaker registry injection tripwires
  Brainarr.Tests/Helpers/PassThroughBreakerRegistryTests.cs
  Brainarr.Tests/Services/Core/OrchestratorConstructionTripwireTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): prevent flaky file-locking in dotnet test
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

ci: reduce transient dotnet file-lock failures in Test and Coverage
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

fix(ci): remove trailing whitespace breaking dotnet test command
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

refactor(resilience): make IBreakerRegistry injectable (WS4.2 PR0) (#373)
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Tests/BugFixes/DuplicateRecommendationFixTests.cs
  Brainarr.Tests/Helpers/PassThroughBreakerRegistry.cs
  Brainarr.Tests/Helpers/PassThroughBreakerRegistryTests.cs
  Brainarr.Tests/ModelOptionsRefreshTests.cs
  Brainarr.Tests/Resilience/AIProviderResilienceTests.cs
  Brainarr.Tests/Services/Core/ArtistModeMbidsGateTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorActionsExtrasTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigAndActionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConfigValidationTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorConnectionTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorEndToEndLiteTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorHealthTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorMoreTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorProviderTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorReviewActionsTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorSpecificTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTests.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/OrchestratorConstructionTripwireTests.cs
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(resilience): wire Brainarr breaker to Common AdvancedCircuitBreaker (WS4.2 PR2) (#374)
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
  Brainarr.Plugin/Services/Resilience/CommonBreakerRegistry.cs
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

style: fix formatting in BrainarrCircuitBreakerAdapter
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
Due: check-api-keys, dotnet-format-whitespace

fix: recover PR #374 changes (Common breaker adapter) (#375)
  Brainarr.Plugin/Services/Core/BrainarrOrchestratorFactory.cs
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
  Brainarr.Plugin/Services/Resilience/CommonBreakerRegistry.cs
  Brainarr.Tests/Services/Resilience/BreakerRegistryInjectionTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

refactor(resilience): delete legacy breaker implementation (WS4.2 PR3)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Resilience/BreakerRegistry.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/Services/Resilience/CircularBuffer.cs
  Brainarr.Plugin/Services/Resilience/ICircuitBreaker.cs
  Brainarr.Tests/Services/Resilience/CircuitBreakerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(resilience): address PR #376 review feedback
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerEventArgs.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerOpenException.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerOptions.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerStatistics.cs
  Brainarr.Plugin/Services/Resilience/CircuitState.cs
  Brainarr.Plugin/Services/Resilience/IBreakerRegistry.cs
  Brainarr.Plugin/Services/Resilience/ICircuitBreaker.cs
  Brainarr.Tests/Services/Resilience/CircuitBreakerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(resilience): delete legacy breaker implementation (WS4.2 PR3) (#376)
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Resilience/BrainarrCircuitBreakerAdapter.cs
  Brainarr.Plugin/Services/Resilience/BreakerRegistry.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreaker.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerEventArgs.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerOpenException.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerOptions.cs
  Brainarr.Plugin/Services/Resilience/CircuitBreakerStatistics.cs
  Brainarr.Plugin/Services/Resilience/CircuitState.cs
  Brainarr.Plugin/Services/Resilience/CircularBuffer.cs
  Brainarr.Plugin/Services/Resilience/IBreakerRegistry.cs
  Brainarr.Plugin/Services/Resilience/ICircuitBreaker.cs
  Brainarr.Tests/Services/Resilience/CircuitBreakerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(ci): add canonical Abstractions download and verification
  .github/workflows/packaging-closure.yml
  plugin.json
Due: check-api-keys, docs-consistency

chore(ci): run ManifestCheck in packaging closure
  .github/workflows/packaging-closure.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

