Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


ci: use shared Gitea lint gates
  .gitea/workflows/ci.yml
  ext-common-sha.txt
  scripts/tests/ci-has-parity-lint.Tests.ps1
  scripts/tests/ci-net8-only.Tests.ps1
  scripts/tests/packaging-gates-workflow.Tests.ps1
Due: check-api-keys

fix(ci): install Pester before shared lint runner in lint job
  .gitea/workflows/ci.yml
Due: check-api-keys

docs: gate consistency and refresh provider docs
  BUILD_REQUIREMENTS.md
  CLAUDE.md
  README.md
  SECURITY.md
  docs/DEPLOYMENT.md
  docs/PLUGIN_MANIFEST.md
  docs/PROVIDER_GUIDE.md
  docs/PROVIDER_MATRIX.md
  docs/USER_SETUP_GUIDE.md
  docs/providers.yaml
  scripts/check-docs-consistency.ps1
  scripts/tests/docs-consistency.Tests.ps1
  wiki-content/Home.md
Due: docs-markdownlint, check-api-keys, docs-consistency

ci: authenticate Common submodule checkout
  .gitea/workflows/ci.yml
Due: check-api-keys

chore(common): adopt hardened common host contracts
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
  ext-common-sha.txt
  tests/Brainarr.Parity.Tests/packages.lock.json
  tests/Brainarr.Providers.OpenAI.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys

chore(common): repin hardened testkit guard
  ext-common-sha.txt
Due: none

docs: guard provider defaults and ci gates
  .gitea/workflows/ci.yml
  Brainarr.Tests/Documentation/CiWorkflowContractTests.cs
  Brainarr.Tests/Documentation/MetadataConsistencyTests.cs
  README.md
  docs/PROVIDER_GUIDE.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

test(ci): require secret scan before verify
  scripts/tests/packaging-gates-workflow.Tests.ps1
Due: check-api-keys

ci: harden secret scan contract docs
  Brainarr.Tests/Documentation/CiWorkflowContractTests.cs
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

chore: repin common secret scan guard
  ext-common-sha.txt
Due: none

chore(common): repin to a43c2f1
  ext-common-sha.txt
Due: none

docs: align release docs with scripts
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
Due: docs-markdownlint, docs-consistency

docs: plan library healer a1 roadmap
  docs/superpowers/plans/2026-06-30-library-healer-a1-read-only-detection.md
  docs/superpowers/specs/2026-06-30-brainarr-vnext-import-brain-library-healer-design.md
Due: docs-markdownlint, docs-consistency

docs: align release guidance with gitea ci
  docs/DEPLOYMENT.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
  docs/TESTING_GUIDE.md
  docs/ci-stability-guide.md
  scripts/new-release.ps1
  scripts/new-release.sh
  scripts/tests/release-docs-ci-surface.Tests.ps1
Due: docs-markdownlint, check-api-keys, docs-consistency

docs: record library healer a1 api spike
  docs/superpowers/spikes/2026-06-30-library-healer-a1-api-spike.md
Due: docs-markdownlint, docs-consistency

feat: add library healer evidence primitives
  Brainarr.Plugin/Services/Healing/LibraryHealerEvidence.cs
  Brainarr.Plugin/Services/Healing/LibraryHealerLabels.cs
  Brainarr.Plugin/Services/Healing/PathPrivacy.cs
  Brainarr.Tests/Services/Healing/PathPrivacyTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: classify library healer evidence
  Brainarr.Plugin/Services/Healing/LibraryHealerClassifier.cs
  Brainarr.Tests/Services/Healing/LibraryHealerClassifierTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat: read library healer file symptoms
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/IFileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/ITagLibSymptomReader.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  Brainarr.Tests/Services/Healing/LidarrAudioTagSymptomReaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: bound library healer tag reads
  .superpowers/sdd/task-4-review-fix-report.md
  Brainarr.Plugin/Services/Healing/FileFingerprintService.cs
  Brainarr.Plugin/Services/Healing/LidarrAudioTagSymptomReader.cs
  Brainarr.Tests/Services/Healing/LidarrAudioTagSymptomReaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore: keep sdd reports untracked
  .superpowers/sdd/task-4-review-fix-report.md
Due: none
