Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


chore(pre-commit): apply auto-fixes
  Brainarr.Tests/Services/CorrelationAsyncFlowTests.cs
  Brainarr.Tests/Telemetry/MetricsCollectorExporterTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(coverage): collect Windows coverage and include both OSes in sticky PR comment (Windows overwrites summary)
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

feat(plugin): add Brainarr plugin with manifests and screenshots
  docs/assets/screenshots/import-lists.png
  docs/assets/screenshots/landing.png
  docs/assets/screenshots/results.png
  docs/assets/screenshots/settings.png
  plugin-dist/Lidarr.Plugin.Brainarr.dll
  plugin-dist/manifest.json
  plugin-dist/plugin.json
  scripts/snapshots/snap.mjs
Due: check-api-keys, docs-consistency

feat(snapshots): improve navigation and overlay handling in snap script
  package-lock.json
  package.json
  scripts/snapshots/snap.mjs
Due: check-api-keys

fix(release workflows): correct check-assemblies.sh usage and export LIDARR_PATH before build
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

fix(workflows): use positional dir for check-assemblies.sh; export LIDARR_PATH in sanity-build; normalize EoF
  .github/workflows/codeql.yml
  .github/workflows/mutation-tests.yml
  .github/workflows/registry.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

chore: normalize line endings for sanity-build.yml
  .github/workflows/sanity-build.yml
Due: check-api-keys

fix(automated-release): use .NET 6 SDK; disable roll-forward during build
  .github/workflows/release.yml
Due: check-api-keys

chore(release): unify workflows (workflow_call + wrapper)
  .github/workflows/release-simple.yml
  .github/workflows/release.yml
Due: check-api-keys

chore(release): add release-exists guard and gate steps
  .github/workflows/release.yml
Due: check-api-keys

chore(release): normalize workflow name and step titles for consistency
  .github/workflows/release.yml
Due: check-api-keys

docs: add root SECURITY.md; ci: AJV schema validation; release: include min Lidarr in notes; README: add Security section
  .github/scripts/generate-release-notes.sh
  .github/workflows/validate-manifests.yml
  README.md
  SECURITY.md
  schemas/manifest.schema.json
  schemas/plugin.schema.json
Due: docs-markdownlint, check-api-keys, docs-consistency

ci(schema): relax manifest.downloadUrl to allow {version} template
  schemas/manifest.schema.json
Due: none

ci(codeql): export LIDARR_PATH for manual build so extractor can create C# database
  .github/workflows/codeql.yml
Due: check-api-keys

docs(readme): add timeout defaults and tested local models; security: document SBOM + Cosign signatures; ci: validate package ZIP contents and sign releases with Cosign
  .github/workflows/plugin-package.yml
  .github/workflows/release.yml
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency

docs(security): add Cosign verification steps (keyless, GitHub OIDC) with Linux/macOS/Windows examples
  SECURITY.md
Due: none
