Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

ci: add PluginPackagingDisable to provider-contract tests
  .github/workflows/test-and-coverage.yml
Due: check-api-keys

feat: enable ILRepack for multi-plugin compatibility (#304)
  .github/workflows/ci.yml
  .github/workflows/registry.yml
  .github/workflows/test-and-coverage.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Packages.props
  NuGet.config
Due: check-api-keys, check-csproj-versions

test(isolation): add library linking edge case tests
  Brainarr.Tests/LibraryLinking/LibraryLinkingEdgeCaseTests.cs
  Brainarr.Tests/LibraryLinking/ServiceIsolationTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci(smoke-test): add multi-plugin co-existence test workflow
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

Add multi-plugin smoke test workflow
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

feat(ci): add dependency-review workflow with license denial
  .github/workflows/dependency-review.yml
Due: check-api-keys

fix: Simplify NuGet package mapping to use wildcard pattern
  .github/workflows/packaging-closure.yml
Due: check-api-keys

fix: update ext-common-sha.txt to match current submodule (7324d4d)
  ext-common-sha.txt
Due: none

fix: use TOML literal strings for regex patterns in .lychee.toml
  .lychee.toml
Due: check-api-keys

fix: exclude missing screenshot and WIP archive doc paths
  .lychee.toml
Due: check-api-keys

feat: Add Tidalarr CI patterns (nightly, packaging-closure, submodule-pin) (#302)
  .github/workflows/nightly.yml
  .github/workflows/submodule-pin.yml
  ext-common-sha.txt
Due: check-api-keys

fix: exclude wiki-content cross-references and blocked URLs
  .lychee.toml
Due: check-api-keys

chore: update Common submodule to acd7137 (SmartCache LFU-LRU)
  ext-common-sha.txt
Due: none

chore: update Common submodule to 9a59989 (HostConcurrencyGate)
  ext-common-sha.txt
Due: none

fix: use .lychee.toml config in docs-truth-check workflow
  .github/workflows/docs-truth-check.yml
Due: check-api-keys

chore: bump Common to 4b89405 (ILRepack multi-plugin support)
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Build.props
  ext-common-sha.txt
Due: check-api-keys, check-csproj-versions

chore: Update smoke test to reference Common library @main
  .github/workflows/multi-plugin-smoke-test.yml
Due: check-api-keys

fix(build): prevent NuGet ILRepack target with ExcludeAssets
  Brainarr.Plugin/Brainarr.Plugin.csproj
Due: check-csproj-versions

chore: bump Common to 4b89405 (ILRepack multi-plugin support) (#305)
  .github/workflows/multi-plugin-smoke-test.yml
  Brainarr.Plugin/Brainarr.Plugin.csproj
  Directory.Build.props
  ext-common-sha.txt
Due: check-api-keys, check-csproj-versions

fix(ci): handle broken pipe in packaging-closure workflow
  .github/workflows/packaging-closure.yml
Due: check-api-keys

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

