Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

fix: Add new subscription providers to test expectations
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: Correct dependency-review workflow (cannot use both allow/deny-licenses)
  .github/workflows/dependency-review.yml
Due: check-api-keys

feat: Add Claude Code and OpenAI Codex subscription providers (#310)
  .github/workflows/dependency-review.yml
  Brainarr.Plugin/BrainarrSettings.cs
  Brainarr.Plugin/Configuration/Constants.cs
  Brainarr.Plugin/Configuration/Enums.cs
  Brainarr.Plugin/Services/Core/AIProviderFactory.cs
  Brainarr.Plugin/Services/Core/ProviderRegistry.cs
  Brainarr.Plugin/Services/Providers/ClaudeCodeSubscriptionProvider.cs
  Brainarr.Plugin/Services/Providers/OpenAICodexSubscriptionProvider.cs
  Brainarr.Plugin/Services/Registry/ProviderSlugs.cs
  Brainarr.Plugin/Services/Support/CredentialRefreshService.cs
  Brainarr.Plugin/Services/Support/SubscriptionCredentialLoader.cs
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/Services/Registry/ProviderSlugsTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): resolve nightly workflow failures (#309)
  .github/workflows/nightly-perf-stress.yml
  .github/workflows/nightly.yml
  .github/workflows/screenshots.yml
Due: check-api-keys

chore(pre-commit): apply auto-fixes
  Brainarr.Plugin/packages.lock.json
Due: none

test: Add comprehensive unit tests for subscription providers
  Brainarr.Tests/Services/Providers/ClaudeCodeSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Providers/OpenAICodexSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Support/CredentialRefreshServiceTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

fix: Make environment variable expansion test cross-platform
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
Due: check-api-keys, dotnet-format-whitespace

test: Add comprehensive unit tests for subscription providers (#311)
  Brainarr.Tests/Services/Providers/ClaudeCodeSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Providers/OpenAICodexSubscriptionProviderTests.cs
  Brainarr.Tests/Services/Support/CredentialRefreshServiceTests.cs
  Brainarr.Tests/Services/Support/SubscriptionCredentialLoaderTests.cs
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: check-api-keys, dotnet-format-whitespace

docs: prepare v1.3.2 release with subscription provider documentation
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/providers.yaml
  plugin.json
Due: docs-markdownlint, check-api-keys, docs-consistency

chore(pre-commit): apply auto-fixes
  Brainarr.Tests/packages.lock.json
  tests/Brainarr.TestKit.Providers/packages.lock.json
Due: none

docs: sync provider matrix across all documents
  README.md
  docs/PROVIDER_MATRIX.md
  wiki-content/Home.md
Due: docs-markdownlint, docs-consistency

docs(wiki): add subscription providers to wiki pages
  wiki-content/First-Run-Guide.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, docs-consistency

docs: v1.3.2 release preparation (#312)
  CHANGELOG.md
  README.md
  docs/PROVIDER_MATRIX.md
  docs/configuration.md
  docs/providers.yaml
  plugin.json
  wiki-content/First-Run-Guide.md
  wiki-content/Home.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup.md
Due: docs-markdownlint, check-api-keys, docs-consistency

fix(ci): prevent SIGPIPE errors in assembly listing
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
Due: check-api-keys

fix(ci): prevent SIGPIPE errors in assembly listing (#313)
  .github/workflows/nightly.yml
  .github/workflows/packaging-closure.yml
Due: check-api-keys

fix(ci): add GITHUB_TOKEN env to release workflow
  .github/workflows/release.yml
Due: check-api-keys

fix(ci): add GITHUB_TOKEN env to release workflow (#314)
  .github/workflows/release.yml
Due: check-api-keys

fix(ci): configure git auth for tag push in release workflow
  .github/workflows/release.yml
Due: check-api-keys

fix(ci): configure git auth for tag push in release workflow (#315)
  .github/workflows/release.yml
Due: check-api-keys

security: update lychee-action to v2.2.0
  .github/workflows/docs-truth-check.yml
  .github/workflows/link-check.yml
Due: check-api-keys

fix: properly fix broken links instead of fail: false workaround
  .github/workflows/docs-truth-check.yml
  .lychee.toml
  wiki-content/Advanced-Settings.md
  wiki-content/First-Run-Guide.md
  wiki-content/Hallucination-Reduction.md
  wiki-content/Operations.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, check-api-keys, docs-consistency

fix: use TOML literal strings for regex patterns
  .lychee.toml
Due: check-api-keys

fix: exclude generated screenshots and stale file refs from link check
  .lychee.toml
Due: check-api-keys

security: update lychee-action to v2.2.0 (#316)
  .github/workflows/docs-truth-check.yml
  .github/workflows/link-check.yml
  .lychee.toml
  wiki-content/Advanced-Settings.md
  wiki-content/First-Run-Guide.md
  wiki-content/Hallucination-Reduction.md
  wiki-content/Operations.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, check-api-keys, docs-consistency

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

