Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


fix(ci): resolve absolute path for parity-lint baseline matching
  .github/workflows/ci.yml
Due: check-api-keys

fix(ci): resolve absolute path for parity-lint baseline matching (#412)
  .github/workflows/ci.yml
Due: check-api-keys

docs: document Category A sync-over-async in SafeAsyncHelper
  Brainarr.Plugin/Utils/SafeAsyncHelper.cs
Due: check-api-keys, dotnet-format-whitespace

feat(health): wire rate-limit header extraction and auth recording
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add provider allowlist guard
  .github/workflows/ci.yml
Due: check-api-keys

test(redaction): add provider-specific API key format tests
  Brainarr.Tests/Services/LogRedactionContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

test(providers): extend negative-path tests to all 11 providers
  Brainarr.Tests/Services/ProviderNegativePathContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix(ci): resolve 3 pre-existing CI failures on PR #414
  .github/workflows/gitleaks.yml
  .gitleaks.toml
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(ci): address PR #414 review feedback
  .gitleaks.toml
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/OrchestratorIntegrationCollection.cs
  Brainarr.Tests/Services/ProviderNegativePathContractTests.cs
Due: check-api-keys, dotnet-format-whitespace

fix: remove double-reset smell and add fingerprint rotation docs
  .gitleaks.toml
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
Due: check-api-keys, dotnet-format-whitespace

feat(health): rate-limit extraction, negative-path contracts, CI hardening (#414)
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .gitleaks.toml
  Brainarr.Plugin/Services/Core/AIService.cs
  Brainarr.Plugin/Services/Core/BrainarrOrchestrator.cs
  Brainarr.Plugin/Services/Providers/BaseCloudProvider.cs
  Brainarr.Plugin/Services/Resilience/LimiterRegistry.cs
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/OrchestratorIntegrationCollection.cs
  Brainarr.Tests/Services/LogRedactionContractTests.cs
  Brainarr.Tests/Services/ProviderNegativePathContractTests.cs
  Brainarr.Tests/Services/Providers/BaseCloudProviderTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: add sync-over-async lint guard
  .github/sync-over-async-allowlist.json
  .github/workflows/ci.yml
  scripts/lint-sync-over-async.ps1
Due: check-api-keys

ci: add sync-over-async lint guard (#415)
  .github/sync-over-async-allowlist.json
  .github/workflows/ci.yml
  scripts/lint-sync-over-async.ps1
Due: check-api-keys

ci(lint): add warn-only detection for .Result and .Wait()
  scripts/lint-sync-over-async.ps1
Due: check-api-keys

ci(lint): add warn-only detection for .Result and .Wait() (#416)
  scripts/lint-sync-over-async.ps1
Due: check-api-keys

chore(deps): bump Common submodule to ebb8c68
  ext-common-sha.txt
Due: none

chore(deps): bump Common submodule to ebb8c68 (#417)
  ext-common-sha.txt
Due: none

feat(m6-1): add LibraryAnalyzer characterization tests
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract FallbackPromptGenerator from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/FallbackPromptGenerator.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

feat(m6-1): add LibraryAnalyzer characterization tests (#418)
  Brainarr.Tests/Characterization/LibraryAnalyzerCharacterizationTests.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract FallbackPromptGenerator from LibraryAwarePromptBuilder (#419)
  Brainarr.Plugin/Services/FallbackPromptGenerator.cs
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract TokenBudgetResolver from LibraryAwarePromptBuilder
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/TokenBudgetResolver.cs
Due: check-api-keys, dotnet-format-whitespace

refactor(m6-2): extract TokenBudgetResolver from LibraryAwarePromptBuilder (#420)
  Brainarr.Plugin/Services/LibraryAwarePromptBuilder.cs
  Brainarr.Plugin/Services/TokenBudgetResolver.cs
Due: check-api-keys, dotnet-format-whitespace
