Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$


security: update lychee-action to v2.2.0 (#316)
  .github/workflows/docs-truth-check.yml
  .github/workflows/link-check.yml
  .lychee.toml
  wiki-content/Advanced-Settings.md
  wiki-content/First-Run-Guide.md
  wiki-content/Hallucination-Reduction.md
  wiki-content/Operations.md
  wiki-content/Provider-Selector.md
  wiki-content/Provider-Setup-Guide.md
  wiki-content/Provider-Setup.md
  wiki-content/Review-Queue.md
Due: docs-markdownlint, check-api-keys, docs-consistency

deps: Bump Bogus from 35.6.3 to 35.6.5
  Brainarr.Tests/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

deps: Bump ILRepack.Lib.MSBuild.Task from 2.0.34.2 to 2.0.44.1
  Brainarr.Plugin/packages.lock.json
  Directory.Packages.props
Due: check-api-keys

fix(ci): prevent file locking in multi-target framework builds
  .github/workflows/nightly.yml
Due: check-api-keys

fix(ci): prevent nightly cancellations with per-matrix concurrency
  .github/workflows/nightly.yml
Due: check-api-keys

fix(tests): make RateLimiter test CI-friendly
  Brainarr.Tests/Services/RateLimiterTests.cs
Due: check-api-keys, dotnet-format-whitespace

ci: improve caching and clean up workflows
  .github/workflows/add-to-project.yml.disabled
  .github/workflows/build.yml.disabled
  .github/workflows/ci.yml
  .github/workflows/close-superseded-pr-155.yml
  .github/workflows/project-auto-add.yml.disabled
Due: check-api-keys

fix(tests): use proper HttpResponse constructor instead of reflection
  Brainarr.Tests/Helpers/HttpResponseFactory.cs
Due: check-api-keys, dotnet-format-whitespace

Add Gitleaks secret scanning workflow
  .github/workflows/gitleaks.yml
Due: check-api-keys

chore(pre-commit): apply auto-fixes
  Brainarr.Plugin/packages.lock.json
  Brainarr.Tests/packages.lock.json
Due: none

fix(ci): pin SDK to 8.x to prevent .NET 10 rollforward
  global.json
Due: none

fix(ci): add -m:1 flag to prevent multi-target build race condition
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: check-api-keys

feat(ci): add failure notifications and automated submodule bump
  .github/workflows/bump-common.yml
  .github/workflows/notify-failure.yml
Due: check-api-keys

feat(ci): add failure notifications and automated submodule bump (#321)
  .github/workflows/bump-common.yml
  .github/workflows/notify-failure.yml
Due: check-api-keys

fix: update ext-common-sha.txt to match submodule
  ext-common-sha.txt
Due: none
