Repository RicherTunes/Brainarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-markdownlint, check-api-keys, docs-consistency, check-csproj-versions, dotnet-format-whitespace

docs-markdownlint:
  name: Markdown lint (docs)
  ...

check-api-keys:
  name: Check for API Keys
  entry: '(?i)(api[_\-\s]?key|api[_\-\s]?secret|access[_\-\s]?token|auth[_\-\s]?token|
  
    client[_\-\s]?secret|password|passwd|pwd|secret[_\-\s]?key|
  
    private[_\-\s]?key|ssh[_\-\s]?key)[\s]*[:=][\s]*[''"][^''"]{20,}[''"]
  
    '
  language: pygrep

docs-consistency:
  name: Docs consistency (version/paths)
  entry: bash scripts/check-docs-consistency.sh
  language: system
  pass_filenames: false

check-csproj-versions:
  name: Check .csproj package versions
  entry: PackageReference.*Version="[^"]*\*
  language: pygrep

dotnet-format-whitespace:
  name: dotnet format whitespace (auto-fix)
  entry: bash -lc 'DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_NOLOGO=1 dotnet format whitespace --exclude Brainarr.Plugin/Services/Caching/EnhancedRecommendationCache.cs'
  language: system
  pass_filenames: false

chore(submodule): bump Common 211bbe8 → 70f9ebc (Wave-22-28 mega-merge landed)
  ext-common-sha.txt
Due: none

chore(submodule+manifest): bump Common 0548c89 → 211bbe8 + commonVersion 1.17.0 → 1.18.0-dev (Wave-26 lockstep)
  ext-common-sha.txt
  manifest.json
  plugin.json
Due: docs-consistency

fix(testkit): Brainarr.TestKit.Providers references Common TestKit project
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

chore(lint): remove dead duplicate .markdownlint.yaml
  .markdownlint.yaml
Due: check-api-keys

docs(claude): document ext-common-sha.txt submodule pin coordination
  CLAUDE.md
Due: none

chore(plugin.json): add license/tags/targetFramework/rootNamespace for ecosystem parity
  plugin.json
Due: docs-consistency

chore: drop .NET 6 — bump minHostVersion to 3.0.0.4855
  docs/providers.yaml
  manifest.json
  plugin.json
Due: check-api-keys, docs-consistency

fix(build): remove AdditionalProperties from TestKit ProjectReference to fix CS0234
  tests/Brainarr.TestKit.Providers/Brainarr.TestKit.Providers.csproj
Due: check-csproj-versions

fix(tests): null-coalesce in HttpResponseFactory shim + align README minHostVersion
  Brainarr.Tests/Helpers/HttpResponseFactory.cs
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

perf+docs: cache 17 uncompiled Regex hot paths + drop stale .NET 6 doc refs
  Brainarr.Plugin/Services/Core/SessionDeduplication.cs
  Brainarr.Plugin/Services/DuplicationPrevention.cs
  Brainarr.Plugin/Services/IterativeRecommendationStrategy.cs
  Brainarr.Plugin/Services/RecommendationValidator.cs
  Brainarr.Plugin/Utils/ModelNameFormatter.cs
  CLAUDE.md
  README.md
Due: docs-markdownlint, check-api-keys, docs-consistency, dotnet-format-whitespace

fix(hardening): cap UsageHistory at 10K entries + add diagnostic logging
  Brainarr.Plugin/Services/Cost/TokenCostEstimator.cs
  Brainarr.Plugin/Services/Providers/Shared/FormatPreferenceCache.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common 70f9ebc → b437b4e (Wave-30 features landed)
  ext-common-sha.txt
Due: none

fix(tests): stabilize 3 flaky tests — root-cause fixes, 3/3 stress green
  Brainarr.Tests/ChaosMonkey/RateLimiterChaosMonkeyTests.cs
  Brainarr.Tests/Resilience/LimiterRegistryMaintenanceTests.cs
  Brainarr.Tests/Services/Health/BackendHealthCacheTests.cs
  ext-common-sha.txt
Due: check-api-keys, dotnet-format-whitespace

fix(tests): widen LibraryProfile TTL margins + serialize orchestrator collection
  Brainarr.Tests/Services/Core/BrainarrOrchestratorTopUpTests.cs
  Brainarr.Tests/Services/Core/LibraryProfileServiceOptionsTests.cs
Due: check-api-keys, dotnet-format-whitespace

chore(submodule): bump Common → 630dd09 (TestKit fix + resolvedFlags + dependabot deps)
  ext-common-sha.txt
Due: none

Path conditions:
  docs-markdownlint: any of: (README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-api-keys: any of: not ((?x)^(
  .*\.md|
  .*\.txt|
  .*\.json|
  .*\.csproj|
  .*/Tests/.*|
  .*/test/.*
)$
), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  docs-consistency: any of: (plugin\.json|README\.md|docs/.*\.md|wiki-content/.*\.md), but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  check-csproj-versions: any of: \.csproj$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

  dotnet-format-whitespace: any of: \.cs$, but not: (?x)^(
  ext/.*|
  Lidarr/.*|
  .*\.dll|
  .*\.exe|
  .*\.pdb|
  .*\.zip|
  .*\.tar\.gz|
  .*/bin/.*|
  .*/obj/.*|
  .*/TestResults/.*
)$

